<div class="login-main Signup Forgot-pss">
  <div class="login-left">
     <div class="login-left-inn">
        <div class="logo-div">
           <a href=""><img src="assets/theme/images/top-logo.png"></a>
        </div>
        <div class="login-right-inner">
          <h2>Reset Password</h2><br>
          <form novalidate [formGroup]="formGroup">
            <div *ngIf="formGroup?.value"></div>
              <label>New Password</label>
              <input type="password" [(ngModel)]="new_password" formControlName="new_password"  name="new_password"  class="form-control">
              <div  *ngIf="formGroup.controls['new_password'].touched">
                <div *ngIf="formGroup.controls['new_password'].errors?.required" class="alert alert-danger">New Password is required
              </div>
              <div *ngIf="formGroup.controls['new_password'].errors?.minlength" class="alert alert-danger">New Password must be atleast 6 character in length
              </div>
            </div>

            <label>Confirm New Password</label>
             <input type="password" [(ngModel)]="confirm_password" formControlName="confirm_password"  name="confirm_password"  class="form-control">
             <div  *ngIf="formGroup.controls['confirm_password'].touched">
              <div *ngIf="formGroup.controls['confirm_password'].errors?.required" class="alert alert-danger">Confirm Password is required
            </div>
            <div *ngIf="formGroup.controls['confirm_password'].errors?.minlength" class="alert alert-danger">Confirm Password must be atleast 7 character in length
            </div>
          </div>
           <br>
          </form>
          <button type="button" (click)="resetPassword()" class="btn btn-success">Reset password <i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>   
        </div>
     </div>
  </div>
  <div class="login-right">
     <img src="assets/theme/images/login_right_side.png" alt="">
  </div>
</div> 



