<!--<div class="jumbotron text-center">
    <h1>TinyPrep</h1>
    <p>Categories</p>
    <p (click)="Logout()">LogOut </p>
 </div>
 <div class="ask-question"><a href="#"><img src="assets/theme/images/askpenny.png"></a></div>-->
 <div class="header" id="header">
    <div class="container-fluid">
       <div class="header-logo-left">
          <img src="assets/theme/images/logo-dashboard.png" alt="">
       </div>
       
       <div  class="header-name-right" style="display: none;">
          <!-- <li class="noti"><a href=""><img src="images/noti-icon.png" alt="noti"></a></li> -->
          <input type="hidden" id="cuserid" value="{{userDataArray?userDataArray.id:''}}"/>
          <div class="header-name-right1" >
            
            <span class="profile-images" >

               <img  src="{{userDataArray?imageDirectoryPath+userDataArray.image:defaultimage}}">

            </span>
             <div class="dropdown"> 
                
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                  <span class="cusername">
                     <td>{{userDataArray?userDataArray.name:''}}</td>
                 </span>
                </button>
                <div class="dropdown-menu">
                   <a class="dropdown-item" [routerLink]="['/profile']" [routerLinkActive]="['active']"  href="/profile">Profile</a>
                   <a class="dropdown-item" [routerLink]="['/get-help']" [routerLinkActive]="['active']"  href="/get-help">Get Help</a>
                  <!-- <a class="dropdown-item" routerLink='/change-password' >Change Password</a>  -->
                   <a class="dropdown-item" (click)="Logout()" >Logout</a>
                </div>    
             </div>
             <div class="notification">
               <select class="form-control" id="sel1">
                  <option>EN</option>
                  <option>CA</option>
                  <option>NZ</option>
                  <option>AUS</option>
               </select>
               <i class="far fa-bell"></i>
            </div>
             
          </div>
       </div>
    </div>
 </div>