<div class="footer">
    Copyright © 2021 tinyPrep ™ . All rights reserved.
 </div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="assets/theme/js/jquery.min.js"></script>
<script src="assets/theme/js/popper.min.js"></script>
<script src="assets/theme/js/bootstrap.min.js"></script>
<script>
function openNav() {
document.getElementById("mySidebar").style.width = "500px";
document.getElementById("main").style.marginLeft = "500px";
}


function closeNav() {
document.getElementById("mySidebar").style.width = "0";
document.getElementById("main").style.marginLeft= "0";
}
</script>

