<!-- <div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Tiny<span>Prep</span></div>
		</div>
		<br>
		<div class="login">
            <span *ngIf="messageError !=''" style="color: red;">{{messageError}}</span>
				<input  type="text" placeholder="email" name="email" [(ngModel)]="email"><br>
				<input type="password" placeholder="password" name="password" [(ngModel)]="password"><br>
				<input (click)="submitLoginForm()" type="button" value="Sign in">
				<button [routerLink]="['/signup']" class="form-control signup">Don't have account?Sign up</button>
				<button [routerLink]="['/forget-password']" class="form-control signup">Forget Password</button>
		</div>
		<body> -->
			
		<div class="login-main">
			<div class="login-left">
			   <div class="login-left-inn">
				  <div class="logo-div">
					 <a href=""><img src="assets/theme/images/top-logo.png"></a>
				  </div>
				  <div class="login-right-inner">
					 <h3>Welcome back!</h3>
					 <h4>Log in to your tinyprep&trade;   app </h4>
					 <form novalidate [formGroup]="formGroup">
						<div *ngIf="formGroup?.value"></div>
						<div class="form-group">
						   <input type="email" class="form-control"  formControlName="email"  name="email" [(ngModel)]="email" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">
						   <div  *ngIf="formGroup.controls['email'].touched" class="error-div">
							<div *ngIf="formGroup.controls['email'].errors?.required" class="alert alert-danger"> email is required
						  </div>
						  <div *ngIf="formGroup.controls['email'].errors?.pattern" class="alert alert-danger"> invalid email 
						</div>
						</div>
						</div>
						<div class="row">
							
						</div>
						<div class="form-group">
						   <input [type]="show ? 'text' : 'password'" formControlName="password" name="password" [(ngModel)]="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
						   <a class="view" (click)="password_show()"><i class="far fa-eye"></i></a>
						   <div  *ngIf="formGroup.controls['password'].touched" class="error-div">
							<div *ngIf="formGroup.controls['password'].errors?.required" class="alert alert-danger"> password is required
						  </div>
						 </div>
						</div>
						<div class="form-group form-check">
						   <label class="rem"> Keep me signed in?
						 	<input type="checkbox" >
						   <span class="checkmark"></span>
						  
						</label>


						   <a href="" [routerLink]="['/forget-password']" class="forgot"><i class="forget_pass"><img class="lock" src="assets/theme/images/lock.png" alt=""></i>Forgot password?</a>
						</div>
						<button type="submit" [disabled]="formGroup?.invalid" (click)="submitLoginForm()" class="btn">CONTINUE  <i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
					</form>
						<h6 class="or-login">Or log in with</h6>
						<div class="social-links-for-login">
						   <button class="btn" (click)="loginWithGoogle()"><img class="google-icon" src="assets/theme/images/google.png" alt=""></button>
						   <button class="btn" (click)="applelogin()"><i class="fab fa-apple"></i></button>
						   <button class="btn" (click)="loginWithFacebook()"><i class="fab fa-facebook-f"></i></button>
						</div>
						<div class="accounthave">
						   <h6>New here?<a [routerLink]="['/signup']"> Create an account</a></h6>
						</div>
					
				  </div>
			   </div>
			</div>
			<div class="login-right">
			   <img src="assets/theme/images/login_right_side.png" alt="">
			</div>
		 </div>
	
		 <button class="underdevelopment-go-action" data-toggle="modal" data-target="#underdevelopment-go"></button>
		 <div class="modal fade underdevelopment-go" id="underdevelopment-go" tabindex="-1" role="dialog" aria-labelledby="Shopping-go"
			 aria-hidden="true">
			 <div class="modal-dialog" role="document">
				 <div class="modal-content">
					 <div class="modal-body">
						 <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							 <span aria-hidden="true">&times;</span>
						 </button>
						 <div class="congrats-content">
							Apple login is Under Develpment!
						 </div><!-- congrats-content -->
					 </div>
				 </div>
			 </div>
		 </div>
		 