<app-header></app-header>
<main class="Category sub-inventory">
  <div class="dashboard-body">
    <app-sidebar></app-sidebar>
    <div class="dashboard-right-part">
      <div class="right-inn-main">
        <div class="top-heading">
          <h4>Users Lists</h4>
          <button
            data-toggle="modal"
            data-target="#myModals"
            class="btn btn-sm btn-success add-user"
          >
            <i class="fa fa-user-plus" aria-hidden="true"></i>
          </button>
        </div>

        <div
          class="top-head-right-side add-quick-item-main product-list-head-btm"
        >
          <div class="search">
            <img
              src="assets/theme/images/search-icon.png"
              alt="search"
              class="search"
            /><input
              name="search_name"
              [(ngModel)]="search_name"
              placeholder="Search Users..."
              class="form-control"
            />
          </div>
          <button (click)="searchApi()" class="btn btn-sm btn-success">
            Search <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
          </button>
        </div>
        <div class="main-table-div users-table">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Sr.No.</th>
                <th>User Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Created At</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of userListsArray; let i = index">
                <!-- <span *ngIf = "i == 0"><button class="btn btn-sm btn-danger" disabled>Delete Category</button></span>  -->
                <td>{{ i + 1 }}</td>
                <td>{{ user.id }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.created_at }}</td>
                <td>
                  <button
                    data-toggle="modal"
                    data-target="#myModal"
                    class="btn btn-sm btn-info"
                    (click)="editUser(user.id, user.name, user.email)"
                  >
                    <i class="fa fa-edit" aria-hidden="true"></i>
                  </button>
                  &nbsp;
                  <button
                    type="submit"
                    (click)="deleteUser(user.id)"
                    class="btn btn-sm btn-danger"
                  >
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  </button>
                </td>
              </tr>
              <span *ngIf="userListsArray == ''" style="color: red">{{
                messageNotFound
              }}</span>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div id="myModal" class="modal fade users-modal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
            <h4 class="modal-title">Edit Users</h4>
          </div>
          <form novalidate [formGroup]="formGroup">
            <!-- <div class="modal-body">
        <label>Name</label>
        <input name="name" [(ngModel)]="name" class="form-control">
      </div> -->
            <div class="modal-body">
              <div class="form-group">
                <label>Name</label>
                <input type="hidden" name="type" class="form-control" />
                <input
                  name="name"
                  [(ngModel)]="name"
                  formControlName="name"
                  class="form-control"
                />
                <div *ngIf="formGroup.controls['name'].touched">
                  <div
                    *ngIf="formGroup.controls['name'].errors?.required"
                    class="alert alert-danger"
                  >
                    Name is required
                  </div>
                  <div
                    *ngIf="formGroup.controls['name'].errors?.minlength"
                    class="alert alert-danger"
                  >
                    Name must be atleast 3 character in length
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Email</label>
                <input
                  name="email"
                  [(ngModel)]="email"
                  formControlName="email"
                  class="form-control"
                />
                <div *ngIf="formGroup.controls['email'].touched">
                  <div
                    *ngIf="formGroup.controls['email'].errors?.required"
                    class="alert alert-danger"
                  >
                    Email is required
                  </div>
                  <div
                    *ngIf="formGroup.controls['email'].errors?.email"
                    class="alert alert-danger"
                  >
                    Enter valid email
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="modal-body">
        <label>Email</label>
        <input name="email" [(ngModel)]="email" class="form-control">
      </div> -->
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-default"
                data-dismiss="modal"
              >
                Close
              </button>
              <button
                type="button"
                (click)="editUsers()"
                class="btn btn-success"
              >
                Save <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
              </button>
              <button
                [disabled]="name === ''"
                id="closeSaveModel"
                style="display: none"
                class="btn btn-success"
                data-dismiss="modal"
              >
                Save
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div id="myModals" class="modal fade users-modal" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
            <h4 class="modal-title">Add Users</h4>
          </div>

          <div *ngIf="messageError" class="alert alert-danger text-center">
            <div>{{ messageError }}</div>
          </div>

          <!-- Errors -->
          <div class="text-center">
            <div *ngIf="errors?.name" class="alert alert-danger mt-3">
              {{ errors?.name }}
            </div>
            <div *ngIf="errors?.email" class="alert alert-danger mt-3">
              {{ errors?.email }}
            </div>
            <div *ngIf="errors?.password" class="alert alert-danger mt-3">
              {{ errors?.password }}
            </div>
          </div>

          <form novalidate [formGroup]="formGroup">
            <div *ngIf="formGroup?.value"></div>
            <!-- {{formGroup?.value|json}} -->
            <div class="modal-body">
              <div class="form-group">
                <label>Name</label>
                <input type="hidden" name="type" class="form-control" />
                <input
                  name="name"
                  [(ngModel)]="name"
                  formControlName="name"
                  class="form-control"
                />
                <div *ngIf="formGroup.controls['name'].touched">
                  <div
                    *ngIf="formGroup.controls['name'].errors?.required"
                    class="alert alert-danger"
                  >
                    Name is required
                  </div>
                  <!-- <div *ngIf="formGroup.controls['name'].errors?.maxlength" class="alert alert-danger">Exceeded max limit 
            </div> -->
                  <div
                    *ngIf="formGroup.controls['name'].errors?.minlength"
                    class="alert alert-danger"
                  >
                    Name must be atleast 3 character in length
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Email</label>
                <input
                  name="email"
                  type="email"
                  [(ngModel)]="email"
                  formControlName="email"
                  class="form-control"
                />
                <div *ngIf="formGroup.controls['email'].touched">
                  <div
                    *ngIf="formGroup.controls['email'].errors?.required"
                    class="alert alert-danger"
                  >
                    Email is required
                  </div>
                  <div
                    *ngIf="formGroup.controls['email'].errors?.email"
                    class="alert alert-danger"
                  >
                    Enter valid email
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Password</label>
                <input
                  type="password"
                  name="password"
                  [(ngModel)]="password"
                  formControlName="password"
                  class="form-control"
                />
                <div *ngIf="formGroup.controls['password'].touched">
                  <div
                    *ngIf="formGroup.controls['password'].errors?.required"
                    class="alert alert-danger"
                  >
                    Password is required
                  </div>
                  <div
                    *ngIf="formGroup.controls['password'].errors?.minlength"
                    class="alert alert-danger"
                  >
                    Password must be atleast 7 character in length
                  </div>
                </div>
              </div>
            </div>
          </form>

          <!-- <div class="modal-body">
          <label>Name</label>
          <input type="hidden" name="type" [(ngModel)]="type" class="form-control">
          <input name="name" [(ngModel)]="name" class="form-control"  id="name" required maxlength="30" minlength="2" #name="ngModel">

          
        </div>
        <div class="modal-body">
          <label>Email</label>
          <input name="email" [(ngModel)]="email" class="form-control">
        </div>
        <div class="modal-body">
          <label>Password</label>
          <input type="password" name="password" [(ngModel)]="password" class="form-control">
        </div> -->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              Close
            </button>
            <button type="button" (click)="addUsers()" class="btn btn-success">
              Save <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
            </button>
            <!-- [disabled]="formGroup?.invalid"  -->
            <button
              id="closeSaveModel"
              style="display: none"
              class="btn btn-success"
              data-dismiss="modal"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
