<!-- <app-header></app-header>
<div class="container" style="max-width: 1000px;">
  <button data-toggle="modal" data-target="#myModal" class="btn btn-sm btn-primary">Add category</button>
  &nbsp; <span (click)="RedirectToShoppingLists()">Shopping List</span>&nbsp;
  <button routerLink='/items-list' class="btn btn-sm btn-info">Items</button>  &nbsp;
  <button routerLink='/get-help' class="btn btn-sm btn-warning"><i class="fa fa-user" aria-hidden="true"></i> Get Help</button>
  &nbsp;
  
  
  
  <br><br>
  <div class="form-group">
    <div class="row">
        <div class="col-sm-3">
            <input name="category_search" [(ngModel)]="category_search" placeholder="Search Category..." class="form-control">
        </div>
         <div class="col-sm-3">
            <button (click)="searchApi()" class="btn btn-sm btn-success">Search</button> 
         </div>
        </div>
      </div>
     <br>
     
  <table style="border:1 px" class="table">
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Notes</th>
      <th>Added By</th>
     <th>Action</th> 
    </tr>
    <tr> <td colspan="5" [routerLink]="['/items-list']">All Items</td></tr>
   
    <tr *ngFor="let post of categoresArray">
      <td><img src='{{imageDirectoryPath}}{{post.categories_image}}' style="max-width: 25%;"></td>
    
     
      <td [routerLink]="['/sub-category']" [queryParams]="{id: post.id,name: post.cat_name}">{{post.cat_name}}</td>
     
      <td>{{post.categories_notes}}</td>
      <td>
        <div *ngIf="post.type == 1; else elseBlock"> Admin </div>
        <ng-template #elseBlock>Myself </ng-template>
      </td>
     <td><button [routerLink]="['/products']" [queryParams]="{id: post.id,name:post.cat_name}"
          class="btn btn-sm btn-info"><i class="fa fa-plus" aria-hidden="true"></i> Products</button>
        &nbsp;
       
        <span *ngIf="post.type == 2"><button (click)="deleteCategoryLists(post.id)" class="btn btn-sm btn-danger"><i class="fa fa-trash" aria-hidden="true"></i>
            </button></span>
        <span *ngIf="post.type == 1"><button class="btn btn-sm btn-danger" disabled><i class="fa fa-trash" aria-hidden="true"></i></button></span>
      </td> 
    </tr>
  </table>
</div>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
    
        <h4 class="modal-title">Add Category</h4>
      </div>
      <form novalidate [formGroup]="formGroup">
        <div *ngIf="formGroup?.value"></div>
   
      <div class="modal-body">
        <label>Category Name</label>
        <input type="hidden" name="type" class="form-control">
        <input name="categories_name" [(ngModel)]="categories_name" formControlName="categories_name"  class="form-control">
        <div  *ngIf="formGroup.controls['categories_name'].touched">
          <div *ngIf="formGroup.controls['categories_name'].errors?.required" class="alert alert-danger">Category name is required
        </div>
        <div *ngIf="formGroup.controls['categories_name'].errors?.minlength" class="alert alert-danger">Category name must be atleast 3 character in length
        </div>
      </div>
        
      </div>
   
      <div class="modal-body">
        <label>Notes</label>
        <input type="hidden" name="type" class="form-control">
        <input name="categories_notes" [(ngModel)]="categories_notes" formControlName="categories_notes"  class="form-control">
        <div  *ngIf="formGroup.controls['categories_notes'].touched">
          <div *ngIf="formGroup.controls['categories_notes'].errors?.required" class="alert alert-danger">Notes is required
        </div>
        <div *ngIf="formGroup.controls['categories_notes'].errors?.minlength" class="alert alert-danger">Notes must be atleast 3 character in length
        </div>
      </div>
        
      </div>
      <div class="modal-body">
        <label>Category Image</label>
        <input type="hidden" name="type" class="form-control">
         <input type="file" name="categories_image" formControlName="categories_image" (change)="onFileSelected($event)" class="form-control">
      
        <div  *ngIf="formGroup.controls['categories_image'].touched">
          <div *ngIf="formGroup.controls['categories_image'].errors?.required" class="alert alert-danger">Category Image is required
        </div>
        
      </div>
        
      </div>
     
     
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button"  (click)="addCategory()" class="btn btn-success">Save</button>
        <button [disabled]="categories_name === ''" id="closeSaveModel"  style="display: none;" class="btn btn-success"
          data-dismiss="modal">Save</button>
      </div>
    </form>
    </div>
  </div>  
</div> 
<div id="myModals" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
       
        <h4 class="modal-title">Edit Category</h4>
      </div>
      <div class="modal-body">
        <label>Name</label>
       
        <input name="category" [(ngModel)]="category" class="form-control">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" (click)="editCategories()" class="btn btn-success"><i *ngIf="ShowSubmitLoader"
            id="loginLOader" class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Save</button>
        <button [disabled]="category === ''" id="closeSaveModel" style="display: none;" class="btn btn-success"
          data-dismiss="modal">Save</button>
      </div>
    </div>

  </div>
</div> -->

<main class="Category my-inventory">
	<div class="dashboard-body">
		<app-sidebar></app-sidebar>
		<div class="dashboard-right-part">
			<div class="right-inn-main">
				<div class="top-heading">
					<div class="top-heading-inn">
						<h2>My Inventory</h2>
					</div>
					<div class="filter-buttons">
						<div class="top-head-right-side add-quick-item-main product-list-head-btm">
							<div class="search">
								<img src="assets/theme/images/search-icon.png" alt="search" class="search">
								<!-- <input type="search" placeholder="Search Inventory"> -->
								<input type="search" (keyup)="filterCat()" name="category_search" [(ngModel)]="category_search" placeholder="Search Inventory">
								<!-- <input type="search" name="category_search" [(ngModel)]="category_search" placeholder="Search Inventory"> -->
							</div>
							&nbsp;
							<!-- <button (click)="searchApi()" class="btn btn-sm btn-success">Search    <i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>  -->

							<!-- searchApi is a template -->
						</div>
					</div>
				</div>
				<div class="dashboard-listing manage-category-listing">
					<div class="tab-content login inventory-page">
						<span *ngIf="loadingSpinner">
							<!-- page load spinner -->
							<div id="loadingSpinner" #loadingSpinner
								class="d-flex justify-content-center loadingSpinner">
								<div class="spinner-border" role="status">
									<span class="sr-only" id="loading"></span>
								</div>
							</div>
						</span>
						<div *ngFor="let post of categoresArray; let i = index">
							<div *ngIf="i == 0;">
								<div [routerLink]="['/items-list']" class="sindle-item for-category">
									<div class="image-section">
										<img src="assets/theme/images/my-inventory1.png" alt="">
									</div>
									<div class="btm-section">
										<div class="product-info ">
											<h2>All Items</h2>
										</div>
									</div>
								</div>
							</div>
							
							<div *ngIf="((category_search == '') || (category_search != '' && post.cat_name.toLowerCase().indexOf(category_search.toLowerCase()) > -1 ) )" class="sindle-item for-category" [routerLink]="['/sub-category']"
								[queryParams]="{id: post.id,name: post.cat_name}">
								<div class="image-section">
									<!-- <img src="assets/theme/images/my-inventory2.png" alt=""> -->
									<img src='{{imageDirectoryPath}}{{post.categories_image}}'>
								</div>
								<div class="btm-section">
									<div class="product-info ">
										<h2 [routerLink]="['/sub-category']"
											[queryParams]="{idi: post.id,nameee: post.cat_name}">{{post.cat_name}}</h2>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!---LIST--->
					<!----------------->
				</div>

			</div>
		</div>
