<main class="Category stores">
   <div class="dashboard-body">
      <app-sidebar></app-sidebar>
      <div class="dashboard-right-part">
         <div class="right-inn-main">
            <div class="top-heading">
               <div class="top-heading-inn store-add">
                  <h2>My Stores</h2>
               </div>
               <div class="Tabs-right">
                  <ul class="nav nav-tabs for-login">
                     <li class="nav-item">
                        <a class="nav-link grid active" data-toggle="tab" href="#home"><i
                              class="fas fa-th-large"></i></a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link list " data-toggle="tab" href="#menu1"><i class="fas fa-list-ul"></i></a>
                     </li>
                  </ul>
               </div>
               <div class="filter-buttons">
                  <div class="top-head-right-side add-quick-item-main product-list-head-btm">
                     <form>
                        <div class="search">
                           <img src="assets/theme/images/search-icon.png" alt="search" class="search">
                           <!-- <input type="search" name="search" placeholder="Search Store"> -->
                           <input name="searchName" (keyup)="searchApi()" [(ngModel)]="searchName"
                              placeholder="Search Store" class="form-control">
                        </div>
                        <!-- <button (click)="searchApi()" class="btn btn-sm btn-success">Search   <i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>  -->
                     </form>
                     <div class="right-buttons">
                        <button class="btn items openbtn" (click)="openNav()"><img src="assets/theme/images/add.png"
                              alt="">Add Store</button>
                     </div>
                  </div>
               </div>


            </div>

            <div id="mySidebar" class="sidebar">
               <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
               <div class="top-heading-inn store-side-bar">
                  <h2>Add Store</h2>
                  <form>
                     <!-- <div *ngIf="formGroup?.value"></div> -->
                     <div class="input-group form-group">
                        <label>Name<span class="pink-astrik">*</span></label>
                        <input type="text" name="stores_name" [(ngModel)]="stores_name" class="form-control">
                        <!-- <div  *ngIf="formGroup.controls['stores_name'].touched">
                              <div *ngIf="formGroup.controls['stores_name'].errors?.required" class="alert alert-danger">Store name is required
                            </div>
                            
                            <div *ngIf="formGroup.controls['stores_name'].errors?.minlength" class="alert alert-danger">Store name must be atleast 3 character in length
                            </div>
                          </div> -->
                     </div>
                     <div class="input-group form-group">
                        <label>Link<span class="pink-astrik">*</span></label>
                        <input type="text" name="stores_link" [(ngModel)]="stores_link" class="form-control texto">


                     </div>
                     <div class="input-group form-group image-div">
                        <label>Image <span class="star">*</span></label>
                        <div class="file-upload">
                           <div (dragover)="onDragOver($event)" (drop)="onDropSuccess($event)"
                              class="image-upload-wrap">
                              <!-- <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" /> -->
                              <input type="file" name="products_image" (change)="onChange($event)"
                                 class="file-upload-input">

                              <div class="drag-text">
                                 <h3 *ngIf="!fileChanges"><img src="assets/theme/images/upload-img.png"><br>Drag and
                                    drop to browse
                                 </h3>
                                 <img *ngIf="fileChanges" src="assets/theme/images/upload-img.png" [src]="imageSrc">
                              </div>
                           </div>

                           <div class="file-upload-content">
                              <img class="file-upload-image" src="#" alt="your image" />
                              <div class="image-title-wrap">
                                 <button type="button" onclick="removeUpload()" class="remove-image">Remove <span
                                       class="image-title">Uploaded Image</span></button>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="input-group form-group">
                        <div class="custom-control custom-checkbox">
                           <input type="checkbox" [value]="stores_def ? '1' : '0'" (click)="checked_val()"
                              [(ngModel)]="stores_def" class="custom-control-input" id="customCheck" name="stores_def">
                           <label class="custom-control-label" for="customCheck">Set this as your default store</label>
                        </div>
                     </div>

                     <button type="button" (click)="addStores()" class="btn">Add <i class="fa fa-spinner fa-spin"
                           *ngIf="loading"></i></button>
                  </form>
               </div>
            </div>
            <div class="dashboard-listing manage-category-listing">

               <div class="tab-content login inventory-page">
                  <div id="home" class="tab-pane active">

                     <div *ngFor="let store of storeListsArray; let i = index" class="sindle-item for-category">
                        <div class="image-section">
                           <img src="{{imageDirectoryPath}}{{store.stores_image}}" alt="">

                           <div class="icons-sec">

                              <i class="heart" id="heart" (click)="addToFavorite(store.stores_id)"><img
                                    src="assets/theme/images/border-heart.png"></i>
                              <i class="far fa-edit" data-toggle="modal" data-target="#myModals"
                                 (click)="editStore(store.stores_id,store.stores_name,store.stores_link,store.stores_image,i)"></i>
                              <i class="fas fa-trash-alt" (click)="deleteStore(store.stores_id)"></i>

                           </div>
                        </div>
                        <div class="btm-section">
                           <div class="product-info ">
                              <h2>{{store.stores_name}}</h2>
                           </div>
                        </div>
                     </div>
                     <span *ngIf="storeListsArray == ''" style="color: red;">{{messageNotFound}}</span>
                  </div>
                  <div id="menu1" class="tab-pane fade">
                     <div class="main-table-div stores-page-table">
                        <table class="table">
                           <thead>
                              <tr class="heading-for-table">
                                 <th class="user-th1">Store</th>
                                 <th class="user-th3">Link</th>
                                 <th class="user-th4">Favourites</th>
                                 <th class="user-th5">Actions</th>
                              </tr>
                           </thead>
                           <tbody>
                              <tr *ngFor="let store of storeListsArray; let i = index">
                                 <td class="user-tr1">
                                    <div class="product-image"><img src="{{imageDirectoryPath}}{{store.stores_image}}">
                                    </div>
                                    <p>{{store.stores_name}}</p>
                                 </td>

                                 <td class="user-tr3"><a href="{{store.stores_link}}">Visit Store</a></td>
                                 <td class="user-tr4">
                                    <input type="hidden" name="stores_fav" [(ngModel)]="stores_fav"
                                       [value]="stores_fav ? '1' : '0'">
                                    <i class="heart" id="heart" (click)="addToFavorite(store.stores_id)"><img
                                          src="assets/theme/images/border-heart.png"></i>
                                 </td>
                                 <td class="user-tr5">
                                    <i class="far fa-edit" data-toggle="modal"
                                       (click)="editStore(store.stores_id,store.stores_name,store.stores_link,store.stores_image)"
                                       data-target="#myModal_edit"></i>
                                    <i class="fas fa-trash-alt" (click)="deleteStore(store.stores_id)"></i>
                                 </td>
                              </tr>
                              <span *ngIf="storeListsArray == ''" style="color: red;">{{messageNotFound}}</span>
                           </tbody>
                        </table>
                     </div>
                  </div>
               </div>
            </div>
         </div>




         <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
         <script src="assets/theme/js/jquery.min.js"></script>
         <script src="assets/theme/js/popper.min.js"></script>
         <script src="assets/theme/js/bootstrap.min.js"></script> -->


         <!--Edit products modal-->
         <div id="myModals" class="modal fade users-modal" role="dialog">
            <div class="modal-dialog">
               <form novalidate [formGroup]="formGroup">
                  <div class="modal-content">
                     <div class="modal-header">
                        <h4 class="modal-title">Edit Store</h4>
                     </div>
                     <div *ngIf="formGroup?.value"></div>
                     <div class="modal-body">
                        <div class="form-group">
                           <label>Store Name</label>
                           <input name="stores_name" formControlName="stores_name" [(ngModel)]="stores_name"
                              class="form-control" />
                           <div *ngIf="formGroup.controls['stores_name'].touched">
                              <div *ngIf="formGroup.controls['stores_name'].errors?.required"
                                 class="alert alert-danger">
                                 Store name is required
                              </div>
                           </div>
                        </div>

                        <div class="form-group">
                           <label>Store link</label>
                           <input name="stores_link" formControlName="stores_link" [(ngModel)]="stores_link"
                              class="form-control" />

                           <div *ngIf="formGroup.controls['stores_link'].touched">
                              <div *ngIf="formGroup.controls['stores_link'].errors?.required"
                                 class="alert alert-danger">
                                 Store link is required
                              </div>
                           </div>
                        </div>

                        <div class="form-group">
                           <label>Image</label>
                           <div class="file-upload">
                              <div (dragover)="onDragOver($event)" (drop)="onDropSuccess($event)"
                                 class="image-upload-wrap">

                                 <input type="file" name="stores_image" (change)="onChange($event)"
                                    class="file-upload-input" />

                                 <div class="drag-text" style="height: auto">
                                    <h3 class="default-upload-image" style="{{ stores_image ? 'display:none' : '' }}">
                                       <img src="assets/theme/images/upload-img.png" /><br />Drag
                                       and drop to browse
                                    </h3>

                                    <div class="file-upload-content" style="display: block">

                                       <img class="file-upload-image" src="{{
                                             fileChanges
                                                ? fileChanges
                                                : stores_image
                                                ? imageDirectoryPath + stores_image
                                                : ''
                                          }}" [src]="imageSrc" />
                                    </div>
                                 </div>
                              </div>

                              <div class="image-title-wrap"
                                 style="{{ stores_image ? 'display: block' : 'display:none' }}">
                                 <button type="button" class="remove-image">
                                    Remove <span class="image-title">Uploaded Image</span>
                                 </button>
                              </div>
                           </div>
                           <div *ngIf="formGroup.controls['stores_image'].touched">
                              <div *ngIf="formGroup.controls['stores_image'].errors?.required"
                                 class="alert alert-danger">
                                 Store image is required
                              </div>
                           </div>
                        </div>


                     </div>

                     <div class="modal-footer">
                        <button type="button" class="btn btn-default closepopup" data-dismiss="modal">
                           Close
                        </button>

                        <button type="button" (click)="editStores()" class="btn btn-success">
                           Update
                        </button>
                     </div>
                  </div>
               </form>
            </div>
         </div>