<!-- <app-header></app-header> -->
<main class="Category sub-inventory">
  <div class="dashboard-body">
    <app-sidebar></app-sidebar>
  
  <div class="dashboard-right-part">
    
    <div class="right-inn-main">
      <div class="top-heading">
        <div class="top-heading-inn">
           <h2>Change Password</h2>
        </div>
      <!-- <h4>Change Password</h4>&nbsp;&nbsp; -->
      <div class="change-password-div">
        <div class="top-heading"><h4>Change Password</h4></div>
    <form novalidate [formGroup]="formGroup">
        <div *ngIf="formGroup?.value"></div>
        <div class="form-group">
          <label>Old Password</label>
         <input type="password" name="old_password" formControlName="old_password" [(ngModel)]="old_password" class="form-control">
         <div  *ngIf="formGroup.controls['old_password'].touched">
            <div *ngIf="formGroup.controls['old_password'].errors?.required" class="alert alert-danger"> old password is required
          </div>
          
        </div>
      </div>
        <div class="form-group">
            <label>New Password</label>
           <input type="password" name="new_password" formControlName="new_password" id="new_password" [(ngModel)]="new_password" class="form-control">
           <div  *ngIf="formGroup.controls['new_password'].touched">
            <div *ngIf="formGroup.controls['new_password'].errors?.required" class="alert alert-danger"> new password is required
          </div>
          
          <div *ngIf="formGroup.controls['new_password'].errors?.minlength" class="alert alert-danger"> new password must be atleast 6 character in length
          </div>
        </div>
       
        </div>
        <div class="form-group">
            <label>Confirm New Password</label>
           <input type="password" name="confirm_password" formControlName="confirm_password" id="confirm_password" [(ngModel)]="confirm_password" class="form-control">
           <div  *ngIf="formGroup.controls['confirm_password'].touched">
            <div *ngIf="formGroup.controls['confirm_password'].errors?.required" class="alert alert-danger"> confirm password is required
          </div>
          
          <div *ngIf="formGroup.controls['confirm_password'].errors?.minlength" class="alert alert-danger"> confirm password must be atleast 6 character in length
          </div>
        </div>
        </div>
          </form>
          <button type="button"  (click)="changePassword()" class="btn btn-success">Submit  <i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
        </div>
          </div>
        </div>   
  <!-- <app-footer></app-footer> -->


  