/*css file start here*/
html, body{height: 100%;}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    paddig: 0;
    color: #464646;
    line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}
table {
    letter-spacing: 0;
}
a:hover,
a:focus {
    text-decoration: none;
    transition: .8s;
}

:focus {
    outline: none;
}

ul {
    margin: 0;
    paddig: 0;
}

li {
    list-style: none;
}

button:hover {
    transition: .8s;
}

button:focus {
    outline: 0 !important;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1600px;
}
.content {
    float: left;
    width: 100%;
    position: relative;
}

/*loader css start*/


/*loader css close*/


/*login css start*/


.login-main {
    /* display: flex; */
    height: 100vh;
    position: relative;
    overflow: auto;
    background: #ffffff;
    float: left;
    width: 100%;
}

.login-left {
    max-width: 60%;
    width: 60%;
    /* flex-direction: column; */
    /* justify-content: space-between; */
    /* text-align: center; */
    /* justify-content: center; */
    /* background-position: bottom; */
    height: fit-content;
    position: relative;
    /* overflow: scroll; */
    background: white;
    float: left;
    min-height: 100%;
}
.login-left-inn {
    width: 50%;
    margin: 0 auto;
}
.login-right {
    background: #f8f8f8;
    max-width: 40%;
    width: 40%;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    float: right;
}
.login-right img {
    width: 80%;
}
.login-main.Signup.Forgot-pss h3 {
    margin-top: 140px;
    margin-bottom: 25px;
}


.login-left-inner {
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    padding-top: 10px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
}

.login-left h3 {
    font-size: 50px;
    text-transform: capitalize;
    color: #000000;
    font-weight: 500;
    text-align: left;
    margin-top: 107px;
}
.login-main.Signup.Forgot-pss {
    height: 100vh;
    float: left;
    width: 100%;
    /*display: flex;*/
    align-items: center;
    justify-content: center;
}
.login-left h4 {
    font-size: 18px;
    color: #222239;
    margin: 5px 0 63px 0;
    text-align: left;
    font-weight: 400;
    line-height: 32px;
}
.login-main.Signup.Forgot-pss .accounthave h6 {
    margin-top: 70px;
}
a.mail-address {
    color: #fb369a;
    margin: 20px 0 25px;
    font-weight: 600;
}

.logo-div {
    text-align: left;
    margin: 60px 0 25px 0px;
}


.logo-div img {
    width: 158px;
}

p.forgot-content {
    margin-bottom: 50px;
}

.login-left form {
    text-align: left;
}

.login-left .form-control {
       border: 0;
    border-bottom: 1px solid #dadada;
    border-radius: 0;
        padding-left: 0;
        position: relative;
}

.login-left .form-group {
    margin-bottom: 20px;
    position: relative;
    padding-left: 0;
    float: left;
    width: 100%;
}
.form-group.form-check label {
    font-size: 14px;
    color: #949292;
    padding-left: 27px;
}

a.forgot {
    float: right;
    font-size: 14px;
    color: #949292;
}

a.forgot i {
    margin-right: 10px;
    color: #fb369a;
    font-size: 20px;
}



a.forgot:hover {
    color: #32728b;
}
.login-main.Signup-main .login-right h3 {
    font-size: 45px;
        margin-bottom: 20px;
}
.login-main.Forgot-pass .login-right h3 {
    font-size: 40px;
    font-weight: 500;
}
.login-main.Forgot-pass p{
        font-size: 16px;
    color: #949292;
       /* padding-left: 27px; */
    margin: 25px 0 40px;
}
.login-main.Forgot-pass .login-right-inner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.login-main.Forgot-pass .login-right form {
    width: 50%;
        padding: 0;
}
.login-main.Signup-main .accounthave h2 {
    font-size: 16px;
    color: #949292;
    padding-left: 27px;
    margin-top: 20px;
}
.login-main.Signup-main .accounthave h2 a{
    color: #fb369a;
}
.login-left-inn button.btn {
    WIDTH: 100%;
    BACKGROUND: #ff339e;
    color: #fff;
    border-radius: 8px;
    padding: 10px 10px;
    font-weight: 500;
    margin: 30px 0 44px;
}
.Signup h3 {
    margin-bottom: 21px;
    font-size: 50px;
}
.login-main.Signup .social-links-for-login {
    margin-top: 20px;
    margin-bottom: 50px;
}
.login-main.Signup h6.or-login:before {
    width: 19%;
    top: 8px;
}
.login-main.Signup h6.or-login:after {
    width: 19%;
    top: 8px;
}
.login-main.Signup .login-left form {margin-top: 40px;}
.login-main.Signup .accounthave {
    margin-top: 40px;
}
.rem {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.rem input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 2px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border: 2px solid #fb369a;
    border-radius: 4px;
}

.rem input:checked~.checkmark {
    background-color: #fb369a;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.rem input:checked~.checkmark:after {
    display: block;
}

.rem .checkmark:after {
    left: 4px;
    top: 1px;
    width: 6px;
    height: 10px;
    border: solid white;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.login-right .form-check {
    padding-left: 0;
    margin: 30px 0;
}

.login-right .btn {
    background: #fb369a;
    width: 100%;
    height: 60px;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 8px;
    margin-top: 30px;
}

.view {
       position: absolute;
    top: 14px;
    right: 16px;
    font-size: 15px;
    color: #b9b9b9;
}

.view:hover {
    color: #fb369a;
}

.accounthave {
    margin-top: 40px;
    text-align: center;
    float: left;
    width: 100%;
    margin-bottom: 20px;
}

.accounthave h6 {
    font-size: 17px;
    color: #949292;
    padding-left: 0;
    font-weight: 400;
    margin-bottom: 10px;
}
h6.or-login {
    font-size: 14px;
    color: #949292;
    padding-left: 27px;
    text-align: center;
    padding: 0;
    position: relative;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0;
    float: left;
    width: 100%;
    position: relative;
}
h6.or-login:before {
    content: '';
    height: 2px;
    width: 36%;
    left: 0;
    top: 7px;
    background: #eeeeee;
    position: absolute;
}
h6.or-login:after{
    content: '';
    height: 2px;
    width: 36%;
    right: 0;
    top: 7px;
    background: #eeeeee;
    position: absolute;
}
.form-control:focus {
    box-shadow: 0 0 0 0rem rgb(0 123 255 / 25%);
}
.social-links-for-login {
    margin-top: 30px;
    float: left;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.login-left-inn .social-links-for-login button.btn {
    background: #fff;
    color: #000;
    box-shadow: none;
    border-radius: 15px;
    padding: 14px 0;
    font-size: 14px;
    position: relative;
    margin: 18px 15px 0;
    border: 3px solid #c1c1c1;
    width: 64px;
    float: none;
    display: inline-block;
    overflow: hidden;
    height: 64px;
    padding: 0;
    text-align: center;
}
.social-links-for-login button img.google-icon {
    left: 0;
    top: 0;
    width: 38px;
}
.social-links-for-login button.btn i.fab.fa-apple {
    font-size: 36px;
}
.social-links-for-login button.btn i.fab.fa-facebook-f {
    font-size: 33px;
    color: #3b5999;
}
.accounthave h6 a {
    color: #fb369a;
}

ul.nav.nav-tabs.for-login a.nav-link {
         background: #fff;
    color: #fb369a;
    font-weight: 500;
    font-size: 20px;
    box-shadow: 0px 0px 8px 2px rgb(207 207 207 / 37%);
    padding: 10px 20px;
}
ul.nav.nav-tabs.for-login a.nav-link.grid {
     border-radius: 5px 0 0 5px;
}
ul.nav.nav-tabs.for-login a.nav-link.list {
       border-radius: 0px 5px 5px 0;
}
ul.nav.nav-tabs.for-login a.nav-link.active {
        color: #ffffff;
    border-bottom: 2px solid #fb369a!important;
    background: #fb369a;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    border: 0;
}

ul.nav.nav-tabs.for-login {
    border-bottom: 0;
        float: right;

}
.tab-content.login {
    float: left;
    width: 100%;
}
div#menu1{
    float: left;
    width: 100%;
}
.login-main.forgot-pass .logo-div {
    height: 50px;
}

.login-main.forgot-pass .login-right-inner {
    height: calc(100vh - 50px);
}


/*login css close*/


/*---------------------------dashboard-------------------------*/

.header {
    float: left;
    width: 100%;
    height: 80px;
    padding-right: 0;
    background: #fff;
    box-shadow: none;
    transition: height .5s ease-in;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.header.header-landing {
    background: transparent;
}
.header-landing.fixed .navbar-dark .navbar-brand img {
    width: auto;
    height: 80px;
}
.header-landing.fixed button.login {
    color: #fb369a;
    border: 1px solid #fb369a;
}
.header-landing.fixed .navbar-dark .navbar-nav .nav-link {
    color: #fb369a;
    font-size: 14px;
}
.header.header-landing.fixed{
    position: fixed;
    z-index: 99999;
    float: left;
    width: 100%;
    height: 80px;
    top: 0;
    left: 0;
    background: #fff;
}
button.signup {
    text-transform: uppercase;
    background: #fb369a;
    border: 0;
    color: #fff;
    font-size: 14px;
    padding: 10px 50px;
    border-radius: 40px !important;
     border: 1px solid transparent;
}
button.login {
    text-transform: uppercase;
    background: inherit;
    border: 0;
    color: #fff;
    font-size: 14px;
    padding: 10px 50px;
    border-radius: 40px !important;
    border: 1px solid #fff;
}
nav.navbar.navbar-expand-sm.bg-dark.navbar-dark {
    background: none !important;
    padding: 0;
    width: 100%;
    float: left;
    display: inline-block;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
       font-size: 14px;
}
.header ul.navbar-nav {
    align-items: center;
    justify-content: center;
    float: right;
    margin-top: 12px;
}
.navbar-dark .navbar-brand {
    padding: 0;
        margin: 0;
}
.navbar-dark .navbar-brand img {
    width: 100%;
    height: 100px;
    transition: height .2s ease-in;
}
.header-logo-left {
    float: left;
    width: 50%;
    margin-top: 3px;
}

.header-logo-left img {
    width: 166px;
    margin-top: 14px;
}
.header-name-right1 {
    float: right;
}

.header-name-right img {
    float: left;
    width: 52px;
    height: 52px;
    display: inline-block;
    margin-right: 8px;
}

.header-name-right1 .dropdown {
    display: inline-block;
}

.header li img {
    width: 24px;
    height: auto;
}

button.btn.dropdown-toggle {
    padding: 16px 4px;
    font-size: 17px;
}

.dashboard-left-part {
    background: #fff;
    color: #fff;
    height: calc(100vh - 80px);
    z-index: 99;
    width: 285px;
    vertical-align: top;
    box-shadow: 0px 1px 5px #d0d0d0;
    position: fixed;
    top: 80px;
    bottom: 0;
    left: 0;
    display: block;
    overflow-x: hidden;
}

.dashboard-right-part {
    width: 100%;
    display: inline-block;
    padding-left: 285px;
    min-height: calc(100vh - 80px);
    margin-top: 80px;
    background: #f6f7fb;
    padding-right: 0px;
}

.add-new1 {
    text-align: center;
    padding: 30px 0;
    border-bottom: 2px solid #f7f7f7;
    margin-bottom: 30px;
}

.add-new1 h5 {
    font-size: 15px;
    font-weight: 400;
}

.add-new1 h5 a {
    color: #32728b;
}

.add-new1 h5 a i {
    font-size: 28px;
    vertical-align: middle;
    margin-right: 10px;
}

.dashboard-left-part li {
    display: block;
    position: relative;
    float: left;
    width: 100%;
    align-items: center;
    display: flex;
        padding-left: 25px;
}

.dashboard-left-part li a {
        font-size: 16px;
    color: #696969;
    display: block;
    padding: 22px 3px 22px 0px;
    border-right: 4px solid transparent;
    text-align: left;
    display: inline-block;
}
.dashboard-left-part .at-bottom {float: left;width: 100%;align-items: center;display: flex;padding-left: 25px;background: #fb369a;color: #fff;position: absolute;bottom: 0px;left: 0;}
.dashboard-left-part .at-bottom a {color: #fff;}
.dashboard-left-part .at-bottom span.image-sidebar {width: 60px;float: left;}
.dashboard-left-part .at-bottom a {color: #fff;padding: 22px 3px 22px 0px;border-right: 4px solid transparent;text-align: left;display: inline-block;}
li.active a {
    color: #fb369a;
}
span.image-sidebar {
    width: 60px;
    float: left;
}
.dashboard-left-part li img {
    
}

.dashboard-left-part li a:hover {
    color: #fb369a;
}

.dashboard-left-part li.active {}

.dashboard-left-part li.active:after {
    content: '';
    height: 62px;
    width: 25%;
    background: #fb369a;
    left: 0;
    top: 3px;
    position: absolute;
    padding: 25px 40px;
    border-radius: 0 20px 20px 0;
    z-index: -1;
}

.dashboard-left-part li.active img {
    filter: brightness(0) invert(1);
}

.header-name-right {
    float: right;
    margin: 7px 0;
}

.header li.noti img {
    width: 24px;
    height: auto;
}

.header-name-right li {
    display: inline-block;
    margin: 13px 14px;
}

.right-inn-main {
    padding: 30px 20px;
    float: left;
    width: 100%;
    position: relative;
    min-height: calc(100vh - 185px);
}

.app-top {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 2px 0px 8px rgba(0, 0, 0, 0.15);
    margin: 40px 0;
    padding: 25px 60px;
}

.total-img {
    margin-right: 20px;
    display: inline-block;
}

.total-text {
    display: inline-block;
    vertical-align: top;
}

.total-text h3 {
    font-size: 18px;
    color: #000;
    display: inline-block;
    margin-right: 20px;
}

.total-text span {
    font-size: 14px;
    color: #fff;
    background: #32728b;
    padding: 2px 12px;
    border-radius: 5px;
}

.total-text h2 {
    font-size: 45px;
    color: #000;
}

.total-text h2 strong {
    font-size: 17px;
    color: #adadad;
    margin-left: 5px;
    font-weight: 500;
}

.total-text span.upcoming {
    background: #886cff;
}

.total-text span.cancel {
    background: #a92c38;
}

.das-box {
    border-right: 1px solid #cccccc;
    padding: 40px 20px;
}

.das-box.bor {
    border: 0;
}


/*------------------*/
.welcomeadmintext {
       margin-bottom: 40px;
    float: left;
    width: 100%;
}
.welcomeadmintext h6 {
    font-size: 22px;
    font-weight: 500;
    display: inline-block;
    margin-right: 12px;
}
.top-heading h2 {
    font-size: 22px;
    font-weight: 500;
    display: inline-block;
    margin-right: 12px;
}

.top-heading .search {
    position: relative;
    display: inline-block;
}

.top-heading .search input[type="search"] {
    border-radius: 40px;
    border: 1px solid #e8e8e8;
    padding: 10px 15px 8px 45px;
    color: #c5c5c5;
    box-shadow: 0px 0px 4px 0px rgb(207 207 207 / 37%);
    width: 430px;
}

.top-heading img.search {
    position: absolute;
        width: 16px;
    top: 11px;
    left: 18px;
}
span.pink-astrik {
    color: #fb369a;
}
.modal-dialog.logout {
    width: 500px;
    padding: 40px 40px;
    background: #fff;
}
.modal-dialog.logout .modal-content {
    border: 0;
}

.right-inn-main-left {
    float: left;
    width: 70%;
}

.right-inn-main-right {
    float: right;
    width: 30%;
    padding-left: 30px;
}

.goodmorning {
    float: left;
    width: 100%;
    background: #fb369a;
    color: #fff;
    padding: 40px 20px;
    border-radius: 20px;
    margin: 30px 0 0;
}

.goodmorning h2 {
    font-weight: 400;
    font-size: 25px;
}

.goodmorning h3 {
    font-size: 17px;
    margin: 6px 0 20px;
    font-weight: 400;
}

.goodmorning h1 {
    font-size: 27px;
}

.item-listing-left img {
    width: 30px;
}


.item-listing-right h3 {
    font-size: 15px;
    font-weight: 500;
}

.item-listing-right h2 {
    font-size: 25px;
    margin-top: 3px;
}

.dashboard-listing table tr {
    float: left;
    width: 100%;
    min-height: 63px;
    background: #fff;
    border-radius: 10px;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 8px 2px rgb(207 207 207 / 37%);
    color: #989898;
    font-weight: 300;
    border: 0;
    vertical-align: middle;
    display: inline-table;
}

.dashboard-listing table thead tr {
    background: none;
    box-shadow: none;
    height: auto;
    margin-bottom: 0;
}

.dashboard-listing table thead tr th {
    font-weight: 400;
    border-bottom: 0;
    color: #000;
    font-size: 14px;
    padding: 10px 10px 8px 10px;
}

.table td,
.table th {
    vertical-align: middle !important;
    border-top: 0;
    color: #000;
    font-weight: 400;
    font-size: 15px;
}

.listing-heading {
    float: left;
    width: 100%;
    margin: 45px 0 35px;
}

.listing-heading h5 {
    float: left;
    letter-spacing: 1.5px;
    margin-right: 100px;
    position: relative;
}

.listing-heading h5:after {
    content: '';
    height: 2px;
    width: 45px;
    background: #fb369a;
    left: 0;
    bottom: -10px;
    position: absolute;
}

.listing-heading a {
    color: #2a44a4;
    text-decoration: underline;
    letter-spacing: 1.5px;
    margin-top: 2px;
}

p.complete {
    color: #4aa056;
}

.icons-sec i.far.fa-eye {height: 30px;width: 30px;background: #fb369a;border-radius: 50%;color: #fff;    padding: 9px 10px;font-size: 12px;cursor: pointer;}
.icons-sec i.fas.fa-trash-alt {height: 30px;width: 30px;background: #fa5555;border-radius: 50%;color: #fff;    padding: 9px 10px;font-size: 12px;margin: 0 2px;cursor: pointer;}
.icons-sec i.far.fa-edit {height: 30px;width: 30px;background: #7c7c7c;border-radius: 50%;color: #fff;    padding: 9px 10px;font-size: 12px;cursor: pointer;}
.walmart {
    position: absolute;
    right: 0px;
    bottom: 1px;
    background: #fb369a;
    color: #fff;
    padding: 7px 10px;
    border-radius: 10px 0 0 0;
}
td i.far.fa-eye {
    height: 42px;
    width: 42px;
    background: #fb369a;
    border-radius: 50%;
    color: #fff;
    padding: 12px 12px;
    font-size: 17px;
}

td i.fas.fa-trash-alt {
    height: 42px;
    width: 42px;
    background: #fa5555;
    border-radius: 50%;
    color: #fff;
    padding: 12px 13px;
    font-size: 17px;
    margin: 0 2px;
}

td i.far.fa-edit {
    height: 42px;
    width: 42px;
    background: #7c7c7c;
    border-radius: 50%;
    color: #fff;
    padding: 12px 13px;
    font-size: 17px;
}

.dashboard-listing table thead th.user-th1 {
    width: 20%;
}

.dashboard-listing table thead th.user-th2 {
    width: 10%;
}

.dashboard-listing table thead th.user-th3 {
    width: 10%;
}

.dashboard-listing table thead th.user-th4 {
    width: 15%;
}

.dashboard-listing table thead th.user-th5 {
    width: 10%;
}

.dashboard-listing table thead th.user-th6 {
    width: 10%;
}

.dashboard-listing table thead th.user-th7 {
    width: 10%;
}

.dashboard-listing table thead th.user-th8 {
    width: 25%;
}

.dashboard-listing table tbody td.user-tr1 {
    width: 20%;
}

.dashboard-listing table tbody td.user-tr2 {
    width: 10%;
}

.dashboard-listing table tbody td.user-tr3 {
    width: 10%;
}

.dashboard-listing table tbody td.user-tr4 {
    width: 15%;
}

.dashboard-listing table tbody td.user-tr5 {
    width: 10%;
}

.dashboard-listing table tbody td.user-tr6 {
    width: 10%;
}

.dashboard-listing table tbody td.user-tr7 {
    width: 10%;
}

.dashboard-listing table tbody td.user-tr8 {
    width: 25%;
}

.right-inn-main-right h6 {
    display: inline-block;
    font-size: 14px;
}





.right-inn-main-right .notification i.far.fa-bell {
    float: right;
    font-size: 26px;
    display: inline-block;
    margin-left: 10px;
}

.item-listing i.fas.fa-chevron-right {
    height: 22px;
    width: 22px;
    background: #cccccc;
    border-radius: 50%;
    color: #000;
    padding: 6px 9px;
    font-size: 12px;
    float: right;
    position: absolute;
    right: 35px;
}

.filter-buttons {
    float: left;
    width: 100%;
    margin: 30px 0;
}

main.reports .filter-buttons {
    float: right;
    width: 79%;
    margin: 0 0;
    border-bottom: 0px solid #e6e6e6;
    padding-bottom: 0;
}
.top-heading {
    float: left;
    width: 100%;
    border-bottom: 0px solid #e6e6e6;
    padding-bottom: 20px;
    margin-bottom: 10px;
}
.add-quick-item-main {
    float: left;
    width: 100%;
    margin-top: 15px;
    margin-bottom: 20px;
}
.dashboard-listing.manage-items-listing.desired-shoping table thead th.user-th1 .custom-control.custom-checkbox {
    float: left;
    width: auto;
    margin: -4px 10px 0 20px;
    padding-left: 30px;
}
.dashboard-listing.manage-items-listing.desired-shoping table tbody td.user-tr1 .custom-control.custom-checkbox {
    text-align: left;
    margin-left: 26px;
}
.add-quick-item-main .add-quick-input {
    float: left;
    width: 72%;
    position: relative;
    margin-right: 5%;
}
.add-quick-item-main .add-quick-input span.add-icon {
    position: absolute;
    left: 12px;
    top: 10px;
}
.add-quick-item-main .add-quick-input input.form-control {
    padding-left: 40px;
    padding: 5px 14px 6px 9px;
}
.right-quick {
    float: right;
    width: 22%;
}
.right-quick h3 {
    float: left;
    font-size: 19px;
    margin-top: 11px;
}
.right-quick select.form-control.all-item {
    float: right;
    width: 68%;
}

.filter-buttons-top {
    float: left;
    width: 100%;
}

main.reports .filter-buttons .form-group {
    margin-bottom: 0;
    float: left;
    width: 25.5%;
    position: relative;
    margin-right: 1%;
    margin-top: -11px;
}

/*main.reports .filter-buttons label {
    position: absolute;
    top: 11px;
    left: 13px;
    z-index: 9;
    font-weight: 500;
    background: #fff;
    color: #a2a2a2;
    font-size: 14px;
    pointer-events: none;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}*/

main.reports .filter-buttons .form-control {
    height: 40px;
}

.filter-buttons-bottom {
    float: left;
    width: 100%;
    margin-top: 20px;
}

.right-buttons {
    float: right;
}

.filtering-button {
    float: left;
    position: relative;
}

button.btn.filter {
    background: #fff;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    padding: 9px 35px;
    box-shadow: 0px 0px 8px 2px rgb(207 207 207 / 37%);
    margin-right: 20px;
}

.filteropen-div {
    display: none;
}

.filtering-button .filteropen-div {
    margin-top: 14px;
    width: 282%;
    background: #fff;
    padding: 25px;
    border-radius: 15px;
    float: left;
    position: absolute;
    top: 40px;
    left: 0;
    z-index: 999;
    box-shadow: 0px 0px 8px 2px rgb(207 207 207 / 37%);
}
.tooltip {
    position: relative;
    opacity: 1;
}
.dropdown-toggle::after{display: none}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 280px;
    background-color: white;
    color: #000;
    text-align: left;
    border-radius: 6px;
    padding: 8px 10px;
    position: absolute;
    z-index: 1;
    top: 111%;
    left: 50%;
    margin-left: -60px;
    box-shadow: 0 0 3px #ccc;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
button.btn.items {
    background: #fb369a;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    padding: 11px 29px;
    border-radius: 8px;
}

button.btn.Category {
    background: #fa5555;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    padding: 9px 35px;
    margin: 0 10px;
}

button.btn.export {
    background: #fff;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    padding: 9px 35px;
    box-shadow: 0px 0px 8px 2px rgb(207 207 207 / 37%);
}

button.btn.export img {
    width: 19px;
    margin-right: 13px;
}

button.btn.Category img {
    width: 19px;
    margin-right: 13px;
}

button.btn.items img {
    width: 19px;
    margin-right: 13px;
}

button.btn.filter img {
    width: 19px;
    margin-right: 13px;
}

.dashboard-listing.manage-items-listing table thead th.user-th-start {
    width: 2%;
}
/*
.dashboard-listing.manage-items-listing table thead th.user-th1 {
    width: 5%;
}

.dashboard-listing.manage-items-listing table thead th.user-th2 {
    width: 13%;
}

.dashboard-listing.manage-items-listing table thead th.user-th3 {
    width: 10%;
}

.dashboard-listing.manage-items-listing table thead th.user-th4 {
    width: 5%;
}

.dashboard-listing.manage-items-listing table thead th.user-th5 {
    width: 10%;
}

.dashboard-listing.manage-items-listing table thead th.user-th6 {
    width: 5%;
}

.dashboard-listing.manage-items-listing table thead th.user-th7 {
    width: 10%;
}

.dashboard-listing.manage-items-listing table thead th.user-th8 {
    width: 10%;
}

.dashboard-listing.manage-items-listing table thead th.user-th9 {
    width: 10%;
}

.dashboard-listing.manage-items-listing table thead th.user-th10 {
    width: 5%;
}*/

.dashboard-listing.manage-items-listing table tbody td.user-tr-start {
    width: 2%;
}
td.user-tr10 .dropdown-menu.show {
    padding: 20px 20px;
    border-radius: 5px;
    border: 1px solid #fff;
    box-shadow: 0px 0px 8px 2px rgb(207 207 207 / 37%);
        width: 320px;
    top: 0;
}
td.user-tr10 .dropdown-menu.show p {
   color: #000;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 0;
    line-height: 23px;
}
.dashboard-listing.manage-items-listing.desired-shoping td.user-tr4 input.form-control {
    width: 100px;
    margin: 0 auto;
    float: none;
}
.add-quick-item-main .add-quick-input span.add-icon img {
    width: 17px;
    margin-top: 4px;
}
/*
.dashboard-listing.manage-items-listing table tbody td.user-tr1 {
    width: 5%;
}

.dashboard-listing.manage-items-listing table tbody td.user-tr2 {
    width: 13%;
}

.dashboard-listing.manage-items-listing table tbody td.user-tr3 {
    width: 10%;
}

.dashboard-listing.manage-items-listing table tbody td.user-tr4 {
    width: 5%;
}

.dashboard-listing.manage-items-listing table tbody td.user-tr5 {
    width: 10%;
}

.dashboard-listing.manage-items-listing table tbody td.user-tr6 {
    width: 5%;
}

.dashboard-listing.manage-items-listing table tbody td.user-tr7 {
    width: 10%;
}

.dashboard-listing.manage-items-listing table tbody td.user-tr8 {
    width: 10%;
}

.dashboard-listing.manage-items-listing table tbody td.user-tr9 {
    width: 10%;
}

.dashboard-listing.manage-items-listing table tbody td.user-tr10 {
    width: 5%;
}*/

.custom-control.custom-checkbox.mb-3 {
    margin: 0 !IMPORTANT;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 9999;
    box-shadow: 0px 0px 8px 2px rgb(207 207 207 / 37%);
    padding: 60px 0px 50px;
}
div#mySidebar .top-heading-inn {
    width: 100%;
}
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.sidebar .closebtn {
    position: absolute;
    top: 38px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}

.openbtn:hover {
    background-color: #444;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

div#mySidebar .top-heading-inn h2 {
    font-size: 22px;
    font-weight: 500;
    display: inline-block;
    margin-right: 12px;
    padding-left: 30px;
    margin-bottom: 40px;
}

div#mySidebar .top-heading-inn p {
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    margin-right: 12px;
    color: #a1a0a0;
    margin: 40px 0 30px;
    padding-left: 30px;
}

div#mySidebar form {
    padding: 0 30px;
    float: left;
    width: 100%;
}

div#mySidebar label {
    vertical-align: middle !important;
    border-top: 0;
    color: #151515;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0;
    width: 100%;
    float: left;
    margin-bottom: 6px;
}
div#mySidebar label span.star {
    color: #fb369a;
    font-weight: 600;
    font-size: 18px;
}
div#mySidebar .top-heading-inn .form-group {

    margin-bottom: 31px;
    width: 100%;
    display: block;
}
span.question-span {
    background: #fb369a;
    color: #fff;
    width: 22px;
    height: 22px;
    display: inline-block;
    border-radius: 80%;
    text-align: center;
    cursor: pointer;
}
.user-tr10{
    position: relative;
}
input.form-control, select {
    height: 45px !important;
    font-size: 14px !important;
    color: #888686 !important;
}
div#mySidebar .input-group.form-group.image-div {
    height: auto;
    margin-bottom: 30px;
    float: left;
}
.top-video-div video {
    width: 100%;
    margin-bottom: 20px;
}
div#mySidebar .top-heading-inn .form-group input.form-control, select {
    height: 45px !important;
    font-size: 14px !important;
    color: #888686 !important;
    width: 100%;
    float: left;
}
div#mySidebar button {
    background: #fb369a;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    padding: 11px 35px;
    border: 0;
    width: 100%;
    margin-top: 40px;
}

.dashboard-listing.manage-Stores-listing table thead th.user-th-start {
    width: 2%;
}

.dashboard-listing.manage-Stores-listing table thead th.user-th1 {
    width: 5%;
}

.dashboard-listing.manage-Stores-listing table thead th.user-th2 {
    width: 15%;
}

.dashboard-listing.manage-Stores-listing table thead th.user-th3 {
    width: 15%;
}

.dashboard-listing.manage-Stores-listing table thead th.user-th4 {
    width: 15%;
}

.dashboard-listing.manage-Stores-listing table thead th.user-th5 {
    width: 15%;
}

.dashboard-listing.manage-Stores-listing table thead th.user-th10 {
    width: 33%;
}

.dashboard-listing.manage-Stores-listing table tbody td.user-tr4 a {
    color: #2a44a4;
    text-decoration: underline;
}

.dashboard-listing.manage-Stores-listing table tbody td.user-tr-start {
    width: 2%;
}

.dashboard-listing.manage-Stores-listing table tbody td.user-tr1 {
    width: 5%;
}

.dashboard-listing.manage-Stores-listing table tbody td.user-tr2 {
    width: 15%;
}

.dashboard-listing.manage-Stores-listing table tbody td.user-tr3 {
    width: 15%;
}

.dashboard-listing.manage-Stores-listing table tbody td.user-tr4 {
    width: 15%;
}

.dashboard-listing.manage-Stores-listing table tbody td.user-tr5 {
    width: 15%;
}

.dashboard-listing.manage-Stores-listing table tbody td.user-tr10 {
    width: 33%;
}




/*.input-group.form-group.float{
    position: relative;
}
.input-group.form-group.float label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.input-group.form-group.float .texto{
    min-height: 150px;
}
.input-group.form-group.float label {
    color: #999 !important;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px !important;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}
.input-group.form-group.float input:focus ~ label, .input-group.form-group.float input:valid ~ label {
    top: -20px !important;
    font-size: 14px;
    color: #4285f4;
}*/

main.reports .form-group {
    margin-bottom: 5px;
    float: left;
    width: 32%;
    position: relative;
    margin-right: 1%;
    margin-top: 5px;
}

main.reports input.form-control {
    float: left;
    width: 100%;
    border: 2px solid #d6d6d6;
    height: 43px;
    border-radius: 7px !important;
    background: #fff;
    padding: 5px 14px 6px 9px;
    /* font-size: 15px; */
    /* position: relative; */
    /* font-weight: 500; */
    height: 43px;
}
input.quick-input {
    float: left;
    width: 100%;
    border: 2px solid #d6d6d6;
    height: 45px;
    border-radius: 7px !important;
    padding: 10px 20px 10px 44px;
}
.Category-div {
    float: left;
    width: 100%;
    color: #fb369a;
    font-size: 24px;
    margin-bottom: 5px;
    font-weight: 500;
}
.Category-div.Sub-category {
    font-size: 19px;
    float: right;
    width: 97%;
    font-weight: 400;
}
table.table.for-desired-shoping.desired-heading-table {
    width: 94%;
    float: right;
}
.Category-div.Sub-Sub-category {
    float: right;
    width: 95%;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 13px;
}
#update-reminder p {
    font-size: 16px !important;
    font-weight: 400;
    line-height: 24px;
    margin-top: 37px;
    color: #222239;
    margin-bottom: 26px;
}
button.btn.ok-btn {
    background: #fb369a;
    color: #fff;
    padding: 6px 38px;
    font-size: 18px;
    text-transform: uppercase;
}
.Shopping-go button.close {
    font-weight: 400;
    color: #000;
    font-size: 31px;
    position: absolute;
    right: 20px;
}
/*main.reports .form-group.custom-filter label {
    position: absolute;
    top: 11px;
    left: 13px;
    z-index: 9;
    font-weight: 500;
    background: #fff;
    color: #a2a2a2;
    font-size: 14px;
    pointer-events: none;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}*/

main.reports select {
    float: left;
    width: 100%;
    border: 2px solid #d6d6d6;
    height: 43px;
    border-radius: 7px !important;
    background: #fff;
    padding: 5px 14px 6px 9px;
    /* font-size: 15px; */
    /* position: relative; */
    /* font-weight: 500; */
    height: 43px;
}

main.reports .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #d6d6d6;
    outline: 0;
    box-shadow: none;
}

main.reports .form-group.custom-filter.keyword-search-input label {
    top: -8px;
    font-size: 12px;
    color: #000000;
    background: transparent;
    z-index: 9;
    font-weight: 500;
    background: none;
}

main.reports .form-group.custom-filter.keyword-search-input label:after {
    content: "";
    background: #fff;
    position: absolute;
    width: 100%;
    height: 11px;
    left: 0;
    z-index: -1;
    top: 7px;
}

main.reports .filter-buttons-top {
    float: left;
    width: 100%;
}

main.reports .filter-buttons-bottom {
    float: left;
    width: 100%;
    margin-top: 15px;
}

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

::-webkit-scrollbar-track {
    box-shadow: -5px 1px 6px 4px rgb(207 207 207 / 37%);
    border-radius: 0px;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #ffc3e1;
    border-radius: 10px;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #fb369a;
}

.modal-backdrop {
    z-index: 99999;
}
.modal {
    z-index: 999999;
}
.modal-dialog {
    max-width: 680px;
    margin: 0;
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) !important;
    -webkit-transform: translate(-50%, -50%) !important;
}
#welcomevideo .modal-body {
    padding: 0;
    border-radius: 13px;
    overflow: hidden;
}
#welcomevideo .modal-content {
    border-radius: 14px;
    /* background: transparent; */
}
#welcomevideo .modal-body .modal-video-div .top-video-div {
    float: left;
    width: 100%;
    position: relative;
}
#welcomevideo .modal-body .modal-video-div .top-video-div video#video1 {
    width: 100%;
    margin-bottom: 20px;
}
#welcomevideo .modal-body .modal-video-div .top-video-div button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: 0;
}
#welcomevideo .modal-body button.close {
    position: absolute;
    right: 16px;
    top: 10px;
    box-shadow: none;
    font-size: 38px;
    font-weight: 400;
    color: #fff;
    opacity: 1;
    z-index: 9999;
}
.video-content-div {
    float: left;
    width: 100%;
    padding: 0 20px 30px;
    text-align: center;
}
.video-content-div h2 {
    font-size: 26px;
    color: #000;
    float: left;
    width: 100%;
    margin: 0 0 9px;
}
.video-content-div p {
    font-size: 16px;
    color: #000;
}
#welcomevideo .modal-body .video-content-div button.btn.close.close-modal {
    position: initial;
    margin: 0 auto;
    float: none;
    background: #fb369a;
    font-size: 17px;
    padding: 10px 30px;
    font-weight: 300;
    margin-top: 15px;
}
/*------------------------------*/

/*.footer {
    float: left;
    width: 100%;
    border-top: 1px solid #eaeaea;
    padding: 80px 0 50px;
    text-align: center;
    background: #222239;
    color: #fff;
}*/
.footer {
    float: left;
    width: 100%;
    border-top: 1px solid #e2e2e2;
    padding: 26px 0 17px;
    text-align: center;
    color: #000;
    font-weight: 600;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-top: 40px;
}
.footer ul.listing_footer li {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 20px;
    text-align: left;
    color: #fff;
}

.footer ul.listing_footer li:first-child {
    font-weight: 700;
}

.footer .textoarea textarea {
    background: inherit;
    border: 1px solid #fff;
    padding: 20px 10px;
    color: #fff;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-transform: uppercase;
}
section.footer.landing-page-footer {
    background: #22223a;
    padding: 56px 0 17px;
}

.footer img {
    width: 80%;
    float: left;
}

.textoarea {
    position: relative;
}

.textoarea img {
    position: absolute;
    width: 20px;
    right: 10px;
    top: 10px;
}
.card {
    background: #fff;
    color: #fff;
    padding: 0px 0px 15px;
    border-radius: 10px;
    margin-bottom: 40px;
    min-height: 364px;
    border: 0;
    box-shadow: 0 0 3px #dcdcdc;
    overflow: hidden;
}
.notofications-section {
    float: left;
    width: 85%;
}
.notofications-section .notofications-single:last-child {
    border-bottom: 0;
}
.ask-question {
    position: fixed;
    right: 30px;
    bottom: 30px;
}
.ask-question img {
    width: 82px;
}
.notofications-section h2 {
    font-size: 22px;
    font-weight: 500;
    display: inline-block;
    margin-right: 12px;
}
.notofications-single {
    font-size: 15px;
        padding: 15px 0 15px;
    border-bottom: 1px solid #dadada;
    position: relative;
    cursor: pointer;
}
.welcome-message .modal-dialog {
       max-width: 570px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
    margin: 0;
    position: absolute;
}
.notofications-single i.fas.fa-times {
    position: absolute;
    right: 0;
    top: 19px;
    font-size: 22px;
}
.card .card-top-img {
    float: left;
    width: 100%;
    height: 170px;
}
.card img {
    width: auto;
    margin-bottom: 0;
    max-width: 268px;
}
.card h2 {
    font-size: 22px;
    margin-bottom: 6px;
    color: #262626;
    float: left;
    width: 100%;
    padding: 27px 25px 0;
}
.card p {
    color: #262626;
    font-size: 16px;
    font-weight: 400;
    float: left;
    width: 100%;
    padding: 0px 25px 0;
}
.card .card-top-img {
    float: left;
    width: 100%;
    height: 240px;
    background: #fef6f0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard-seactions-outer {
    float: left;
    width: 100%;
    margin: 0px 0 40px;
}
.dashboard-seactions {
    width: 85%;
    margin: 0 auto;
    float: left;
}
a.dropdown-item {
    color: #000000;
    font-weight: 400;
    letter-spacing: 0;
    margin-bottom: 8px;
}
.dropdown-menu.show {
    padding: 14px 0 12px;
    border-radius: 10px;
}
.welcome-message{
   
    background: rgba(0,0,0,.7);
    z-index: 999999;
}
.modal.show {
    display: block;
}
.welcome-message .modal-body {
    padding: 0;
    text-align: center;
}
.welcome-message .top-div {
    height: 260px;
        margin-bottom: 30px;
}
.welcome-message img {
    width: 100%;
    height: 100%;
        border-radius: 10px 10px 0 0;
}
.top-div.wel-msg img {
    width: 80px;
    height: auto;
    border-radius: 0;
}
.welcome-message .top-div.wel-msg {
    height: 190px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    background: #fed7eb;
}
.welcome-message button.close.closeoffer {
        margin: 0;
    line-height: 15px;
    right: 10px;
    top: 10px;
    z-index: 99;
    opacity: 1;
    position: absolute;
    color: black;
        font-size: 24px;
}
.welcome-message button.close.closeoffer i.fas.fa-times {
    font-size: 15px;
}
.welcome-message h2 {
    font-size: 20px;
    color: #222239;
    letter-spacing: 0;
}
.welcome-message p {
    font-size: 13px;
    color: #222239;
    letter-spacing: 0;
       margin: 12px 20px 30px;
}
.modal-content {
    
}
.welcome-message button.back {
    background: #fcfcfc;
    color: #000 !important;
    border-radius: 5px;
    font-weight: 400 !important;
    padding: 8px 6px;
    font-size: 14px !important;
    BORDER: 0;
    WIDTH: 100PX;
 MARGIN: 0 5px 30PX;
    border: 1px solid #e0e0e0;
}
.welcome-message button.next {
    background: #fb369a;
    color: #fff !important;
    border-radius: 5px;
    font-weight: 400 !important;
    padding: 8px 6px;
    font-size: 14px !important;
    BORDER: 0;
    WIDTH: 100PX;
   MARGIN: 0 5px 10PX;
    border: 1px solid #fb369a;
}
.search-dash-text {
    float: left;
    width: 100;
    width: 100%;
}
.top-heading-left-side {
    width: 70%;
    float: left;
}
.top-heading-right-side {
    width: auto;
    float: right;
    padding-left: 30px;
    margin-top: 10px;
}
.top-heading-right-side img {
    width: 26px;
}
.top-heading-right-side h6 {
    display: inline-block;
    font-size: 14px;
}
.top-heading-right-side .notification {
    float: right;
    display: inline-block;
    margin-top: -10px;
    margin-left: 30px;
}
.top-heading-right-side .notification select#sel1 {
    background: inherit;
    border: 0;
    padding: 0;
    height: auto;
    display: inline-block;
    width: auto;
    cursor: pointer;
}
.top-heading-right-side .notification i.far.fa-bell {
    float: right;
    font-size: 26px;
    display: inline-block;
    margin-left: 10px;
        margin-top: 10px;
}
button.top-back-btn {
    background: #000000;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    padding: 8px 26px;
    border: 0;
    border-radius: 6px;
    margin-right: 10px;
}
.top-heading-inn {
    float: left;
    width: 70%;
}
.Tabs-right {
    float: right;
    width: 30%;
}
.sindle-item {
    background: #fff;
    float: left;
    width: 100%;
    box-shadow: 0px 0px 8px 2px rgb(207 207 207 / 37%);
        border-radius: 0 0 10px 10px;
            margin-bottom: 30px;
            width: 18%;
    margin: 0 1% 30px;
}
main.Category.sub-inventory .sindle-item {
    min-height: 240px !important;
}
.navbarr-Sub-category h6 {
    color: #7c7c7c;
    font-weight: 400;
}
.navbarr-Sub-category h6 a.active{
    color: #fb369a;
    font-weight: 400;
}
.navbarr-Sub-category i.fas.fa-chevron-right {
    font-size: 12px;
    margin: 0 7px;
}
.tab-content.login.inventory-page .sindle-item.for-category:first-child {
    margin-left: 0;
}
.tab-content.login.inventory-page .sindle-item.for-category:nth-child(6) {
    margin-left: 0;
}
.sindle-item img {
    width: 100%;
}
.sindle-item .image-section {

        position: relative;
}
.icons-sec {
    position: absolute;
    right: 10px;
    top: 10px;
}
.sindle-item .btm-section {
    padding: 8px 10px 3px;
}
.sindle-item.for-category .btm-section {
   padding: 15px 10px 10px;
    float: left;
    width: 100%;
}
.sindle-item.for-category .product-info {
    margin-bottom: 8px;
}
.sindle-item .product-info {
    float: left;
    width: 100%;
    margin-bottom: 4px;
}
.product-info.bold h2{
 font-size: 15px;
    float: left;
        font-weight: 600;
}
.product-info.bold p{
     font-size: 16px;
    float: right;
        font-weight: 600;
}
.sindle-item h2 {
    font-size: 13px;
    float: left;
}
.sindle-item p {
    font-size: 13px;
    float: right;
}
main.Category.stores .dashboard-listing.manage-category-listing table tbody td.user-tr1 {
    width: 10%;
}
main.Category.stores .dashboard-listing.manage-category-listing table thead th.user-th1 {
    width: 10%;
}
main.Category.stores .dashboard-listing.manage-category-listing table tbody td.user-tr2 {
    width: 30%;
}
main.Category.stores .dashboard-listing.manage-category-listing table thead th.user-th2 {
    width: 30%;
}
main.Category.stores .dashboard-listing.manage-category-listing table tbody td.user-tr3 {
    width: 25%;
}
main.Category.stores .dashboard-listing.manage-category-listing table thead th.user-th3 {
    width: 25%;
}
main.Category.stores .dashboard-listing.manage-category-listing table thead th.user-th4 {
    width: 15%;
}
main.Category.stores .dashboard-listing.manage-category-listing table tbody td.user-tr4 {
    width: 15%;
}
main.Category.stores .dashboard-listing.manage-category-listing table thead th.user-th5 {
    width: 20%;
}
main.Category.stores .dashboard-listing.manage-category-listing table tbody td.user-tr5 {
    width: 20%;
}
td a {
    color: #2a44a4;
    text-decoration: underline;
}
.getting-started .card {
    background: #ffffff;
    color: #000;
    padding: 0 0 20px;
}
.top-video-div button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    border: 0;
}
.getting-started .card p {
    color: #080808;
    font-weight: 500;
    margin: 0px 0 0;
}
.getting-started .card img {
    width: 100%;
    margin-bottom: 0;
}
.gethelp li {
    vertical-align: middle !important;
    border-top: 0;
    color: #000;
    font-weight: 400;
    font-size: 15px;
   margin-bottom: 15px;
    position: relative;
        padding-left: 20px;
}
.gethelp li:before {
        content: '';
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    left: 0;
    top: 6px;
    background: #fb369a;
}
.rounded-div {
    background: #fff;
    border-radius: 20px;
    padding: 30px;
    float: left;
    width: 100%;
}
.rounded-div-single {
    width: 25%;
    float: left;
    text-align: center;
    float: left;
}
.rounded-div-single img {
    width: 100px;
    margin-bottom: 14px;
}
.content-under-round-div{
    padding: 30px 0 0;
    float: left;
    width: 100%;
}
.content-under-round-div {
    display: flex;
}
.content-under-round-div ul {
    display: inline-block;
    margin-right: 50px;
}
.Forgot-pass-inn {
        width: 70%;
       margin: 0 auto 30px;
    text-align: center;
    background: #fff;
    border-radius: 10px;
    padding: 30px 60px;
}
.Forgot-pass-inn img {
    width: 60px;
}
.Forgot-pass-inn h1 {
    font-size: 23px;
    letter-spacing: 0;
    font-weight: 500;
    text-align: center;
        margin: 20px 0 30px;
}
.Forgot-pass-inn .button {
    text-align: right;
    margin-top: 20px;
}
.Forgot-pass-inn h2.chang-pas {
    font-size: 23px;
    text-align: left;
    margin-bottom: 30px;
}
.link-acc {
    box-shadow: 0px 0px 5px 1px rgb(207 207 207 / 37%);
    margin-bottom: 14px;
    height: 55px !important;
    font-size: 16px;
    font-weight: 500;
    border-radius: 8px;
}
img.link-acc-img {
        width: 30px !important;
    margin-right: 20px;
    box-shadow: none !important;
    border-radius: 0 !important;
    height: 30px;
    object-fit: contain;
}
.col-md-4.left {
    text-align: left;
    align-items: center;
    display: flex;
    height: 55px;
    padding-left: 50px;
}
.col-md-4.middle {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 55px;
}
i.fas.fa-link {
    color: #fb369a;
    margin-right: 15px;
    transform: rotate(45deg);
}
h2.addit {
    display: block;
    font-size: 15px;
    margin-top: 18px;
    font-weight: 400;
}
.col-md-4.right {
    text-align: right;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 55px;
}
.col-md-4.right a{
    color: #fb369a;
}
.Forgot-pass-inn button {
        background: #fb369a;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 8px 37px;
    border: 0;
    border-radius: 5px;
    width: auto;
}
.Forgot-pass-inn input.form-control {
    box-shadow: 0px 0px 4px 1px rgb(207 207 207 / 20%);
    margin-bottom: 14px;
    height: 50px !important;
    border: 0;
}
.Forgot-pass-inn.edit-profiles img {
    width: 100px;
    box-shadow: 0px 0px 4px 1px rgb(207 207 207 / 20%);
    border-radius: 50%;
    border: 5px solid #fff;
    
}
span.edit-pro-inn {
     position: relative;
}
span.edit-pro-inn i.fas.fa-pen {
    background: #fb369a;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    color: #fff;
    padding: 7px 5px;
    font-size: 12px;
    position: absolute;
       bottom: -21px;
    right: -3px;

    cursor: pointer;
}
span.edit-pro {
    margin-bottom: 30px;
    float: left;
    width: 100%;
    text-align: center;
   
}
.top-heading-inn.for-desired-shoping {
    float: left;
    width: auto;
    border-right: 2px solid #ccc;
    padding-right: 34px;
    margin-right: 30px;
}
.top-heading-inn.for-desired-shoping .top-heading-inn{
float: left;
    width: 100%;
    margin-bottom: 20px;
}
.dashboard-listing.manage-items-listing.desired-shoping table thead th.user-th1 {
    text-align: left;
}
/*------------------desired-shping--------------------------------*/
/*.dashboard-listing.manage-items-listing.desired-shoping table thead th.user-th1 {width: 10%;}
.dashboard-listing.manage-items-listing.desired-shoping table thead th.user-th2 {width: 15%;}
.dashboard-listing.manage-items-listing.desired-shoping table thead th.user-th3 {width: 10%;}
.dashboard-listing.manage-items-listing.desired-shoping table thead th.user-th4 {width: 5%;}
.dashboard-listing.manage-items-listing.desired-shoping table thead th.user-th5 {width: 15%;}
.dashboard-listing.manage-items-listing.desired-shoping table thead th.user-th6 {width: 15%;}
.dashboard-listing.manage-items-listing.desired-shoping table thead th.user-th7 {width: 10%;}
.dashboard-listing.manage-items-listing.desired-shoping table thead th.user-th8 {width: 10%;}
.dashboard-listing.manage-items-listing.desired-shoping table thead th.user-th9 {width: 10%;}

.dashboard-listing.manage-items-listing.desired-shoping table tbody td.user-tr1 {width: 10%;}
.dashboard-listing.manage-items-listing.desired-shoping table tbody td.user-tr2 {width: 15%;}
.dashboard-listing.manage-items-listing.desired-shoping table tbody td.user-tr3 {width: 10%;}
.dashboard-listing.manage-items-listing.desired-shoping table tbody td.user-tr4 {width: 5%;}
.dashboard-listing.manage-items-listing.desired-shoping table tbody td.user-tr5 {width: 15%;}
.dashboard-listing.manage-items-listing.desired-shoping table tbody td.user-tr6 {width: 15%;}
.dashboard-listing.manage-items-listing.desired-shoping table tbody td.user-tr7 {width: 10%;}
.dashboard-listing.manage-items-listing.desired-shoping table tbody td.user-tr8 {width: 10%;}
.dashboard-listing.manage-items-listing.desired-shoping table tbody td.user-tr9 {width: 10%;}*/

.dashboard-listing.manage-items-listing.desired-shoping th, .dashboard-listing.manage-items-listing.desired-shoping td {text-align: center;    width: 20%;}
.dashboard-listing.manage-items-listing.desired-shoping td input.form-control {height: 38px !important;}

table tbody span {
    border: 1px solid #c6c6c6;
    border-radius: 7px;
    padding: 6px 19px;
}
table tbody span i.fas.fa-calendar-alt {
    margin-left: 14px;
    color: #444;
    font-size: 16px;
}
.total_bill {
    float: left;
    width: 100%;
}
.total-price {
    display: inline-block;
     box-shadow: 0px 0px 8px 2px rgb(207 207 207 / 37%);
    background: #fb369a;
       padding: 15px 100px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
        margin-right: 20px;
}
.total_bill h1 {
    font-size: 20px;
    font-weight: 700;
    margin: 7px 0 0;
}
.Storepayment {
    display: inline-block;
    box-shadow: 0px 0px 8px 2px rgb(207 207 207 / 37%);
    background: #fff;
      padding: 15px 50px;
    border-radius: 10px;
    text-align: center;
        margin-right: 20px;
}
table.table.for-desired-shoping {
    float: left;
    width: 100%;
}
/*-----------------desired-shping---------------------------------*/
/*--------------------------------------------------*/
i#heart {
    font-size: 28px;
    color: #cbcbcb;
}

#heart.red {
  color: #fb369a;
}
.custom-control-label::before {
    width: 20px;
    height: 20px;
    border: #fb369a solid 1px;
}
.custom-control-label::after {
    width: 20px;
    height: 20px;
}
.custom-control-input:checked~.custom-control-label::before {
    border-color: #fb369a;
    background-color: #fb369a;
}
/*-------------------------------------------------*/
/*-----------------------Landing-page---------------------------*/

.banner {
    float: left;
    width: 100%;
    position: relative;
}
.banner-btm {
    position: absolute;
    top: 210px;
    left: 0;
    width: 100%;
    float: left;
}
.centered-content {
    width: 100%;
    margin: 0 auto;
    max-width: 1230px;
}
.banner h1 {
    color: #fff;
    font-weight: 700;
    font-size: 60px;
    text-transform: uppercase;
}

.banner p {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin: 30px 0 20px;
    letter-spacing: 2px;
}

button.rounded {
    text-transform: uppercase;
    background: #fb369a;
    border: 0;
    color: #fff;
    font-size: 14px;
    padding: 11px 25px;
    border-radius: 40px !important;
}

section {
    float: left;
    width: 100%;
    position: relative;
}

section.inventry {
    padding: 80px 0;
}

section.inventry h1 {
    font-size: 34px;
    font-weight: 800;
    float: left;
    width: 100%;
    line-height: 45px;
    margin-bottom: 32px;
}
section.inventry ul {
    margin-top: 40px;
}

section.inventry ul li {
    margin-bottom: 45px;
    float: left;
    width: 100%;
}

span.image-icon {
    display: inline-block;
    width: 15%;
    float: left;
}

span.image-icon img {
    width: 72px;
}

span.content {
    display: inline-block;
    width: 85%;
    float: right;
}

span.content h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

span.content p {
    color: #28283e;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
}

img.right-side-laptop {
    position: absolute;
    right: 0;
    width: 850px;
    top: 0;
}

img.left-side-laptop {
    position: absolute;
    left: 0;
    width: 850px;
    top: 0;
}

section.how_wprks {
    padding: 100px 0 100px;
}

.how_wprks-inn {
    position: relative;
}

.how_wprks-inn:after {
    content: '';
    background: url(../images/shape.png);
    position: absolute;
    top: 118px;
    left: 170px;
    width: 79%;
    height: 122px;
    background-repeat: no-repeat;
    background-size: contain;
}
.how-it-works-content {
    float: left;
    width: 100%;
    min-height: 190px;
}
section.how_wprks h1 {
    font-size: 31px;
    font-weight: 800;
    text-align: center;
}

.How-it-works {
    text-align: center;
    margin-top: 100px;
}

section.how_wprks .How-it-works h1 {
    font-size: 22px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 11px;
}

section.how_wprks .How-it-works img {
    width: 80px;
    text-align: center;
    margin-bottom: 60px;
    position: relative;
    z-index: 9;
}
.How-it-works.inventory img {
    margin-top: 30px;
}
.How-it-works.reminders img {
    margin-top: 26px;
}
.How-it-works.reports img {
    margin-top: 10px;
    width: 80px;
}

.How-it-works p {
    color: #28283e;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}

section.inventry.tracking-breeze {
    text-align: right;
}

section.inventry.tracking-breeze span.content {
    float: left;
}

section.testimonials {
    padding: 170px 0 100px;
}

section.testimonials h1 {
    font-size: 31px;
    font-weight: 800;
    text-align: center;
    margin-bottom: 30px;
}
section.testimonials .border-line.black {
    margin-bottom: 130px;
}

section.testimonials h2 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 7px;
    margin-top: 70px;
}

section.testimonials p {
    color: #28283e;
    font-size: 16px;
    font-weight: 400;
    margin-top: 6px;
    line-height: 28px;
}

section.testimonials .card {
    background: #fff;
    border-radius: 25px;
    border: 0;
    box-shadow: 0 1px 8px 7px rgb(0 0 0 / 6%);
    padding: 20px 20px;
    text-align: center;
    width: 95%;
    margin: 0 auto;
    overflow: visible;
}

section.testimonials span {
    width: 100%;
    height: 100px;
    text-align: center;
    position: absolute;
    left: 0;
    top: -40px;
}

section.testimonials span img {
    width: 100px;
    height: 100px;
}

.ratings {
    margin: 21px 0 10px;
}

i.fas.fa-star.selected {
    color: #fb369a;
}

i.fas.fa-star.unselected {
    color: #fb369a;
}
.border-line {
   width: 90px;
    height: 3px;
    background: #fff;
    margin: 20px 0 0;
    position: relative;
    text-align: center;
}
.border-line.black {
    margin: 30px auto 40px;
    background: #2f2d2d;
    height: 3px;
}
.border-line:after {
    content: '';
    position: absolute;
    left: 50%;
    height: 6px;
    background: #fb369a;
    width: 24%;
    margin: 0 auto;
    top: -4px;
    transform: translate(-50%, 50%);
    border-radius: 310px;
}
.file-upload {
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    float: left;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}


.image-upload-wrap {
    margin-top: 0;
    border: 1px solid #adadad;
    position: relative;
    border-radius: 7px;
    background: #f4f4f4;
}
.image-title-wrap {
    padding: 0;
    color: #222;
}
div#mySidebar button.btn.btn-primary.show-fields {
    padding: 0;
    float: right;
    background: transparent;
    color: #fb369a;
    margin: 0;
    text-align: right;
    width: auto;
}
div#mySidebar hr.separator {
    margin: 30px 0 20px;
}
span.caret {
    /* border-color: #000; */
    /* border-width: 0 0 20px 20px; */
    float: right;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 7px solid #fb369a;
    margin: 8px 0 0 11px;
    cursor: pointer;
}
.drag-text {
  text-align: center;
}
textarea.textarea-field {
    height: 80px !important;
    font-size: 14px !important;
    color: #888686 !important;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
div#demo {
    float: left;
    width: 100%;
}
.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0rem rgb(38 143 255 / 50%) !important;
}
.drag-text h3 {
    font-weight: 500;
    color: #7b7b7b;
    padding: 20px 0;
    font-size: 16px;
}
.drag-text h3 img {
    width: 24px;
    margin-bottom: 14px;
}

.file-upload-image {
  max-height: 200px;
  max-width: 200px;
  margin: auto;
  padding: 20px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}
#Congratulations1 .modal-header {
    background: #dff4f8;
    float: left;
    width: 100%;
    text-align: center;
    padding: 30px 10px;
}
#Congratulations1 .modal-header .congrats-image {
    float: left;
    width: 100%;
}

#Congratulations1 .modal-header button.close {
    position: absolute;
    top: 13px;
    font-size: 28px;
    font-weight: 500;
    right: 20px;
}
.congrats-content {
    float: left;
    width: 100%;
    text-align: center;
    padding: 20px 10px 16px;
}
.congrats-content h2 {
    font-size: 40px;
    color: #fb369a;
    float: left;
    width: 100%;
    margin-bottom: 13px;
}
.congrats-content p {
    color: #3f3854;
    font-size: 18px;
    margin-bottom: 20px;
}
.congrats-content button.btn.btn-secondary {
    background: #fb369a;
    border: 1px solid #fb369a;
    width: 100px;
    margin: 0 auto;
}
.Shopping-go h2 {
    color: #3f3854;
    font-size: 26px;
    margin: 10px 0px 35px;
}
.Shopping-go button.btn.btn-secondary.shopping-btn {
    margin: 0 9px 17px;
}
.Shopping-go button.btn.btn-secondary.shopping-btn.no-btn {
    background: #fff;
    border:1px solid #ccc;
    color: #000;
}
/* The container */
.select-options label.select-container {
    border: 2px solid #fb369a;
    width: 220px;
    margin: 0 auto 12px;
    border-radius: 6px;
    font-size: 17px;
    color: #fff;
    padding: 0;
    position: relative;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: white;
    color: #fb369a;
    overflow: hidden;
}

/* Hide the browser's default radio button */
.select-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

/* Create a custom radio button */
.select-container .checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    width: 100%;
    background-color: #fff;
    border-radius: 0;
    padding: 8px 20px;
    border: 0;
    float: left;
}

/* On mouse-over, add a grey background color */
.select-container:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the radio button is checked, add a blue background */
.select-container input:checked ~ .checkmark {
    background-color: #fb369a;
    color: #fff;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.select-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.select-container input:checked ~ .checkmark:after {
  display: block;
}


.select-options {
    float: left;
    width: 100%;
    position: relative;
}
.Shopping-go .modal-dialog {
    max-width: 620px;
}
/*-----------------------Landing-page---------------------------*/


.form-group {
    display: flex;
    height: 55px;
    width: 500px;
    margin: 0 auto;
}

.control-label {
    font-size: 16px;
    font-weight: 400;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    transform: translate3d(0, 22px, 0) scale(1);
    transform-origin: left top;
    transition: 240ms;
    line-height: 29px;
}

.form-group.focused .control-label {
    opacity: 1;
    transform: scale(0.9);
    color: #000000;
    left: 14px;
    top: -2px;
}
.form-group.focused .control-label:after {
    position: absolute;
    width: 100%;
    background: aliceblue;
    content: "";
    height: 15px;
    left: 0;
    z-index: -1;
    top: 2px;
}
.form-control {
    align-self: flex-end;
}
.ask-penny-banner {
    float: left;
    width: 100%;
    position: relative;
    margin-top: 78px;
}
.ask-penny-banner .banner-image {
    float: left;
    width: 100%;
    position: relative;
}
.banner-content {
    float: left;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 80px;
}
.banner-content h3 {
    color: #fa369a;
    font-size: 40px;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.banner-content p {
    color: #000;
    font-size: 20px;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    line-height: 33px;
    margin-top: 10px;
}
.banner-content .container {
    max-width: 1080px;
}
.pink-bar {
    float: left;
    width: 100%;
    background: #fa369a;
    padding: 13px 0;
    text-align: center;
    font-size: 18px;
    color: #fff;
}
.pink-bar span.heading-crumb {
    font-weight: 600;
    margin: 0 6px;
    display: inline-block;
}
.pink-bar span {
    margin: 0 6px;
    display: inline-block;
}

.file-input {
  display: inline-block;
  text-align: left;
  background: #fff;
  padding: 16px;
  width: 450px;
  position: relative;
  border-radius: 3px;
}

.file-input > [type='file'] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

.file-input > .button {
  display: inline-block;
  cursor: pointer;
  background: #eee;
  padding: 8px 16px;
  border-radius: 2px;
  margin-right: 8px;
}

.file-input:hover > .button {
  background: dodgerblue;
  color: white;
}

.file-input > .label {
  color: #333;
  white-space: nowrap;
  opacity: .3;
}

.file-input.-chosen > .label {
  opacity: 1;
}
.ask-penny-form-div .container {
    max-width: 1080px;
}
.ask-penny-form-div {
    float: left;
    width: 100%;
    padding: 60px 0;
}
.ask-penny-form-div .form-group.name-group {
    float: left;
    width: 48%;
    display: inline-block;
}
.ask-penny-form-div .form-group label {
    font-size: 16px;
    color: #141313;
    float: left;
    width: 100%;
    margin-bottom: 8px;
}
.ask-penny-form-div .form-group input.input-control {
    float: left;
    width: 100%;
    border: 1px solid #ccc;
    padding: 6px 15px;
    height: 48px;
    border-radius: 9px;
    font-size: 16px;
}
.ask-penny-form-div .form-group.name-group.last-name-group {
    float: right;
}
.ask-penny-form-div .form-group label span.start-required {
    color: #fa369a;
    font-weight: 500;
}
.ask-penny-form-div .form-group {
    float: left;
    width: 100%;
    display: inline-block;
    height: auto;
    margin-bottom: 38px;
}
span.hint {
    color: #777777;
    font-size: 14px;
}
.banner-content p a {
    color: #fa369a;
}
.ask-penny-form-div.testimonial-page {
    padding: 110px 0 60px;
}
.ask-penny-form-div textarea.input-group.textarea {
    float: left;
    width: 100%;
    border: 1px solid #ccc;
    padding: 6px 15px;
    height: 138px;
    border-radius: 9px;
    font-size: 16px;
}
.file-input {
    float: left;
    width: 100%;
    border: 1px solid #ccc;
    padding: 6px 15px;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    margin-bottom: 50px;
}
.ask-penny-form-div .form-group label.label {
    color: #1f73ff;
    opacity: 1;
    font-size: 14px;
    padding: 7px 0;
}
button.submit-btn {
    background: #fa369a;
    width: 140px;
    margin: 0 auto;
    float: none;
    display: block;
    border: 0;
    padding: 10px 10px;
    font-size: 18px;
    color: #fff;
    border-radius: 6px;
    margin-top: 30px;
    overflow: hidden;
}

/*-----------------------Responsive---------------------------*/

@media only screen and (max-width:1440px){
    

.dashboard-left-part li a {
    font-size: 15px;
    color: #696969;
    display: block;
    padding: 18px 3px 18px 0px;
    display: inline-block;
}

.dashboard-left-part .at-bottom a {
    padding: 17px 3px 17px 0px;
}
.dashboard-left-part li.active:after {
    height: 55px;
    padding: 15px 37px;
    border-radius: 0 14px 14px 0;
}
.welcomeadmintext h6 {
    font-size: 20px;
}
.top-heading h2 {
    font-size: 17px;
}
.top-heading-right-side img {
    width: 20px;
}
.top-heading-right-side .notification i.far.fa-bell {
    font-size: 21px;
    margin-top: 13px;
}
.card h2 {
    font-size: 18px;
    margin-bottom: 7px;
}
.card p {
    font-size: 14px;
}
.card {
    /* padding: 20px 20px 20px; */
    min-height: 313px;
}
.card img {
    margin-bottom: 20px;
}
.dashboard-seactions-outer {
    margin: 0px 0 40px;
}
.notofications-section h2 {
    font-size: 20px;
}
.notofications-single {
    font-size: 14px;
    padding: 10px 0 10px;
}
.footer {
    padding: 20px 0 10px;
}
.Signup h3 {    font-size: 40px;
}
.login-left-inn {
    width: 57%;
}
.login-main.Signup .accounthave {
    margin-top: 0;
}
.login-main.Signup.Forgot-pss h3 {
    margin-top: 120px;
    margin-bottom: 20px;
}
.login-main.Signup .login-left form {
    margin-top: 30px;
}
.login-left-inn button.btn {
    margin: 25px 0 23px;
}
.login-left h4 {
    margin: 0px 0 34px 0;
}
.login-main {
    background: #f8f8f8;
}
.login-left h3 {
    font-size: 40px;
    margin-top: 100px;
}
.logo-div {
    margin: 40px 0 25px 0px;
}
.login-left-inn .social-links-for-login button.btn {
    margin: 0px 15px 0;
}
.social-links-for-login {
    margin-top: 20px;
    margin-bottom: 30px;
}
.login-left-inn {
    width: 57%;
    margin: 0 auto;
}
.Signup h3 {
    margin-bottom: 10px;
    font-size: 40px;
}
.login-main.Signup .social-links-for-login {
    margin-top: 20px;
    margin-bottom: 33px;
}
.accounthave h6 {
    font-size: 15px;
}
.social-links-for-login button img.google-icon {
    width: 32px;
}
.login-left-inn .social-links-for-login button.btn {
    width: 56px;
    height: 56px;
    border-radius: 12px;
}
.social-links-for-login button.btn i.fab.fa-apple {
    font-size: 32px;
}
.social-links-for-login button.btn i.fab.fa-facebook-f {
    font-size: 27px;
}
.dashboard-seactions {
    width: 95%;
}
.card .card-top-img {
    height: 210px;
}
.notofications-section {
    width: 95%;
}
.notofications-single i.fas.fa-times {
    top: 10px;
}
main.reports .filter-buttons {
    width: 74%;
}
main.reports .filter-buttons .form-group {
    width: 22.5%;
}
button.btn.items {
    padding: 11px 19px;
}
.banner-content {
    top: 54px;
}
.banner-content h3 {
    font-size: 34px;
    margin-bottom: 4px;
}
.banner-content p {
    color: #000;
    font-size: 18px;
    float: left;
    width: 100%;
    margin-bottom: 10px;
    line-height: 28px;
    margin-top: 10px;
}
}