
    <app-header></app-header>
      <div class="dashboard-body">
        <app-sidebar></app-sidebar>
         <div class="dashboard-right-part getting-started">
            <div class="right-inn-main">
               <div class="">
                  <div class="top-heading">
                     <div class="search-dash-text">
                        <div class="top-heading-left-side">
                           <h2>Getting Started</h2>
                           <div class="search">
                              <img src="assets/theme/images/search-icon.png" alt="search" class="search">
                              <input type="search" name="search" placeholder="Search">
                           </div>
                        </div>
                        <div class="top-heading-right-side">
                           
                           <!-- <img src="assets/theme/images/dashboard-clender.png" alt="">
                           <h6>April 23, 2021</h6> -->
                           <!-- <div class="notification">
                              <select class="form-control" id="sel1">
                                 <option>EN</option>
                                 <option>CA</option>
                                 <option>NZ</option>
                                 <option>AUS</option>
                              </select>
                              <i class="far fa-bell"></i>
                           </div> -->
                        </div>
                     </div>
                  </div>

                
                  <div class="dashboard-seactions-outer">
                     <div class="">
                        <div class="getting-started">
                           <div class="row" id="videoPlay">

                              <div class="col-md-6">
                                 <div class="dashboard-seaction-single">
                                    <div class="card">
                                       <div class="top-video-div">
                                          <video id="video0" class="videos playPauseVideo" value="2" width="420">
                                             <source src="assets/theme/images/shopping-video.mp4" type="video/mp4">
                                             <source src="assets/theme/images/shopping-video.mp4" type="video/ogg">
                                          </video>
                                            <button  id="playPause" class="playpause"  (click)="playPause('0')">
                                             <td id="play0"> <img src="assets/theme/images/play.png"></td>
                                                <td style="display: none;" id="pause0"> <img src="assets/theme/images/pause.png"></td>
                                              <!-- <ng-template #elseBlock>
                                                <td> <img src="assets/theme/images/play.png"></td>
                                              </ng-template> -->
                                            
                                             
                                             </button>
                                      </div>
                                       <p>1. Set-up your stores</p>
                                    </div>
                                 </div>
                              </div>



                              <div class="col-md-6">
                                 <div class="dashboard-seaction-single">
                                    <div class="card">
                                       <div class="top-video-div">
                                          <video  id="video1" class="playPauseVideo videos" value="3" width="420">
                                           <source src="assets/theme/images/shopping-video.mp4" type="video/mp4">
                                             <source src="assets/theme/images/shopping-video.mp4" type="video/ogg">
                                         </video>
                                         <button  class="playpause" (click)="playPause('1')">
                                            <td id="play1"> <img src="assets/theme/images/play.png"></td>
                                             <td style="display: none;" id="pause1"> <img src="assets/theme/images/pause.png"></td>
                                          </button>
                                      </div>
                                       <p>2. Add your current inventory to each category</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="dashboard-seaction-single">
                                   <div class="card">
                                       <div class="top-video-div">
                                          <video  id="video2"  class="playPauseVideo videos" value="4" width="420">
                                           <source src="assets/theme/images/shopping-video.mp4" type="video/mp4">
                                             <source src="assets/theme/images/shopping-video.mp4" type="video/ogg">
                                         </video>
                                         <button  class="playpause" (click)="playPause('2')">
                                            <!-- <img src="assets/theme/images/play.png"> -->
                                            <td id="play2"> <img src="assets/theme/images/play.png"></td>
                                            <td style="display: none;" id="pause2"> <img src="assets/theme/images/pause.png"></td>
                                          </button>
                                      </div>
                                       <p>3. Look at your shopping list</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="dashboard-seaction-single">
                                    <div class="card">
                                       <div class="top-video-div">
                                          <video  id="video3" class="playPauseVideo videos" width="420">
                                           <source src="assets/theme/images/shopping-video.mp4" type="video/mp4">
                                             <source src="assets/theme/images/shopping-video.mp4" type="video/ogg">
                                         </video>
                                         <button  class="playpause" (click)="playPause('3')">
                                            <!-- <img src="assets/theme/images/play.png"> -->
                                            <td id="play3"> <img src="assets/theme/images/play.png"></td>
                                            <td style="display: none;" id="pause3"> <img src="assets/theme/images/pause.png"></td>
                                          </button>
                                      </div>
                                       <p>4. Go shopping</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="dashboard-seaction-single">
                                    <div class="card">
                                       <div class="top-video-div">
                                          <video  id="video4" class="videos playPauseVideo" width="420">
                                           <source src="assets/theme/images/shopping-video.mp4" type="video/mp4">
                                             <source src="assets/theme/images/shopping-video.mp4" type="video/ogg">
                                         </video>
                                         <button  class="playpause" (click)="playPause('4')">
                                            <!-- <img src="assets/theme/images/play.png"> -->
                                            <td id="play4"> <img src="assets/theme/images/play.png"></td>
                                            <td style="display: none;" id="pause4"> <img src="assets/theme/images/pause.png"></td>
                                          </button>
                                      </div>
                                       <p>5. Review your Dashboard</p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-md-6">
                                 <div class="dashboard-seaction-single">
                                    <div class="card">
                                      <div class="top-video-div">
                                       <video  id="video5" class="videos playPauseVideo" width="420">
                                           <source src="assets/theme/images/shopping-video.mp4" type="video/mp4">
                                             <source src="assets/theme/images/shopping-video.mp4" type="video/ogg">
                                         </video>
                                         <button  class="playpause" (click)="playPause('5')">
                                            <!-- <img src="assets/theme/images/play.png"> -->
                                            <td id="play5"> <img src="assets/theme/images/play.png"></td>
                                            <td style="display: none;" id="pause5"> <img src="assets/theme/images/pause.png"></td>
                                          </button>
                                </div>
                                       <p>6. Update your inventory levels</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!---LIST--->
               </div>
               <!----------------->
            </div>
            
         </div>
        
      </div>