/* @import '../../../node_modules/primeng/resources/themes/saga-blue/theme.css';
@import '../../../node_modules/primeng/resources/primeng.min.css';
@import '../../../node_modules/primeicons/primeicons.css';


:host ::ng-deep .drag-column {
    padding-right: 0.5em;
}
.drop-column {
    border: 1px solid transparent;
    transition: border-color 0.2s;
}
.drop-column.p-draggable-enter {
    border-color: var(--primary-color);
}
.product-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;
    border-bottom: 1px solid var(--surface-d);
}
.product-item img {
    width: 75px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: 1rem;
}
.product-item .product-list-detail {
    flex: 1 1 0;
}
.product-item .product-list-action {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.product-item .product-category-icon {
    vertical-align: middle;
    margin-right: 0.5rem;
}
.product-item .product-category {
    vertical-align: middle;
    line-height: 1;
}
[pDraggable] {
    cursor: move;
}
@media screen and (max-width: 576px) {
    .product-item {
        flex-wrap: wrap;
   }
    .product-item .image-container {
        width: 100%;
        text-align: center;
   }
    .product-item img {
        margin: 0 0 1rem 0;
        width: 100px;
   }
} */


@media print
    {
        .dashboard-listing table thead tr {
            background: none;
            box-shadow: none;
            height: auto;
            margin-bottom: 0;
        }
        .dashboard-listing table tr {
    float: left;
    width: 100%;
    min-height: 63px;
    background: #fbfbfb;
    border-radius: 10px;
    padding-top: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    box-shadow: none;
    color: #989898;
    font-weight: 300;
    border: 0;
    vertical-align: middle;
    display: inline-table;
}

.Category-div {
    float: left;
    width: 100%;
    color: #fb369a;
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 500;
}

.Category-div.Sub-category {
    font-size: 19px;
    float: left;
    width: auto;
    font-weight: 400;
    padding-left: 30px;
}

.Category-div.Sub-Sub-category {
    float: left;
    width: auto;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 13px;
}

.sub-category-main-div .fas.fa-arrow-right {
    color: #fb369a;
    font-size: 19px;
    float: left;
    margin: 4px 15px 0 15px;
}

.sub-category-main-div {
    float: left;
    width: 100%;
}

    }