
<main class="reports">
    <div class="dashboard-body">
       <div class="dashboard-left-part">
          <!-- <ul>
             <li><span class="image-sidebar"><img src="images/sidebar-icon1.png" alt="icon"></span><a href="">Dashboard</a></li>
             <li><span class="image-sidebar"><img src="images/sidebar-icon2.png" alt="icon"></span><a href="">My Inventory</a></li>
             <li class="active"><span class="image-sidebar"><img src="images/sidebar-icon3.png" alt="icon"></span><a href="">My Shopping List</a></li>
             <li><span class="image-sidebar"><img src="images/sidebar-icon4.png" alt="icon"></span><a href="">My Stores</a></li>
             <li><span class="image-sidebar"><img src="images/sidebar-icon5.png" alt="icon"></span><a href="">tinyprep.™ Course</a></li>

          </ul> -->
          <app-sidebar></app-sidebar>
           <div class="at-bottom"><span class="image-sidebar"><img src="assets/theme/images/sidebar-getting-started.png" alt="icon"></span><a href="">Getting Started</a></div>
       </div>
       <div class="dashboard-right-part">
          <div class="right-inn-main">
            <!-- <button  data-toggle="modal" data-target="#update-reminder" class="btn filter">Update REminder            </button> -->
             <div class="top-heading">
                <div class="top-heading-inn for-desired-shoping">
                   <h2>My Shopping List</h2>
                   
                </div>
                <div class="filter-buttons">
                   <form  class="filter_form">
                   <div class="filter-buttons-top">
                      <div class="form-group custom-filter">
                        <!-- <label class="control-label" for="selectCtrl">Category</label> -->
                         <select class="form-control" id="field-category" name="category" [(ngModel)]="selectedcatgeory">
                           <option value="">Category</option>
                           <option value="">All</option>
                           <option *ngFor="let category of categoresArray; let i = index" value="{{category.id}}">{{category.cat_name}}</option>     
                         </select>
                      </div>
                      <div class="form-group custom-filter">
                        
                         <select class="form-control" id="field-store" name="store" [(ngModel)]="selectedstore">
                            <option value="">Store</option>
                            <option value="">All</option>
                            <option *ngFor="let storen of storeListsArray; let i = index" value="{{storen.stores_id}}">{{storen.stores_name}}</option>  
                         </select>
                      </div>

                      <div class="form-group custom-filter">
                       
                         <select class="form-control" id="field-prepping" name="prepping" [(ngModel)]="selectedmonth">
                            <option value="">Prepping For</option>
                            <option value="0">Available Till</option>
                            <option *ngFor="let month of monthsArray; let i = index" value="{{month}}">{{month}}&nbsp;{{ month > 1?'Months':'Month'}}</option>
                         </select>
                      </div>
                      <div class="right-buttons">
                         <button class="btn items" (click)="filtershoppinglist($event)">Update My Shopping List</button>
                      </div>
                   </div>
                  </form>
                </div>
             </div>
             <div class="add-quick-item-main">
               <div class="add-quick-input">
                 <span class="add-icon" (click)="add_quick_item($event)" style="cursor:pointer"><img src="assets/theme/images/add-shopping.png"></span>
                 <input class="quick-input" placeholder="Add a Quick Item to Your List" name="" />
               </div>
               <div class="right-quick">
                 <h3 class="quickitem-price">$22.85</h3>
                 <select class="form-control all-item" id="">
                   <option>All Items</option>
                    <option>All</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                 </select>
                 <a href="javascript:void(0)" (click)="print_shopping_list()"><span class="print-shoping-list"><img src="assets/theme/images/print-icon.png"></span></a>
               </div><!-- right-quick -->
             </div><!-- add-quick-item-main -->
             <div class="dashboard-listing manage-items-listing desired-shoping">
                <table class="table for-desired-shoping desired-heading-table">
                   <thead>
                      <tr class="heading-for-table">
                         <th class="user-th1">
                           
                            <label class="custom-control-container">Purchased
                              <input type="checkbox">
                              <span class="custom-control-span"></span>
                            </label>
                          </th>
                         <th class="user-th2">Name <img src="assets/theme/images/up-arrow.png"></th>
                         <th class="user-th4">Qty(Required) <img src="assets/theme/images/up-arrow.png"></th>
                         <th class="user-th8">Price <img src="assets/theme/images/up-arrow.png"></th>
                         <th class="user-th9"></th>
                      </tr>
                   </thead>
                </table>
                <div *ngIf="loadingSpinner" class="loadingSpinner">
                  <!-- page load spinner -->
                  <div id="loadingSpinner" #loadingSpinner class="d-flex justify-content-center loadingSpinner">
                    <div class="spinner-border" role="status">
                      <span class="sr-only" id="loading"></span>
                    </div>
                  </div>
                </div>

                <div id="accordion" *ngIf="quizitemproductsArray.length > 0">
                  <div >
                    
                  <div class="card" >
                     <div class="card-header" id="heading-9999">
                        <a role="button"  class="collapsed" data-toggle="collapse" href="#collapse-9999" aria-expanded="false" aria-controls="collapse-9999">
                         <div class="Category-div" >Quick Item Group</div>
                         </a>
                     </div>
                     <div id="collapse-9999" class="collapse" data-parent="#accordion" aria-labelledby="heading-9999">
                        <div class="cst-outer-card-body"  *ngFor="let products of quizitemproductsArray; let i = index" >
                        <div class="card-body">
                           <div class="sub-category-main-div">
                              
                           </div>
                           
                            <table class="table for-desired-shoping desired-heading-table">
                              <tbody>
                                 <tr id="quick-item-p-{{i}}">
                                    <td class="user-tr1">
                                       <label class="custom-control-container">
                                          <input type="checkbox" >
                                          <span class="custom-control-span"></span>
                                        </label>
                                    </td>
                                    <td class="user-tr2">{{products.products_name}}</td>
                                    <td class="user-tr4"><span>{{products.products_quantity}}</span></td>
                                    <td class="user-tr8"><span>{{products.products_price == "N/A" || products.products_price == 'null'?'N/A':'$'+products.products_price * products.products_quantity}}</span></td>
                                    <td class="user-tr9">
                                       <a  (click)="deleteSOftProduct('quick-item-p-'+i)" class="delete-icon"><img src="assets/theme/images/delete.png"></a>
                                    </td>
                                 </tr>
                              </tbody>
                             </table>
                        </div>
                     </div>
                     </div>
                  </div>
                  </div>
                </div>

                
                <div id="accordion" *ngFor="let store of storeListsArray; let i = index">
                  <div *ngFor="let pstore of product_storeArray; let i = index">

                  <div class="card" *ngIf="store.stores_id == pstore">
                     <div class="card-header" attr.id="heading-{{i}}">
                        <a role="button"  class="collapsed" data-toggle="collapse" href="#collapse-{{i}}" aria-expanded="false" aria-controls="collapse-{{i}}">
                         <div class="Category-div" >{{store.stores_name}}</div>
                         </a>
                     </div>
                     <div attr.id="collapse-{{i}}" class="collapse" data-parent="#accordion" aria-labelledby="heading-{{i}}">
                        <div class="cst-outer-card-body"  *ngFor="let products of shopListArray; let i = index" >
                           <div class="card-body" *ngIf="store.stores_id == products.products_store">
                              <div class="sub-category-main-div">
                                 <div class="cst-cat-title" id="{{products.name}}{{products.subCategories_name}}{{store.stores_name}}">
                                    <div class="Category-div Sub-category">{{products.name}}</div>
                                    <i class="fas fa-arrow-right"></i>
                                    <div class="Category-div Sub-Sub-category">{{products.subCategories_name}}</div>
                                 </div>
                              </div>
                              <table class="table for-desired-shoping desired-heading-table">
                                 <tbody>
                                    <tr id="{{products.products_id}}">
                                       <td class="user-tr1">
                                          <label class="custom-control-container">
                                             <input type="checkbox" >
                                             <span class="custom-control-span"></span>
                                          </label>
                                       </td>
                                       <td class="user-tr2">{{products.products_name}}</td>
                                       <td class="user-tr4"><span>{{products.totalRequiredQty}}</span></td>
                                       <td class="user-tr8"><span>{{products.products_price == "N/A" || products.products_price == 'null'?'N/A':'$'+products.products_price * products.totalRequiredQty}}</span></td>
                                       <td class="user-tr9">
                                          <a  (click)="deleteSOftProduct(products.products_id)" class="delete-icon"><img src="assets/theme/images/delete.png"></a>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </div>
                        </div>
                     </div>
                  </div>
                  </div>
                </div>
                


                

                
             </div>
             <!---LIST--->
             <!----------------->
          </div>
          
       </div>

      
       
    </div>
 </main>



<!-- <div class="p-grid">
    <div class="p-col-12 p-md-6 drag-column">
        <div *ngFor="let product of availableProducts">
            <div class="product-item" pDraggable="products" (onDragStart)="dragStart($event,product)" (onDragEnd)="dragEnd($event)">
                <div class="image-container">
                     
                </div>
                <div class="product-list-detail">
                    <h5 class="p-mb-2">{{product.name}}</h5>
                    <i class="pi pi-tag product-category-icon"></i>
                    <span class="product-category">{{product.category}}</span>
                </div>
                <div class="product-list-action">
                    <h6 class="p-mb-2">${{product.price}}</h6>
                   
                </div>
            </div>
        </div>
    </div>
    <div class="p-col-12 p-md-6 drop-column" pDroppable="products" (onDrop)="drop($event)">
    <p-table [value]="selectedProducts">
        <ng-template pTemplate="header">
            <tr>
                <th>ID</th>
                <th>Category</th>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr>
                    <td>{{product.id}}</td>
                    <td>{{product.category}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.price}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div> -->

<div class="modal fade Shopping-go" id="update-reminder" tabindex="-1" role="dialog" aria-labelledby="Shopping-go" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-body">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
         <div class="congrats-content">
           <span class="info-icon"><img src="assets/theme/images/information-icon.png"></span>
           <p>Hey, Don’t forget when you done shopping. Come back in here. I will guide you next to update your inventory.</p>
           <button class="btn ok-btn">Ok</button>
         </div><!-- congrats-content -->
       </div>
     </div>
   </div>
 </div>
 <div class="modal fade Shopping-go" id="Select-options" tabindex="-1" role="dialog" aria-labelledby="Shopping-go" aria-hidden="true">
   <div class="modal-dialog" role="document">
     <div class="modal-content">
       <div class="modal-body">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
         </button>
         <div class="congrats-content">
           <h2>How long do you want to prep for?</h2>
           <div class="select-options">
             <label class="select-container">
               <input type="radio" (click)="shopList('1');" checked="checked" name="radio">
               <span class="checkmark">1 Month</span>
             </label>
             <label class="select-container">
               <input type="radio" (click)="shopList('3');" name="radio">
               <span class="checkmark">3 Months</span>
             </label>
             <label class="select-container">
               <input type="radio" (click)="shopList('6');" name="radio">
               <span class="checkmark">6 Months</span>
             </label>
             <label class="select-container">
               <input type="radio" (click)="shopList('12');" name="radio">
               <span class="checkmark">12 Months</span>
             </label>
           </div><!-- select-options -->
         </div><!-- congrats-content -->
       </div>
     </div>
   </div>

  

 </div>

