<!------------------Edit Category modal-------------------->
<div id="myModals" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Category</h4>
      </div>
      <form novalidate [formGroup]="formGroup">
        <div *ngIf="formGroup?.value"></div>
        <div class="modal-body">
          <label>Category</label>
          <input type="hidden" name="type" class="form-control">
          <input name="category" [(ngModel)]="category" formControlName="category"  class="form-control">
          <div  *ngIf="formGroup.controls['category'].touched">
            <div *ngIf="formGroup.controls['category'].errors?.required" class="alert alert-danger">Category  is required</div>
            <div *ngIf="formGroup.controls['category'].errors?.minlength" class="alert alert-danger">Category must be atleast 3 character in length</div>
          </div>  
        </div>

        <div class="modal-body">
          <label>Notes</label>
          <input type="hidden" name="type" class="form-control">
          <input name="categories_notes" [(ngModel)]="categories_notes" formControlName="categories_notes"  class="form-control">
          <div  *ngIf="formGroup.controls['categories_notes'].touched">
            <div *ngIf="formGroup.controls['categories_notes'].errors?.required" class="alert alert-danger">categories notes is required</div>
            <div *ngIf="formGroup.controls['categories_notes'].errors?.minlength" class="alert alert-danger">categories notes must be atleast 7 character in length</div>
          </div> 
        </div>

        <div class="modal-body">
          <label>Image</label>
          <img src='{{imageDirectoryPath}}{{categories_image}}'>
        </div>
  
        <div class="modal-body">
          <label>Select Image</label>
          <input type="hidden" name="type" class="form-control">
          <input type="file" name="categories_image" (change)="onFileSelected($event)" class="form-control">
          <div  *ngIf="formGroup.controls['categories_image'].touched">
            <div *ngIf="formGroup.controls['categories_image'].errors?.required" class="alert alert-danger"> image is required</div>
            <div *ngIf="formGroup.controls['categories_image'].errors?.minlength" class="alert alert-danger"> image must be atleast 3 character in length</div>
          </div>
        </div>

      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" #myModals_close_btnEdit>Close</button>
        <button type="button" (click)="editCategories()" class="btn btn-success" data-dismiss="myModals" >Edit 
          <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
        </button>
        <!-- <button [disabled]="category === ''" id="closeSaveModel" style="display: none;" class="btn btn-success"
          data-dismiss="modal">Save</button> -->
      </div>
    </div>

  </div>
</div>




<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
    
        <h4 class="modal-title">Add Category</h4>
      </div>
      <form novalidate [formGroup]="formGroup">
     
      <div class="modal-body">
        <label>Category Name</label>
        <input type="hidden" name="type" class="form-control">
        <input name="categories_name" [(ngModel)]="categories_name" formControlName="categories_name"  class="form-control">
        <div  *ngIf="formGroup.controls['categories_name'].touched">
          <div *ngIf="formGroup.controls['categories_name'].errors?.required" class="alert alert-danger">Category name is required
        </div>
        <div *ngIf="formGroup.controls['categories_name'].errors?.minlength" class="alert alert-danger">Category name must be atleast 3 character in length
        </div>
      </div>
        
      </div>
      <div class="modal-body">
        <label>Notes</label>
        <input type="hidden" name="type" class="form-control">
        <input name="categoriesnotes" [(ngModel)]="categoriesnotes" formControlName="categoriesnotes"  class="form-control">
        <div  *ngIf="formGroup.controls['categoriesnotes'].touched">
          <div *ngIf="formGroup.controls['categoriesnotes'].errors?.required" class="alert alert-danger">Notes is required
        </div>
        
        <div *ngIf="formGroup.controls['categoriesnotes'].errors?.minlength" class="alert alert-danger">Notes must be atleast 4 character in length
        </div>
      </div>
        
      </div>
     
      <div class="modal-body">
        <label>Image</label>
        <input type="hidden" name="type" class="form-control">
        <input type="file" name="categories_image" formControlName="categories_image"  (change)="onFileSelected($event)" class="form-control">
        </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
        <button type="submit" class="btn btn-info" (click)="addCategory()">
          Save
          <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
        </button>
        <button [disabled]="stores_name === ''" id="closeSaveModel"  style="display: none;" class="btn btn-success"
          data-dismiss="modal">Save</button>
      </div>
    </div>
  </div>  
</div> 


<main class="Category">
  <div class="dashboard-body">
    <app-sidebar></app-sidebar>
  <div class="dashboard-right-part">
     <div class="right-inn-main">
        <div class="top-heading inventory-page">
           <div class="top-heading-inn">
              <h2>My Inventory</h2>
              <button data-toggle="modal" data-target="#myModal" class="btn btn-success addCategory"><i class="fa fa-plus" aria-hidden="true"></i> Categories</button>&nbsp;
           </div>
           <div class="top-head-right-side add-quick-item-main product-list-head-btm">
              <div class="search">
                 <img src="assets/theme/images/search-icon.png" alt="search" class="search">
                 <!-- <input type="search" placeholder="Search Inventory"> -->
                 <input type="search" name="category_search" [(ngModel)]="category_search" placeholder="Search Inventory" class="form-control">
              </div>
            &nbsp;  <button (click)="searchApi()" class="btn btn-sm btn-success">Search  <i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button> 
            <!-- searchApi is a template -->
           </div>
        </div>
        <div class="dashboard-listing manage-category-listing">
           <div class="tab-content login inventory-page">
              <div  [routerLink]="['/items-list']" class="sindle-item for-category">
                 <div class="image-section">
                    <img src="assets/theme/images/my-inventory1.png" alt="">
                 </div>
                 
                 <div class="btm-section">
                    <div class="product-info ">
                       <h2>All Items</h2>
                    </div>
                 </div>
              </div>
              <div *ngFor="let post of categoresArray">
              <div class="sindle-item for-category">
                 <div class="image-section"  [routerLink]="['/sub-category']" [queryParams]="{id: post.id,name: post.cat_name}">
                    <!-- <img src="assets/theme/images/my-inventory2.png" alt=""> -->
                    <img src='{{imageDirectoryPath}}{{post.categories_image}}'>
                 </div>
                 <div class="btm-section">
                    <div class="product-info "  [routerLink]="['/sub-category']" [queryParams]="{id: post.id,name: post.cat_name}">
                       <h2 [routerLink]="['/sub-category']" [queryParams]="{id: post.id,name: post.cat_name}">{{post.cat_name}}</h2>
                    </div>
                    <div class="right-buttons">
                      <button data-toggle="modal" data-target="#myModals" class="btn btn-sm btn-info" (click)="editCategory(post.id,post.cat_name,post.categories_notes,post.categories_image)"><i class="fa fa-edit" aria-hidden="true"></i></button>&nbsp;
       
                      <button class="btn btn-sm btn-danger" (click)="deleteCategory(post.id)"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                 </div>
                </div>
             
            </div>
           </div>
           <!---LIST--->
           <!----------------->
        </div>
        
     </div>
    </div>
    </div>
    </main>
 
    