<div class="dashboard-left-part">
  <ul id="myDIV" >
    <div *ngIf="type == 2; else elseBlock"> <!--user -->
      
       <!-- <li id="dashboard" (click)="menuActive(i)" [ngClass]="{'active':item.selected}"><span class="image-sidebar"><img [src]=item.image alt="icon"></span><a>{{item.name}}</a></li>  -->
       <li id="dashboard" [routerLink]="['/dashboard']" [routerLinkActive]="['active']" class="dashboard"><span class="image-sidebar"><img  src="assets/theme/images/sidebar-icon1.png" alt="icon"></span><a  [routerLink]="['/dashboard']" >Dashboard</a></li>
       <li id="inventory" [routerLink]="['/category-list']" [routerLinkActive]="['active']"  class="inventory {{routerurl == '/sub-category' || routerurl == '/list'?'active':''}}"><span class="image-sidebar"><img  src="assets/theme/images/sidebar-icon2.png" alt="icon"></span><a  [routerLink]="['/category-list']" >My Inventory</a></li>
  
       <li id="shoppingList"  data-toggle="modal" data-target="#Select-options" [routerLink]="['/shopping-lists']" class="shoppingList" [routerLinkActive]="['active']"><span class="image-sidebar"><img src="assets/theme/images/sidebar-icon3.png" alt="icon"></span><a [routerLink]="['/shopping-lists']" >My Shopping List</a></li>
       <li id="myStore" [routerLink]="['/my-store']" class="myStore" [routerLinkActive]="['active']"><span class="image-sidebar"><img src="assets/theme/images/sidebar-icon4.png" alt="icon"></span><a [routerLink]="['/my-store']" >My Stores</a></li>
       <li id="course" [routerLink]="['/tinyprep-course']" class="course" [routerLinkActive]="['active']"><span class="image-sidebar"><img src="assets/theme/images/tiny_course.png" alt="icon"></span><a [routerLink]="['/tinyprep-course']">tinyprep.™ Course</a></li>
    </div>
    <ng-template #elseBlock> 
      <!-- <li id="inventory" [routerLink]="['/dashboard']" [routerLinkActive]="['active']" class="inventory"><span class="image-sidebar"><img  src="assets/theme/images/sidebar-icon1.png" alt="icon"></span><a  [routerLink]="['/dashboard']" >Dashboard</a></li>  -->
      <li id="inventory" [routerLink]="['/categories']" [routerLinkActive]="['active']"  class="inventory"><span class="image-sidebar"><img  src="assets/theme/images/sidebar-icon2.png" alt="icon"></span><a  [routerLink]="['/categories']" >Categories</a></li>
      <!-- <li id="shoppingList" [routerLink]="['/shopping-lists']" class="shoppingList" [routerLinkActive]="['active']"><span class="image-sidebar"><img src="assets/theme/images/sidebar-icon3.png" alt="icon"></span><a [routerLink]="['/shopping-lists']" >My Shopping List</a></li> -->
      <li id="myStore" routerLink='/stores' class="myStore" [routerLinkActive]="['active']"><span class="image-sidebar"><img src="assets/theme/images/sidebar-icon4.png" alt="icon"></span><a routerLink='/stores' >Stores</a></li>
      <li id="inventory" [routerLink]="['/users']" [routerLinkActive]="['active']"  class="inventory"><span class="image-sidebar"><img  src="assets/theme/images/sidebar-icon2.png" alt="icon"></span><a  routerLink='/users'>Users</a></li>
      <li id="shoppingList" routerLink='/change-password' class="shoppingList" [routerLinkActive]="['active']"><span class="image-sidebar"><img src="assets/theme/images/sidebar-icon3.png" alt="icon"></span><a routerLink='/change-password' >Change Password</a></li>
      <li id="subcategory" routerLink='/subcategory' class="course" [routerLinkActive]="['active']"><span class="image-sidebar"><img src="assets/theme/images/sidebar-icon5.png" alt="icon"></span><a routerLink='/subcategory'>Sub Category</a></li> 
      <!-- <li id="course" [routerLink]="['/tinyprep-course']" class="course" [routerLinkActive]="['active']"><span class="image-sidebar"><img src="assets/theme/images/sidebar-icon5.png" alt="icon"></span><a [routerLink]="['/tinyprep-course']">tinyprep.™ Course</a></li> -->
   </ng-template>
      </ul>
      <div *ngIf="type == 2"> 
      <div class="at-bottom"><span class="image-sidebar"><img src="assets/theme/images/sidebar-getting-started.png" alt="icon"></span><a [routerLink]="['/getting-started']">Getting Started</a></div>
    </div>
   
    
 </div>  

<script>
   </script>
