<main class="Category sub-inventory">
   <div class="dashboard-body">
      <app-sidebar></app-sidebar>
      <div class="dashboard-right-part">
         <div class="right-inn-main">
            <div class="top-heading">
               <!-- <div class="container">-->
               <h4>My Stores</h4>
               <button data-toggle="modal" data-target="#myModal_add" class="btn btn-sm btn-success add-store"><i
                     class="fa fa-plus" aria-hidden="true"></i> Store</button>
            </div>
            <div class="top-head-right-side add-quick-item-main product-list-head-btm">
               <div class="search">
                  <img src="assets/theme/images/search-icon.png" alt="search" class="search"><input name="searchName"
                     [(ngModel)]="searchName" placeholder="Search Store..." class="form-control">
               </div>
               <button (click)="searchApi()" class="btn btn-sm btn-success search">Search <i
                     class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
            </div>
            <div class="main-table-div stores-table">
               <table class="table table-striped">
                  <thead>
                     <tr>
                        <!-- <th>Sr.No.</th> -->
                        <th>Image</th>
                        <th>Name</th>
                        <th>Url</th>
                        <th>Action</th>
                     </tr>
                  </thead>
                  <tbody>
                     <tr *ngFor="let store of storeListsArray; let i = index">
                        <!-- <span *ngIf = "i == 0"><button class="btn btn-sm btn-danger" disabled>Delete Category</button></span>  -->
                        <!-- <td>{{ i+1 }}</td> -->
                        <td>
                           <div class="product-image"><img src='{{imageDirectoryPath}}{{store.stores_image}}'></div>
                        </td>
                        <td>{{store.stores_name}}</td>
                        <td><a href='{{store.stores_link}}'><u>Visit Store</u></a></td>
                        <!-- <td>{{store.stores_image}}</td> -->
                        <!-- <td>{{store.stores_created_at}}</td> -->
                        <td>
                           <button data-toggle="modal"
                              (click)="editStore(store.stores_id,store.stores_name,store.stores_link,store.stores_image)"
                              data-target="#myModal_edit" class="btn btn-sm btn-info"><i class="fa fa-edit"
                                 aria-hidden="true"></i></button>
                           &nbsp;
                           <button (click)="deleteStore(store.stores_id)" class="btn btn-sm btn-danger"><i
                                 class="fa fa-trash" aria-hidden="true"></i></button>
                        </td>
                     </tr>
                     <span *ngIf="storeListsArray == ''" style="color: red;">{{messageNotFound}}</span>
                  </tbody>
               </table>
            </div>
         </div>
      </div>
   </div>

   <div id="myModal_edit" class="modal fade store-modal users-modal" role="dialog">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               
               <h4 class="modal-title">Edit Store</h4>
            </div>
           
            <form novalidate [formGroup]="formGroup">
               <div *ngIf="formGroup?.value"></div>
               <div class="modal-body">
                  <div class="form-group">
                     <label>Store Name</label>
                     <input type="hidden" name="type" class="form-control">
                     <input name="stores_name" [(ngModel)]="stores_name" formControlName="stores_name"
                        class="form-control">
                     <div *ngIf="formGroup.controls['stores_name'].touched">
                        <div *ngIf="formGroup.controls['stores_name'].errors?.required" class="alert alert-danger">Store
                           name is required
                        </div>
                      
                        <div *ngIf="formGroup.controls['stores_name'].errors?.minlength" class="alert alert-danger">
                           Store name must be atleast 3 character in length
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <label>Store Link</label>
                     <input type="hidden" name="type" class="form-control">
                     <input name="stores_link" [(ngModel)]="stores_link" formControlName="stores_link"
                        class="form-control">
                     <div *ngIf="formGroup.controls['stores_link'].touched">
                        <div *ngIf="formGroup.controls['stores_link'].errors?.required" class="alert alert-danger">
                           Store link is required
                        </div>
                       
                        <div *ngIf="formGroup.controls['stores_link'].errors?.pattern" class="alert alert-danger">
                           Please enter valid url
                        </div>
                     </div>
                  </div>
                  <div class="form-group">
                     <label>Store Image</label>
                     <input type="hidden" name="type" class="form-control">
                     <input type="file" name="stores_image" (change)="onFileSelected($event)" class="form-control">
                     <!-- <div *ngIf="formGroup.controls['stores_image'].touched">
                        <div *ngIf="formGroup.controls['stores_image'].errors?.required" class="alert alert-danger">
                           Store image is required
                        </div>
                     </div> -->
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal"
                     #myModal_edit_btn_close>Close</button>
                  <button type="button" [disabled]="stores_name === '' || stores_link===''" (click)="editStores()" class="btn btn-success">Save <i
                        class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
               </div>
            </form>
         </div>
      </div>
   </div>

   <!--------------------------Add store Modal------------------->
   <div id="myModal_add" class="modal fade store-modal users-modal" role="dialog">
      <div class="modal-dialog">
         <div class="modal-content">
            <div class="modal-header">
               <h4 class="modal-title">Add Store</h4>
            </div>

            <form novalidate [formGroup]="formGroup">
               <div *ngIf="formGroup?.value"></div>
               <div class="modal-body">
                  <div class="form-group">
                     <label>Store Name</label>
                     <input name="stores_name" [(ngModel)]="stores_name" formControlName="stores_name"
                        class="form-control">
                     <div *ngIf="formGroup.controls['stores_name'].touched">
                        <div *ngIf="formGroup.controls['stores_name'].errors?.required" class="alert alert-danger">Store
                           name is required
                        </div>
                     </div>
                  </div>

                  <div class="form-group">
                     <label>Store Link</label>
                     <input type="hidden" name="type" class="form-control">
                     <input name="stores_link" [(ngModel)]="stores_link" formControlName="stores_link"
                        class="form-control">
                     <div *ngIf="formGroup.controls['stores_link'].touched">
                        <div *ngIf="formGroup.controls['stores_link'].errors?.required" class="alert alert-danger">Store
                           Link is required</div>
                        <div *ngIf="formGroup.controls['stores_link'].errors?.pattern" class="alert alert-danger">Please
                           enter valid url</div>
                     </div>
                  </div>

                  <div class="form-group">
                     <label>Store Image</label>
                     <input type="hidden" name="type" class="form-control">
                     <input type="file" name="stores_image" formControlName="stores_image"
                        (change)="onFileSelected($event)" class="form-control">
                     <div *ngIf="formGroup.controls['stores_image'].touched">
                        <div *ngIf="formGroup.controls['stores_image'].errors?.required" class="alert alert-danger">
                           Store image is required
                        </div>
                     </div>
                  </div>
               </div>
               <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal"
                     #myModal_add_btn_close>Close</button>
                  <button type="button"  (click)="addStores()" class="btn btn-success">Save <i
                        class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
               </div>
            </form>
         </div>
      </div>
   </div>
</main>
