.container {
    max-width: 1052px!important;
}
/* #loadingSpinner{
    left: 50%;
    top: 50%;
} */
#loading{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    }
      
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

 

    table.table.inventory thead tr th.th-sort-head .fa-arrow-up::before,table.table.inventory thead tr th.th-sort-head .fa-arrow-down::before {
	
        color: #bfbdbd !important;
    }
    
    table.table.inventory thead tr th.th-sort-head .sort-head.active .fa-arrow-up::before,table.table.inventory thead tr th.th-sort-head .sort-head.active .fa-arrow-down::before {
        
        color: #000000;
    }
    
    .image-title-wrap{
        padding: 10px;
        text-align: center;
    }
    .image-title-wrap .remove-image{
        width: max-content;
        
    }


    .search.search-filter-popup button {
        border-radius: 12px;
        border: 1px solid #e8e8e8;
        padding: 8px 25px 8px 25px;
        /* color: #c5c5c5; */
        box-shadow: 0px 0px 4px 0px rgb(207 207 207 / 37%);
        width: max-content;
        height: 47px;
        background: #ffffff;
        margin-right: 25px;
    }


    .action-btn {
        text-align: right;
        float: left;
        width: 100%;
    }
    .search.search-filter-popup .action-btn  button {
        border-radius: 12px;
        border: 1px solid #e8e8e8;
        padding: 8px 25px 8px 25px;
        box-shadow: 0px 0px 4px 0px rgb(207 207 207 / 37%);
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        height: 41px;
        background: #ffffff;
        margin-left: 25px;
        padding: 0 20px !important;
        border-radius: 5px;
        border: 0;
        float: none;
        margin-right:0px;
        display: inline-block;
    }

    .search.search-filter-popup img{
        height: 20px;
    }

    .serch-popup-container {
        display: none;
        position: absolute;
        border: 1px solid #ffffff;
        padding: 20px;
        background: #fff;
        border-radius: 10px;
        z-index: 9;
        box-shadow: 0px 0px 4px 0px rgb(207 207 207 / 37%);
        width: 430px;
        margin: 10px 0px;
    }


    .serch-popup-container::before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 10%;
        margin-left: -5px;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #ffffff transparent;
        width: 20px;
        height: 20px;

      }

      .serch-popup-container form .form-div {
        height: auto;
        margin-bottom: 12px;
        float: left;
        width: 100%;
    }

    .serch-popup-container form .action-btn button:nth-child(1) {
        background: #fa5555
    }
    .serch-popup-container form .action-btn button:nth-child(2){
    background: #fb369a;
    }
    .serch-popup-container form .action-btn button{
    padding: 10px;
    color: #ffffff;
    }

    
    .fas.fa-calendar-alt {
        position: absolute;
        bottom: 22%;
        right: 6%;
    }
    

    #Congratulations1 .btn-action {
        display: flex;
        justify-content: center;
    }

    #Congratulations1 .btn-action button {
        margin: 10px;
    }