<main class="manage-items">
  <div class="dashboard-body">
    <div class="dashboard-left-part">
      <app-sidebar></app-sidebar>
    </div>
    <div class="dashboard-right-part">
      <div class="right-inn-main">
        <div class="top-heading">
          <div class="top-heading-inn">
            <div class="navbarr-Sub-category">
              <h6>
                <a [routerLink]="['/category-list']">My Inventory</a><i class="fas fa-chevron-right"></i>
                <a id="main-category-list" [routerLink]="['/sub-category']"
                  [queryParams]="{ id: this.id, name: category }">{{ category }}</a><i class="fas fa-chevron-right"></i>
                <a herf="" class="active">{{ subcategory }}</a>
              </h6>

              <!-- 
			[routerLink]="['/profiles']" 
			[queryParams]="{min:45,max:50,location:29293}"

			[queryParams]="{subCategories_id: subcats.subCategories_id,id: this.id,category:name,subcategory:subcats.subCategories_name}"
						
			[routerLink]="['signup',{cell:cellValue}]"
							sub-category?id=1&name=Food  
							<button data-toggle="modal" data-target="#Congratulations1" class="btn filter">Congrats
						</button>
						<button data-toggle="modal" data-target="#Shopping-go" class="btn filter">Go shopping
						</button> -->
              <!-- <button data-toggle="modal" data-target="#Select-options" class="btn filter">Prep for
						</button> -->
            </div>
          </div>
          <div class="Tabs-right">
            <ul class="nav nav-tabs for-login">
              <li class="nav-item">
                <a class="nav-link grid active" data-toggle="tab" href="#home"><i class="fas fa-th-large"></i></a>
              </li>
              <li class="nav-item">
                <a class="nav-link list" data-toggle="tab" href="#menu1"><i class="fas fa-list-ul"></i></a>
              </li>
            </ul>
          </div>
          <div class="filter-buttons">
            <!-- <div class="filtering-button">
              <button (click)="storeListsSearch()" data-toggle="modal" data-target="#myModal" class="btn filter"><img
                  src="assets/theme/images/filter.png" alt="">Filter
              </button>

              <div class="filteropen-div">
                <div class="form-group">
                  <label for="sel1">Categories</label>
                  <select class="form-control" id="sel1">
                    <option>Loream ipsum</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="sel1">Store</label>
                  <select class="form-control" id="sel1">
                    <option>Loream ipsum</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="sel1">Status</label>
                  <select class="form-control" id="sel1">
                    <option>Loream ipsum</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="sel1">Finishing On</label>
                  <select class="form-control" id="sel1">
                    <option>Loream ipsum</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
                <div class="buttons">
                  <button class="btn Category">Cancel</button>
                  <button class="btn items">Apply</button>
                </div>
              </div>
            </div> -->
            <div class="search search-filter-popup">
              <button type="button" class="action-search-fiter-popup" (click)="toggle_search_filter_popup()">
                <img src="{{ imageDirectoryPath }}/public/images/filter-down.png" alt="search" class="" />
                &nbsp; Filter
              </button>

              <ng-template [ngIf]="filterReset > 0">
                <button type="button" *ngIf="this.isButtonVisible" (click)="resetFilterBtn()">
                  Reset
                </button>
              </ng-template>

              <!--Filter popup-->
              <div class="serch-popup-container">
                <form novalidate [formGroup]="formGroup">
                  <div class="form-div">
                    <label>Categories</label>

                    <select class="form-control select" formControlName="cat_it" [(ngModel)]="cat_it" name="cat_id"
                      id="available" (change)="getSelectedOptionText($event)">
                      <option value="0">--Select--</option>
                      <option *ngFor="let categories of categoriesArray" [selected]="categories.id == id"
                        value="{{ categories.id }}">
                        {{ categories.name }}
                      </option>
                    </select>
                  </div>

                  <div class="form-div">
                    <label>Sub-Categories</label>

                    <select name="subcat_id" formControlName="subCategories_name" [(ngModel)]="subCategories_name"
                      id="available" class="form-control" required>
                      <option value="0">--Select--</option>
                      <option *ngFor="let subcats of subArray" value="{{ subcats.subCategories_id }}" [selected]="
                          subCategories_id == subcats.subCategories_id
                        ">
                        {{ subcats.subCategories_name }}
                      </option>
                    </select>
                    <div *ngIf="formGroup.controls['subCategories_name'].touched" class="error-div">
                      <div *ngIf="
                          formGroup.controls['subCategories_name'].errors
                            ?.required
                        " class="alert alert-danger">
                        Sub category is required
                      </div>
                    </div>
                  </div>

                  <div class="form-div">
                    <label>Store</label>
                    <select name="store_id" formControlName="defaultStore" [(ngModel)]="defaultStore"
                      class="form-control" id="available" required>
                      <option value="0">--Select--</option>
                      <option *ngFor="let store of storeListsArray" value="{{ store.stores_id }}">
                        {{ store.stores_name }}
                      </option>
                    </select>
                  </div>

                  <div class="form-div">
                    <label>Last Shopping Date</label>

                    <input type="date" formControlName="productShelfLife" vaue="1" min="1" name="last_shop_date"
                      [(ngModel)]="productShelfLife" placeholder="Enter number of days"
                      class="form-control datepicker-input" id="datepicker-input" />
                  </div>
                  <div class="action-btn">
                    <button type="submit" (click)="cancelsearchfilterpopup()" class="btn">
                      Cancel
                      <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                    </button>
                    <button type="submit" (click)="applysearchfilterpopup($event)" class="btn">
                      Apply<i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                    </button>
                  </div>
                </form>
              </div>
            </div>

            <div class="search">
              <img src="assets/theme/images/search-icon.png" alt="search" class="search" />

              <input type="search" (keyup)="filterItems()" name="products_search" [(ngModel)]="products_search"
                placeholder="Search items" />
              &nbsp;
            </div>
            <div class="right-buttons" *ngIf="userType == '2'">
              <button class="btn items openbtn" (click)="openNav(); itemForm.resetForm()">
                <img src="assets/theme/images/add.png" alt="" /> Add Items
              </button>
            </div>
          </div>
        </div>
        <div id="mySidebar" class="sidebar">
          <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">×</a>
          <div class="top-heading-inn">
            <h2>Add Items</h2>
            <form novalidate [formGroup]="formGroup" #itemForm="ngForm">
              <div *ngIf="formGroup?.value"></div>
              <div class="form-group">
                <label>Name <span class="star">*</span></label>
                <input type="text" name="productName" formControlName="productName" [(ngModel)]="productName"
                  class="form-control" placeholder="Enter Product Name" required />
                <div *ngIf="formGroup.controls['productName'].touched" class="error-div">
                  <div *ngIf="formGroup.controls['productName'].errors?.required" class="alert alert-danger">
                    Name is required
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label>Quantity On Hand <span class="star">*</span></label>
                <input type="number" min="1" formControlName="productQuantity" value="1" (keypress)="numberOnly($event)"
                  name="productQuantity" [(ngModel)]="productQuantity" min="1" class="form-control pointer"
                  placeholder="Enter Product Quantity" required />
                <div *ngIf="formGroup.controls['productQuantity'].touched" class="error-div">
                  <div *ngIf="
                      formGroup.controls['productQuantity'].errors?.required
                    " class="alert alert-danger">
                    Quantity required
                  </div>
                  <div *ngIf="formGroup.controls['productQuantity'].errors?.min" class="alert alert-danger">
                    Quantity must be atleast 1.
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Category <span class="star">*</span></label>
                <!-- <select name='category_name' [(ngModel)]="category_name" class="form-control" id="available" required>  
                                <option value="0">--Select--</option>  
                                   <option *ngFor="let categories of categoriesArray">{{categories.name}} </option>  
                                  </select>  -->
                <select class="form-control select" formControlName="cat_it" [(ngModel)]="cat_it" name="cat_it"
                  id="available" (change)="getSelectedOptionText($event)">
                  <option *ngFor="let categories of categoriesArray" [selected]="categories.id == id"
                    value="{{ categories.id }}">
                    {{ categories.name }}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label>Sub-Category <span class="star">*</span></label>

                <select name="subCategories_name" formControlName="subCategories_name" [(ngModel)]="subCategories_name"
                  id="available" class="form-control" required>
                  <!-- <option value="0">--Select--</option> -->
                  <option *ngFor="let subcats of subArray" value="{{ subcats.subCategories_id }}"
                    [selected]="subCategories_id == subcats.subCategories_id">
                    {{ subcats.subCategories_name }}
                  </option>
                </select>
                <div *ngIf="formGroup.controls['subCategories_name'].touched" class="error-div">
                  <div *ngIf="
                      formGroup.controls['subCategories_name'].errors?.required
                    " class="alert alert-danger">
                    Sub category is required
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Usage <span class="star">*</span>(Days)
                  <span class="question-span tooltip">?
                    <span class="tooltiptext">Set how long this item generally lasts in your
                      home.</span></span>
                </label>
                <input type="number" formControlName="productShelfLife" vaue="1" min="1" (keypress)="numberOnly($event)"
                  name="productShelfLife" [(ngModel)]="productShelfLife" placeholder="Enter number of days"
                  class="form-control" />
                <div *ngIf="formGroup.controls['productShelfLife'].touched" class="error-div">
                  <div *ngIf="
                      formGroup.controls['productShelfLife'].errors?.required
                    " class="alert alert-danger">
                    Usage is required
                  </div>
                  <div *ngIf="formGroup.controls['productShelfLife'].errors?.min" class="alert alert-danger">
                    Usage must be atleast 1 day.
                  </div>
                </div>
              </div>
              <div class="form-group image-div">
                <label>Image <span class="star">*</span></label>
                <div class="file-upload">
                  <div (dragover)="onDragOver($event)" (drop)="onDropSuccess($event)" class="image-upload-wrap">

                    <input type="file" name="products_image" (change)="onChange($event)" class="file-upload-input" />

                    <div class="drag-text" style="height: auto">
                      <h3 class="default-upload-image" style="{{ products_image ? 'display:none' : '' }}">
                        <img src="assets/theme/images/upload-img.png" /><br />Drag and drop to browse
                      </h3>

                      <div class="file-upload-content" style="display: block">
                        <img class="file-upload-image" src="{{
                            fileChanges
                              ? fileChanges
                              : products_image
                              ? imageDirectoryPath + products_image
                              : ''
                          }}" [src]="imageSrc" />
                      </div>
                    </div>
                  </div>

                  <div class="image-title-wrap" style="display: none">
                    <button type="button" class="remove-image">
                      Remove <span class="image-title">Uploaded Image</span>
                    </button>
                  </div>
                </div>
              </div>
              <hr class="separator" />
              <button type="button" class="btn btn-primary show-fields" data-toggle="collapse" data-target="#demo">
                Show All Fields <span class="caret"></span>
              </button>
              <div id="demo" class="collapse">
                <div class="form-group">
                  <label>Price(Optional) </label>
                  <input type="text" name="productPrice" formControlName="productPrice" (keypress)="numberOnly($event)"
                    [(ngModel)]="productPrice" class="form-control" placeholder="Enter Product Price" required />
                </div>
                <div class="form-group">
                  <label>Store(Optional) </label>
                  <select name="defaultStore" formControlName="defaultStore" [(ngModel)]="defaultStore"
                    class="form-control" id="available" required>
                    <option value="0">--Select--</option>
                    <!-- <option *ngFor="let defstore of defStoreArray" [selected]="defstore.stores_name"
                        value="{{defstore.stores_name}}">{{defstore.stores_name}}</option> -->
                    <option *ngFor="let store of storeListsArray" value="{{ store.stores_id }}">
                      {{ store.stores_name }}
                    </option>
                  </select>
                </div>

                <div class="form-group">
                  <label>Notes </label>
                  <!-- <textarea class="textarea-field" placeholder="Loream ipsum"> -->
                  <textarea type="text" name="productsNotes" formControlName="productsNotes" [(ngModel)]="productsNotes"
                    class="textarea-field">
                  </textarea>
                </div>
              </div>
              <!-- </div> -->
              <!-- </div> -->

              <!-- <button class="btn" >Add</button> -->
              <div class="add-product-div">
                <button type="submit" (click)="addProducts()" class="btn add-pro">
                  Add
                  <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                </button>
                <button type="submit" (click)="addProducts()" class="btn done-pro">
                  Done
                  <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="tab-content login inventory-page">
          <div id="home" class="tab-pane active">
            <div class="row">
              <div *ngIf="loadingSpinner" class="loadingSpinner">
                <!-- page load spinner -->
                <div id="loadingSpinner" #loadingSpinner class="d-flex justify-content-center loadingSpinner">
                  <div class="spinner-border" role="status">
                    <span class="sr-only" id="loading"></span>
                  </div>
                </div>
              </div>

              <ng-container *ngFor="let product of productsArray; let i = index">
                <div class="sindle-item" *ngIf="
                    products_search == '' ||
                    (products_search != '' &&
                      product.products_name
                        .toLowerCase()
                        .indexOf(products_search.toLowerCase()) > -1)
                  ">
                  <div class="image-section">
                    <div class="icons-sec">
                      <!-- <i class="far fa-edit"></i> -->
                      <button data-toggle="modal" data-target="#myModals"
                        class="btn btn-sm btn-info open-modal-popup-item" (click)="
                          editProduct(
                            product.products_id,
                            product.products_name,
                            product.products_quantity,
                            product.products_shelf_life,
                            product.products_notes,
                            product.products_image,
                            i
                          )
                        ">
                        <i class="fa fa-edit" aria-hidden="true"></i>
                      </button>
                      <!-- <button data-toggle="modal" data-target="#myModals" (click)="editProduct(product.products_id,product.products_name,product.products_quantity,products_shelf_life,products_notes,product.products_image)" class="btn btn-sm btn-info"><i class="fa fa-edit" aria-hidden="true"></i></button>  -->
                      <i class="fas fa-trash-alt" (click)="deleteProduct(product.products_id)"></i>
                      <!-- <i class="far fa-eye" data-toggle="modal" data-target="#myModal_view"
												(click)="viewProduct(product.products_id)"></i> -->
                    </div>
                    <div class="walmart">{{ product.stores_name }}</div>
                    <img src="{{ imageDirectoryPath }}{{ product.products_image }}" alt="" />
                  </div>
                  <div class="btm-section">
                    <div class="product-info bold">
                      <h2>{{ product.products_name }}</h2>
                      <p *ngIf="
                          product.products_price == 'N/A' ||
                            product.products_price == 'null';
                          else elseBlock
                        ">
                        N/A
                      </p>
                      <ng-template #elseBlock>
                        <p>${{ product.products_price }}</p>
                      </ng-template>
                    </div>
                    <div class="product-info">
                      <h2>Qty (In hand)</h2>
                      <p>
                        {{ product.products_quantity }}
                        {{ product.products_unit }}
                      </p>
                    </div>
                    <div class="product-info">
                      <h2>Stocks Last</h2>
                      <p>
                        {{
                        product.products_stocks_lasts | date: format:timezone
                        }}
                      </p>
                    </div>
                    <!-- <div class="product-info ">
								                        <h2>Last Purchased</h2>
								                        <p> 01/04/2021</p>
								                      </div> -->
                    <div class="product-info ">
                      <h2>Category</h2>
                      <p>{{category}}</p>
                    </div>
                  </div>

                </div>
              </ng-container>

              <div *ngIf="!if_records">
                <p style="color: red;">No Records Found</p>
              </div>

              <span *ngIf="productsArray.length == 0" style="color: red;">{{!if_records?'':messageNotFound}}</span>
              <div></div>
            </div>
          </div>
          <div id="menu1" class="tab-pane fade"><br>
            <div class="dashboard-listing manage-items-listing listing-page-table">
              <div class="main-table-div users-table">
                <table class="table inventory" id="product-list-table">
                  <thead>
                    <tr class="heading-for-table">
                      <th class="user-th1">Image</th>
                      <th class="user-th2 th-sort-head">Name</th>
                      <th class="user-th3 th-sort-head">Category</th>
                      <th class="user-th3 th-sort-head">Sub Category</th>
                      <th class="user-th4 th-sort-head">Qty on Hand</th>
                      <th class="user-th5">Lasts until</th>
                      <!-- <th class="user-th6">Expiration Date</th> -->
                      <th class="user-th7">Last Purchased</th>
                      <th class="user-th8 th-sort-head">Store</th>
                      <th class="user-th9 th-sort-head">Price</th>
                      <th class="user-th10 th-sort-head">Notes</th>
                      <th class="user-th11">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <ng-container *ngFor="let product of productsArray; let i = index">
                      <tr class="pr-row" *ngIf="
                          products_search == '' ||
                          (products_search != '' &&
                            product.products_name
                              .toLowerCase()
                              .indexOf(products_search.toLowerCase()) > -1)
                        ">
                        <td *ngIf="!hidetd[i]" class="user-tr1">
                          <div class="image-div">
                            <img src="{{ imageDirectoryPath }}{{
                                product.products_image
                              }}" />
                          </div>
                        </td>
                        <td *ngIf="hidetd[i]" class="user-tr1">
                          <div class="image-div">
                            <label>
                              <input style="display: none" type="file" (change)="updateProductImage($event, i)" />
                              <img [src]="imageSource[i]" src="{{ imageDirectoryPath }}{{
                                  product.products_image
                                }}" />
                            </label>
                          </div>
                        </td>

                        <td *ngIf="!hidetd[i]" class="user-tr2">
                          {{ product.products_name }}
                        </td>
                        <td *ngIf="hidetd[i]" class="user-tr2">
                          <input class="form-control" type="text" name="name" [(ngModel)]="product.products_name" />
                        </td>

                        <td *ngIf="!hidetd[i]" class="user-tr3">
                          {{ category }}
                        </td>
                        <td *ngIf="hidetd[i]" class="user-tr3">
                          <select (change)="getSelectedOptionText($event)" class="form-control" name="name"
                            [(ngModel)]="product.products_category_id" name="category_id">
                            <option *ngFor="let categories of categoriesArray" [selected]="
                                categories.id == product.products_category_id
                              " value="{{ categories.id }}">
                              {{ categories.name }}
                            </option>
                          </select>
                        </td>

                        <td *ngIf="!hidetd[i]" class="user-tr3">
                          {{ subcategory }}
                        </td>
                        <td *ngIf="hidetd[i]" class="user-tr3">
                          <select name="name" [(ngModel)]="product.products_sub_cat_id" class="form-control"
                            name="products_sub_cat_id">
                            <option *ngFor="let subcats of subcategoriesArray" value="{{ subcats.subCategories_id }}"
                              [selected]="
                                subCategories_id == subcats.subCategories_id
                              ">
                              {{ subcats.subCategories_name }}
                            </option>
                          </select>
                        </td>

                        <td *ngIf="!hidetd[i]" class="user-tr4">
                          {{ product.products_quantity }}
                        </td>
                        <td *ngIf="hidetd[i]">
                          <input type="number" name="products_quantity" [(ngModel)]="product.products_quantity"
                            class="form-control" />
                        </td>




                        
                        <td *ngIf="!hidetd[i]" class="user-tr2">
                          {{ product.products_stocks_lasts }}
                        </td>
                        <td *ngIf="hidetd[i]" class="user-tr2">
                          <input class="form-control" type="text" name="name" [(ngModel)]="product.products_stocks_lasts" />
                        </td>





                        <td class="user-tr7">
                          {{
                          product.products_updated_at | date: format:timezone
                          }}
                        </td>

                        <td *ngIf="!hidetd[i]" class="user-tr8">
                          {{ product.stores_name }}
                        </td>
                        <td *ngIf="hidetd[i]">
                          <select class="form-control" name="products_store" [(ngModel)]="product.products_store"
                            class="form-control" id="available" required>
                            <option *ngFor="let store of storeListsArray" value="{{ store.stores_id }}">
                              {{ product.stores_name }}
                            </option>
                          </select>
                          <!-- <input type="text" name="products_store"[(ngModel)]="product.products_store"> -->
                        </td>

                        <!-- <td *ngIf="!hidetd[i]" class="user-tr9">
                          {{
                          product.products_price == "N/A" ||
                          product.products_price == "null"
                          ? "N/A"
                          : "$"+product.products_price
                          }}
                        </td> -->

                        <td *ngIf="!hidetd[i]" class="user-tr9">
                          {{
                            product.products_price
                          }}
                        </td>


                        <td *ngIf="hidetd[i]">
                          <input class="form-control" type="number" name="products_price" *ngIf="
                              !product.products_price ||
                                product.products_price == 'null';
                              else elseBlock
                            " />
                          <ng-template #elseBlock>
                            <input class="form-control" type="number" name="products_price"
                              [(ngModel)]="product.products_price" />
                          </ng-template>
                        </td>

                        <td class="user-tr10">
                          <div class="icfo-notes">
                            <div class="dropdown">
                              <button type="button" class="btn dropdown-toggle" data-toggle="dropdown">
                                <i class="fas fa-info-circle"></i>
                              </button>
                              <div class="dropdown-menu" x-placement="bottom-start" style="
                                  position: absolute;
                                  transform: translate3d(-15px, 59px, 0px);
                                  top: 0px;
                                  left: 0px;
                                  will-change: transform;
                                ">
                                <p>{{ product.products_notes }}</p>
                              </div>
                            </div>
                          </div>
                        </td>
                        <td *ngIf="!hidetd[i]" class="user-tr11">
                          
                          <i class="far fa-edit" (click)="
                              editProduct(
                                product.products_id,
                                product.products_name,
                                product.products_quantity,
                                product.products_shelf_life,
                                product.products_notes,
                                product.products_image,
                                product.products_price,

                                i
                              )
                            "></i>
                          <i class="fas fa-trash-alt" (click)="deleteProduct(product.products_id)"></i>
                      
                        </td>
                        <td *ngIf="hidetd[i]">
                          <button (click)="saveUpdate(i, product.products_id)" class="btn btn-primary">
                            Save
                          </button>
                        </td>
                      </tr>
                    </ng-container>

                    <tr *ngIf="!if_records">
                      <td>
                        <p style="color: red">No Records Found</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!---LIST--->
        <!----------------->
      </div>
    </div>
  </div>
</main>

<!-- <div class="container">
  <h4>Product Lists</h4>
  <br>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-1">
        <button (click)="storeLists()" data-toggle="modal" data-target="#myModal" class="btn btn"><i class="fa fa-filter" aria-hidden="true"></i>
            Filter</button> 
        </div>
        <div class="col-sm-3">
          
         <input name="productsName" [(ngModel)]="productsName" placeholder="Search Products..." class="form-control"></div>
         <div class="col-sm-2">
         <button (click)="searchApi()" class="btn btn-success">Search</button> 
         </div>
         <div class="col-sm-3">

         </div>
         <div class="col-sm-3">
         
        </div>
        </div>
      </div>
     <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Sr.No.</th>
        <th>Image</th>
        <th>Name</th>
        <th>Category</th>
        <th>Qty(in hand)</th>
        <th>Stocks Lasts</th>
        <th>Shelf Life</th>
        <th>Expiry Date</th>
        <th>Last Purchased</th>
        <th>Store</th>
        <th>Price</th>
        <th>Notes</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productsArray; let i = index">
        
        <td>{{ i+1 }}</td>
        
        <td><img src='{{imageDirectoryPath}}{{product.products_image}}' style="max-width: 124%;"></td>
        <td>{{product.products_name}}</td>
        <td>{{product.name}}</td>
        <td>{{product.products_quantity}} {{product.products_unit}}</td>
        <td>{{product.products_stocks_lasts}}</td>
        <td>{{product.products_shelf_life}}</td>
        <td>{{product.products_expiry_date}}</td>
        <td></td>
         <td *ngIf="!product.products_store; else elseBlock">-</td>
        <ng-template #elseBlock>
          <td>{{product.products_store}}</td>
        </ng-template>
        <td>$ {{product.products_price}}</td>
        <td>{{product.products_notes}}</td>
        <td> 
          <button data-toggle="modal" data-target="#myModals" (click)="editProduct(product.products_id,product.products_name,product.products_quantity,product.products_price,product.products_unit,product.products_store, product.products_stocks_lasts,
          product.products_shelf_life,product.products_expiry_date,product.products_notes,product.products_image)" class="btn btn-sm btn-info"><i class="fa fa-edit" aria-hidden="true"></i></button> 
          &nbsp;
          <button data-toggle="modal" data-target="#myModal_view" (click)="viewProduct(product.products_id)" type="submit" class="btn btn-sm btn-success"><i class="fa fa-eye" aria-hidden="true"></i></button>
          &nbsp;  
           <button type="submit" 
            (click)="deleteProduct(product.products_id)" class="btn btn-sm btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
   
       </td>
      </tr>
    </tbody>
  </table>
</div>

 <div id="myModals" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Products</h4>
        </div>
        <form novalidate [formGroup]="formGroup">
          <div *ngIf="formGroup?.value"></div>
          <div class="modal-body">
            <label>Product Name</label>
            <input name="products_name" formControlName="products_name" [(ngModel)]="products_name" class="form-control" readonly>
             <div  *ngIf="formGroup.controls['products_name'].touched">
                  <div *ngIf="formGroup.controls['products_name'].errors?.required" class="alert alert-danger">Product name is required
                </div>
              
              </div>
          </div>
          <div class="modal-body">
            <label>Product Price</label>
            <input name="products_price" formControlName="products_price" [(ngModel)]="products_price" class="form-control">
             <div  *ngIf="formGroup.controls['products_price'].touched">
                  <div *ngIf="formGroup.controls['products_price'].errors?.required" class="alert alert-danger">Product Price is required
                </div>
              
              </div>
          </div>
          <div class="modal-body">
            <label>Product Unit</label>
            <input name="products_unit" formControlName="products_unit" [(ngModel)]="products_unit" class="form-control">
             <div  *ngIf="formGroup.controls['products_unit'].touched">
                  <div *ngIf="formGroup.controls['products_unit'].errors?.required" class="alert alert-danger">Product unit is required
                </div>
               
              </div>
          </div>
          <div class="modal-body">
            <label>Product Quantity</label>
          
            <input name="products_quantity" formControlName="products_quantity" [(ngModel)]="products_quantity" class="form-control">
             <div  *ngIf="formGroup.controls['products_quantity'].touched">
                  <div *ngIf="formGroup.controls['products_quantity'].errors?.required" class="alert alert-danger">Product quantity is required
                </div>
                
              </div>
          </div>
          <div class="modal-body">
            <label>Product Store</label>
           <input name="products_store" formControlName="products_store" [(ngModel)]="products_store" class="form-control"> 
            <div  *ngIf="formGroup.controls['products_store'].touched">
                  <div *ngIf="formGroup.controls['products_store'].errors?.required" class="alert alert-danger">Product store is required
                </div>
             </div>
          </div>
           <div class="modal-body">
            <label>Product Stocks lasts</label>
           <input name="products_stocks_lasts" type="date" formControlName="products_stocks_lasts" [(ngModel)]="products_stocks_lasts" class="form-control"> 
            <div  *ngIf="formGroup.controls['products_stocks_lasts'].touched">
                  <div *ngIf="formGroup.controls['products_stocks_lasts'].errors?.required" class="alert alert-danger">Product stocks lasts is required
                </div>
             
              </div>
          </div>
           <div class="modal-body">
            <label>Product Expiry Date</label>
           <input name="products_expiry_date" type="date" formControlName="products_expiry_date" [(ngModel)]="products_expiry_date" class="form-control"> 
            <div  *ngIf="formGroup.controls['products_expiry_date'].touched">
                  <div *ngIf="formGroup.controls['products_expiry_date'].errors?.required" class="alert alert-danger">Product expiry date is required
                </div>
             
              </div>
          </div>
           <div class="modal-body">
            <label>Product notes</label>
           <input name="products_notes" formControlName="products_notes" [(ngModel)]="products_notes" class="form-control"> 
            <div  *ngIf="formGroup.controls['products_notes'].touched">
                  <div *ngIf="formGroup.controls['products_notes'].errors?.required" class="alert alert-danger">Product notes is required
                </div>
             
              </div>
          </div>
           <div class="modal-body">
            <label>Product shelf life</label>
           <input name="products_shelf_life" formControlName="products_shelf_life" [(ngModel)]="products_shelf_life" class="form-control"> 
            <div  *ngIf="formGroup.controls['products_shelf_life'].touched">
                  <div *ngIf="formGroup.controls['products_shelf_life'].errors?.required" class="alert alert-danger">Product shelf life is required
                </div>
              </div>
          </div>
          <div class="modal-body">
            <label>Image</label>
           
            <input type="file" name="products_image" formControlName="products_image" (change)="onFileSelected($event)" class="form-control">
            <div  *ngIf="formGroup.controls['products_image'].touched">
              <div *ngIf="formGroup.controls['products_image'].errors?.required" class="alert alert-danger">Product image is required
            </div>
           
          </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button"  (click)="editProducts()" class="btn btn-success">Save</button>
            <button  id="closeSaveModel" style="display: none;" class="btn btn-success"
            data-dismiss="modal" >Save</button>
        </div>
        </form>
      </div>
  
    </div>
  </div> 

-->

<div id="myModal" class="modal fade users-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="form-group">
          <label>Categories</label>
          <select name="category_name" [(ngModel)]="category_name" class="form-control" required>
            <option value="0">--Select--</option>
            <option *ngFor="let categories of categoriesArray">
              {{ categories.name }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label>Store</label>

          <select name="store_name" [(ngModel)]="store_name" class="form-control" required>
            <option value="0">--Select--</option>
            <option *ngFor="let store of storeArray">
              {{ store.stores_name }}
            </option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Cancel
        </button>
        <button type="button" (click)="searchProducts()" class="btn btn-success">
          Apply <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
        </button>
        <button [disabled]="store_name === ''" id="closeSaveModel" style="display: none" class="btn btn-success"
          data-dismiss="modal">
          Save
        </button>
      </div>
    </div>
  </div>
</div>
<div id="myModals" class="modal fade users-modal" role="dialog">
  <div class="modal-dialog">
    <form novalidate [formGroup]="formGroup">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Products</h4>
        </div>
        <div *ngIf="formGroup?.value"></div>
        <div class="modal-body">
          <div class="form-group">
            <label>Product Name</label>
            <input name="products_name" formControlName="products_name" [(ngModel)]="products_name"
              class="form-control" />
            <div *ngIf="formGroup.controls['products_name'].touched">
              <div *ngIf="formGroup.controls['products_name'].errors?.required" class="alert alert-danger">
                Product name is required
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Product Quantity</label>
            <input name="products_quantity" formControlName="products_quantity" [(ngModel)]="products_quantity"
              class="form-control" />
            <div *ngIf="formGroup.controls['products_quantity'].touched">
              <div *ngIf="formGroup.controls['products_quantity'].errors?.required" class="alert alert-danger">
                Product quantity is required
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Product shelf life</label>
            <input name="products_shelf_life" formControlName="products_shelf_life" [(ngModel)]="products_shelf_life"
              class="form-control" />
            <div *ngIf="formGroup.controls['products_shelf_life'].touched">
              <div *ngIf="
                  formGroup.controls['products_shelf_life'].errors?.required
                " class="alert alert-danger">
                Product shelf life is required
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Product Notes</label>
            <input name="products_notes" formControlName="products_notes" [(ngModel)]="products_notes"
              class="form-control" />
          </div>

          <div class="form-group">
            <label>Image</label>
            <div class="file-upload">
              <div (dragover)="onDragOver($event)" (drop)="onDropSuccess($event)" class="image-upload-wrap">
                <!-- <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" /> -->
                <input type="file" name="products_image" (change)="onChange($event)" class="file-upload-input" />

                <div class="drag-text" style="height: auto">
                  <h3 class="default-upload-image" style="{{ products_image ? 'display:none' : '' }}">
                    <img src="assets/theme/images/upload-img.png" /><br />Drag
                    and drop to browse
                  </h3>

                  <div class="file-upload-content" style="display: block">
                    <!-- <img class="file-upload-image" src="{{fileChanges?'assets/theme/images/upload-img.png':imageDirectoryPath+products_image}}" [src]="imageSrc"/> -->
                    <img class="file-upload-image" src="{{
                        fileChanges
                          ? fileChanges
                          : products_image
                          ? imageDirectoryPath + products_image
                          : ''
                      }}" [src]="imageSrc" />
                  </div>
                </div>
              </div>

              <div class="image-title-wrap" style="{{ products_image ? 'display: block' : 'display:none' }}">
                <button type="button" class="remove-image">
                  Remove <span class="image-title">Uploaded Image</span>
                </button>
              </div>
            </div>
            <!-- <input type="file" name="products_image" formControlName="products_image" (change)="onFileSelected($event)"
				class="form-control"> -->
            <div *ngIf="formGroup.controls['products_image'].touched">
              <div *ngIf="formGroup.controls['products_image'].errors?.required" class="alert alert-danger">
                Product image is required
              </div>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default closepopup" (click)="
              closeProductpopup(
                products_id,
                products_name,
                products_quantity,
                products_shelf_life,
                products_notes,
                products_image,
                activeI
              )
            " data-dismiss="modal">
            Close
          </button>
          <button type="button" (click)="editItems()" class="btn btn-success">
            Save <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div id="myModal_view" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Product View</h4>
      </div>
      <div class="modal-body">
        <div *ngFor="let product of productsView; let i = index">
          <div class="product-detail-div-left">
            <label>Image:</label>
            <div class="images-div">
              <img src="{{ imageDirectoryPath }}{{ product.products_image }}" />
            </div>
          </div>
          <div class="product-detail-div-right">
            <div class="product-detail-inner">
              <label>Name:</label>
              <h3>{{ product.products_name }}</h3>
            </div>
            <div class="product-detail-inner">
              <label>Price:</label>
              <h3 *ngIf="product.products_price == 'N/A'; else elseBlock">
                {{ product.products_price }}
              </h3>
              <h3>
                <ng-template #elseBlock>
                  {{ product.products_price }}</ng-template>
              </h3>
            </div>
            <div class="product-detail-inner">
              <label>Category:</label>
              <h3>{{ category }}</h3>
            </div>
            <div class="product-detail-inner">
              <label> Store:</label>
              <h3>{{ product.stores_name }}</h3>
            </div>
            <div class="product-detail-inner">
              <label>Notes:</label>
              <h3>{{ product.products_notes }}</h3>
            </div>
            <div class="product-detail-inner">
              <label>Quantity:</label>
              <h3>
                {{ product.products_quantity }} {{ product.products_unit }}
              </h3>
            </div>
            <div class="product-detail-inner">
              <label>Stocks Lasts:</label>
              <h3>{{ product.products_stocks_lasts }}</h3>
            </div>
            <div class="product-detail-inner">
              <label>Shelf Life:</label>
              <h3>{{ product.products_shelf_life }}</h3>
            </div>
            <div class="product-detail-inner">
              <label>Expiry Date:</label>
              <h3>{{ product.products_expiry_date }}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<button class="Congratulations1-action" data-toggle="modal" data-target="#Congratulations1"></button>
<div class="modal fade" id="Congratulations1" tabindex="-1" role="dialog" aria-labelledby="Congratulations1"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="congrats-image">
          <img src="assets/theme/images/Add-item-congrats.png" />
        </div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="congrats-content">
          <h2>Hooray, you did it!</h2>
          <p>
            Are you done for today or would you like to keep adding items to
            your inventory?
          </p>
          <div class="btn-action">
            <button type="button" class="btn btn-secondary finish" (click)="finish_shopping()">
              Finish
            </button>
            <button type="button" class="btn btn-secondary continue" (click)="continue_shopping()">
              Continue
            </button>
          </div>
          <label for="dont-show" (click)="delete_cpopup()"><input type="checkbox" />&nbsp;Do not show again?</label>
        </div>
        <!-- congrats-content -->
      </div>
    </div>
  </div>
</div>
<button class="shopping-go-action" data-toggle="modal" data-target="#Shopping-go"></button>
<div class="modal fade shopping-go" id="Shopping-go" tabindex="-1" role="dialog" aria-labelledby="Shopping-go"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="congrats-content">
          <h2>Are your ready to go for shopping?</h2>
          <button type="button" class="btn btn-secondary shopping-btn" data-dismiss="modal"
            (click)="go_to_shoppingList()">
            Yes
          </button>
          <button type="button" class="btn btn-secondary shopping-btn no-btn" data-dismiss="modal">
            No
          </button>
        </div>
        <!-- congrats-content -->
      </div>
    </div>
  </div>
</div>

<script>
  $("button.btn.filter").click(function () {
    $(".filteropen-div").toggle();
  });
</script>