<main class="manage-items">
  <div class="dashboard-body">
    <div class="dashboard-left-part"><app-sidebar></app-sidebar>></div>
    <div class="dashboard-right-part">
      <div class="right-inn-main">
        <div class="top-heading">
          <div class="top-heading-inn">
            <div class="navbarr-Sub-category">
              <h6>All Items</h6>
            </div>
          </div>
          <div class="filter-buttons">
            <div class="filtering-button">
              <button
                (click)="storeListsSearch()"
                data-toggle="modal"
                data-target="#myModal"
                class="btn filter"
              >
                <img src="assets/theme/images/filter.png" alt="" />Filter
              </button>

              <div class="filteropen-div">
                <div class="form-group">
                  <label for="sel1">Categories</label>
                  <select class="form-control" id="sel1">
                    <option>Loream ipsum</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="sel1">Store</label>
                  <select class="form-control" id="sel1">
                    <option>Loream ipsum</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="sel1">Status</label>
                  <select class="form-control" id="sel1">
                    <option>Loream ipsum</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="sel1">Finishing On</label>
                  <select class="form-control" id="sel1">
                    <option>Loream ipsum</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>
                </div>
                <div class="buttons">
                  <button class="btn Category">Cancel</button>
                  <button class="btn items">Apply</button>
                </div>
              </div>
            </div>
            <div class="search">
              <img
                src="assets/theme/images/search-icon.png"
                alt="search"
                class="search"
              />
             
              <input
                type="search"
                name="productsName"
                [(ngModel)]="productsName"
                placeholder="Search"
              />
              &nbsp;
              <button (click)="searchApi()" class="btn btn-sm btn-success">
                Search <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
              </button>
            
            </div>
           
          </div>
        </div>
        <div id="mySidebar" class="sidebar">
          <a href="javascript:void(0)" class="closebtn" (click)="closeNav()"
            >×</a
          >
          <div class="top-heading-inn">
            <h2>Add Items</h2>
            <form>
              <div class="form-group">
                <label>Name <span class="star">*</span></label>
                <input
                  type="text"
                  name="products_name"
                  [(ngModel)]="products_name"
                  class="form-control"
                  placeholder="Enter Product Name"
                  required
                />
              </div>

              <div class="form-group">
                <label>Quantity On Hand <span class="star">*</span></label>
                <input
                  type="number"
                  name="products_quantity"
                  [(ngModel)]="products_quantity"
                  min="1"
                  class="form-control pointer"
                  placeholder="Enter Product Quantity"
                  required
                />
              </div>
              <div class="form-group">
                <label>Category <span class="star">*</span></label>
                <!-- <select name='category_name' [(ngModel)]="category_name" class="form-control" id="available" required>  
                      <option value="0">--Select--</option>  
                      <option *ngFor="let categories of categoriesArray">{{categories.name}} </option>  
                  </select>  -->
                <select
                  class="form-control select"
                  id="available"
                  (change)="getSelectedOptionText($event)"
                >
                  <option value="0">Please select Value</option>
                  <option
                    *ngFor="let categories of categoriesArray"
                    value="{{ categories.id }}"
                  >
                    {{ categories.name }}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label>Sub-Category <span class="star">*</span></label>
                <select
                  name="subCategories_name"
                  [(ngModel)]="subCategories_name"
                  id="available"
                  class="form-control"
                  required
                >
                  <option value="0">--Select--</option>
                  <option *ngFor="let subcats of subcategoriesArray">
                    {{ subcats.subCategories_name }}
                  </option>
                </select>
              </div>
              <div class="file-upload-content">
                <img class="file-upload-image" src="#" alt="your image" />
                <div class="image-title-wrap">
                  <button
                    type="button"
                    onclick="removeUpload()"
                    class="remove-image"
                  >
                    Remove <span class="image-title">Uploaded Image</span>
                  </button>
                </div>
              </div>
              <div class="form-group image-div">
                <label>Image <span class="star">*</span></label>
                <div class="file-upload">
                  <div class="image-upload-wrap">
                    <!-- <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" /> -->
                    <input
                      type="file"
                      name="products_image"
                      (change)="onFileSelected($event)"
                      class="file-upload-input"
                    />

                    <div class="drag-text">
                      <h3>
                        <img
                          src="assets/theme/images/upload-img.png"
                        /><br />Drag and drop to browse
                      </h3>
                    </div>
                  </div>
                  <div class="file-upload-content">
                    <img class="file-upload-image" src="#" alt="your image" />
                    <div class="image-title-wrap">
                      <button
                        type="button"
                        onclick="removeUpload()"
                        class="remove-image"
                      >
                        Remove <span class="image-title">Uploaded Image</span>
                      </button>
                    </div>
                  </div>
                  <hr class="separator" />
                  <button
                    type="button"
                    class="btn btn-primary show-fields"
                    data-toggle="collapse"
                    data-target="#demo"
                  >
                    Show All Fields <span class="caret"></span>
                  </button>
                  <div id="demo" class="collapse">
                    <div class="form-group">
                      <label>Price(Optional) </label>
                      <input
                        type="text"
                        name="products_price"
                        [(ngModel)]="products_price"
                        class="form-control"
                        placeholder="Enter Product Price"
                        required
                      />
                    </div>
                    <div class="form-group">
                      <label>Store(Optional) </label>
                      <select
                        name="default_store"
                        [(ngModel)]="default_store"
                        class="form-control"
                        id="available"
                        required
                      >
                        <option value="0">--Select--</option>
                        <option *ngFor="let store of storeListsArray">
                          {{ store.stores_name }}
                        </option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label>Notes </label>
                      <!-- <textarea class="textarea-field" placeholder="Loream ipsum"> -->
                      <textarea
                        type="text"
                        name="products_notes"
                        [(ngModel)]="products_notes"
                        class="textarea-field"
                      >
                      </textarea>
                    </div>
                  </div>
                </div>
              </div>

              <!-- <button class="btn" >Add</button> -->
              <button type="submit" (click)="addProducts()" class="btn">
                Add Product
                <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
              </button>
            </form>
          </div>
        </div>

        <div *ngIf="!if_records">
          <p style="color: red;">No Records Found</p>
        </div>
        

        <div class="tab-content login inventory-page">
          <div id="home" class="tab-pane active">
            <br />
            <div class="row">
              <div
                *ngFor="let product of productsArray; let i = index"
                class="sindle-item"
              >
                <div class="image-section">
                  <div class="icons-sec">
                    <i
                      class="far fa-edit"
                      data-toggle="modal"
                      data-target="#myModals"
                      (click)="
                        editProduct(
                          product.products_id,
                          product.products_name,
                          product.products_quantity,
                          product.products_shelf_life,
                          product.products_notes,
                          product.products_image,
                          i
                        )
                      "
                    >
                    </i>
                   
                    <i
                      class="fas fa-trash-alt"
                      (click)="deleteProduct(product.products_id)"
                    ></i>
                    <i
                      class="far fa-eye"
                      data-toggle="modal"
                      data-target="#myModal_view"
                      (click)="viewProduct(product.products_id)"
                    ></i>
                  </div>
                  <div class="walmart">{{ product.stores_name }}</div>
                  <img *ngIf="product.products_image"
                    src="{{ imageDirectoryPath }}{{ product.products_image }}"
                    alt=""
                  />

                  <!-- <img *ngIf="!product.products_image"
                    src="{{defaultimage}}"
                    alt=""
                  /> -->

                </div>
                <div class="btm-section">
                  <div class="product-info bold">
                    <h2>{{ product.products_name}}</h2>
                    <p>{{ product.products_price}}</p>
                  </div>
                  <div class="product-info">
                    <h2>Qty (In hand)</h2>
                    <p>
                      {{ product.products_quantity }}
                      {{ product.products_unit }}
                    </p>
                  </div>
                  <div class="product-info">
                    <h2>Stocks Last</h2>
                    <p>{{ product.products_stocks_lasts }}</p>
                  </div>
                  <div class="product-info">
                    <h2>Last Purchased</h2>
                    <p>01/04/2021</p>
                  </div>
                  <div class="product-info">
                    <h2>Category</h2>
                    <p>{{ product.name }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

       
        <div id="menu1" class="tab-pane fade">
          <br />
          <div class="dashboard-listing manage-items-listing">
            <table class="table inventory">
              <thead>
                <tr class="heading-for-table">
                  <th class="user-th1">Image</th>
                  <th class="user-th2">Name</th>
                  <th class="user-th3">Category</th>
                  <th class="user-th4">Qty</th>
                  <th class="user-th5">Stocks Lasts</th>
                  <th class="user-th6">Expiration Date</th>
                  <th class="user-th7">Last Purchased</th>
                  <th class="user-th8">Store</th>
                  <th class="user-th9">Price</th>
                  <th class="user-th10">Notes</th>
                  <th class="user-th11">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let product of productsArray; let i = index">
                  <td class="user-tr1">
                    <img
                      src="{{ imageDirectoryPath }}{{ product.products_image }}"
                    />
                  </td>
                  <td class="user-tr2">{{ product.products_name }}</td>
                  <td class="user-tr3">Frozen</td>
                  <td class="user-tr4">
                    {{ product.products_quantity }}
                    {{ product.products_unit }}
                  </td>
                  <td class="user-tr5">
                    {{ product.products_stocks_lasts }}
                  </td>
                  <td class="user-tr6">7/4/2021</td>
                  <td class="user-tr7">1/4/2021</td>
                  <td class="user-tr8">{{ product.products_store }}</td>
                  <td class="user-tr9">{{ product.products_price }}</td>
                  <td class="user-tr10">
                    <div class="icfo-notes">
                      <div class="dropdown">
                        <button
                          type="button"
                          class="btn dropdown-toggle"
                          data-toggle="dropdown"
                        >
                          <i class="fas fa-info-circle"></i>
                        </button>
                        <div
                          class="dropdown-menu"
                          x-placement="bottom-start"
                          style="
                            position: absolute;
                            transform: translate3d(-15px, 59px, 0px);
                            top: 0px;
                            left: 0px;
                            will-change: transform;
                          "
                        >
                          <p>
                            park center Cut Lion Chops Boneless Family Packpark
                            center Cut Lion Chops Boneless Family Pacpark center
                            Cut Lion Chops Boneless Family Pacpark center Cut
                            Lion Chops Boneless Family Pacpark center Cut Lion
                            Chops Boneless Family Pacpark center Cut Lion Chops
                            Boneless Family Pac
                          </p>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="user-tr11">
                    <i class="far fa-edit"
                    
                    ></i>
                    <i class="fas fa-trash-alt"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>  
</main>

<!--Modal of filter with categories and store name-->
<!-- <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      
      <div class="modal-body">
        <label>Categories</label>
        <select
          name="category_name"
          [(ngModel)]="category_name"
          class="form-control"
          required>
          
          <option *ngFor="let categories of categoriesArray" value="{{ categories.id }}">
            {{ categories.name }}
          </option>
        </select>
      </div>

      <div class="modal-body">
        <label>Store</label>
        <select
          name="store_name"
          [(ngModel)]="store_name"
          class="form-control"
          required>
          
          <option *ngFor="let store of storeArray" value="{{ store.stores_id }}">
            {{ store.stores_name }}
          </option>
        </select>
      </div>

      <div class="modal-footer">
        <button type="button" (click)="searchProducts()" class="btn btn-success">
          Apply
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal" #myModalClose_BTn>
          Close
        </button>
      </div>

    </div>
  </div>
</div> -->
<!-----------------End Modal of filter with categories and store name------------->







<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
		
			<div class="modal-body">
				<form novalidate [formGroup]="myGroup">
					<div class="row">
						
						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Categories</label>

                <!-- <select formControlName="category_name" class="form-control option-select"
                name="category_name" [(ngModel)]="category_name" (change)="getSelectedOptionText($event)">
                <option value="undefined">--Select--</option>
                <option *ngFor="let categories of categoriesArray" value="{{ categories.id }}">
                  {{ categories.name }}
                </option>
              </select> -->

								<select formControlName="category_name" class="form-control option-select"
									name="category_name" [(ngModel)]="category_name">
									<option value="0">--Select--</option>
                  <option *ngFor="let categories of categoriesArray" value="{{ categories.id }}">
                    {{ categories.name }}
                  </option>
								</select>

								<!-- <div *ngIf="myGroup.controls['category_name'].touched" class="rerror">
									<div *ngIf="myGroup.controls['category_name'].errors?.required"
										class="alert alert-danger">
										Category is required
									</div>
								</div> -->
							</div>
						</div>

						<div class="col-sm-12">
							<div class="form-group">
								<label for="exampleInputEmail1">Store</label>

								<select formControlName="store_name" name='store_name'
									[(ngModel)]="store_name" id="available" class="form-control" required>
									<option value="0">--Select--</option>
                  <option *ngFor="let store of storeArray" value="{{ store.stores_id }}">
                    {{ store.stores_name }}
                  </option>
								</select>
								<!-- <div *ngIf="myGroup.controls['store_name'].touched" class="rerror">
									<div *ngIf="myGroup.controls['store_name'].errors?.required"
										class="alert alert-danger">
										Store is required
									</div>
								</div> -->
							</div>
						</div>

					</div>
				
					<!-- <button (click)="SaveClass($event)" class="continue"
						disabled="{{submitdisable?'true':''}}">Create</button> -->


          <div class="modal-footer">
            <button type="button" (click)="searchProducts($event)" class="btn btn-success" disabled="{{submitdisable?'true':''}}">
              Apply
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal" #myModalClose_BTn>
              Close
            </button>
          </div>  


				</form>
			</div>
		</div>
	</div>
</div>













































<div id="myModal_view" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Product View</h4>
      </div>
      <div class="modal-body">
        <div *ngFor="let product of productsView; let i = index">
          <div class="product-detail-div-left">
            <label>Image:</label>
            <div class="images-div">
              <img src="{{ imageDirectoryPath }}{{ product.products_image }}" />
            </div>
          </div>
          <div class="product-detail-div-right">
            <div class="product-detail-inner">
              <label>Name:</label>
              <h3>{{ product.products_name }}</h3>
            </div>
            <div class="product-detail-inner">
              <label>Price:</label>
              <h3>{{ product.products_price }}</h3>
            </div>
            <div class="product-detail-inner">
              <label>Category:</label>
              <h3>{{ product.name }}</h3>
            </div>
            <div class="product-detail-inner">
              <label> Store:</label>
              <h3>{{ product.stores_name }}</h3>
            </div>
            <div class="product-detail-inner">
              <label>Notes:</label>
              <h3>{{ product.products_notes }}</h3>
            </div>
            <div class="product-detail-inner">
              <label>Quantity:</label>
              <h3>
                {{ product.products_quantity }} {{ product.products_unit }}
              </h3>
            </div>
            <div class="product-detail-inner">
              <label>Stocks Lasts:</label>
              <h3>{{ product.products_stocks_lasts }}</h3>
            </div>
            <div class="product-detail-inner">
              <label>Shelf Life:</label>
              <h3>{{ product.products_shelf_life }}</h3>
            </div>
            <div class="product-detail-inner">
              <label>Expiry Date:</label>
              <h3>{{ product.products_expiry_date }}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-------------------------Edit products modal----------------------------->
<div id="myModals" class="modal fade users-modal" role="dialog">
  <div class="modal-dialog">
    <form novalidate [formGroup]="formGroup">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Products</h4>
        </div>
        <div *ngIf="formGroup?.value"></div>
        <div class="modal-body">
          <div class="form-group">
            <label>Product Name</label>
            <input
              name="products_name"
              formControlName="products_name"
              [(ngModel)]="products_name"
              class="form-control"
            />
            <div *ngIf="formGroup.controls['products_name'].touched">
              <div
                *ngIf="formGroup.controls['products_name'].errors?.required"
                class="alert alert-danger"
              >
                Product name is required
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Product Quantity</label>
            <input
              name="products_quantity"
              formControlName="products_quantity"
              [(ngModel)]="products_quantity"
              class="form-control"
            />
            <!-- <span class="quantity-span">kg</span> -->
            <div *ngIf="formGroup.controls['products_quantity'].touched">
              <div
                *ngIf="formGroup.controls['products_quantity'].errors?.required"
                class="alert alert-danger"
              >
                Product quantity is required
              </div>
            </div>
          </div>

          <div class="form-group">
            <label>Product shelf life</label>
            <input
              name="products_shelf_life"
              formControlName="products_shelf_life"
              [(ngModel)]="products_shelf_life"
              class="form-control"
            />
            <div *ngIf="formGroup.controls['products_shelf_life'].touched">
              <div
                *ngIf="
                  formGroup.controls['products_shelf_life'].errors?.required
                "
                class="alert alert-danger"
              >
                Product shelf life is required
              </div>
            </div>

            <div class="">
              <span>{{this.products_shelf_life_error}}</span>
            </div>
          </div>

          <div class="form-group">
            <label>Product Notes</label>
            <input
              name="products_notes"
              formControlName="products_notes"
              [(ngModel)]="products_notes"
              class="form-control"
            />
          </div>

          <div class="form-group">
            <label>Image</label>
            <div class="file-upload">
              <div
                (dragover)="onDragOver($event)"
                (drop)="onDropSuccess($event)"
                class="image-upload-wrap"
              >
               
                <input
                  type="file"
                  name="products_image"
                  (change)="onChange($event)"
                  class="file-upload-input"
                />

                <div class="drag-text" style="height: auto">
                  <h3
                    class="default-upload-image"
                    style="{{ products_image ? 'display:none' : '' }}"
                  >
                    <img src="assets/theme/images/upload-img.png" /><br />Drag
                    and drop to browse
                  </h3>

                  <div class="file-upload-content" style="display: block">
            
                    <img
                      class="file-upload-image"
                      src="{{
                        fileChanges
                          ? fileChanges
                          : products_image
                          ? imageDirectoryPath + products_image
                          : ''
                      }}"
                      [src]="imageSrc"
                    />
                  </div>
                </div>
              </div>

              <div
                class="image-title-wrap"
                style="{{ products_image ? 'display: block' : 'display:none' }}">
                <button type="button" (click)="removeUpload()" class="remove-image">
                  Remove <span class="image-title">Uploaded Image</span>
                </button>
              </div>
            </div>
            <div *ngIf="formGroup.controls['products_image'].touched">
              <div
                *ngIf="formGroup.controls['products_image'].errors?.required"
                class="alert alert-danger"
              >
                Product image is required
              </div>
            </div>
          </div>

          
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-default closepopup"
            (click)="
              closeProductpopup(
                products_id,
                products_name,
                products_quantity,
                products_shelf_life,
                products_notes,
                products_image,
                activeI
              )
            "
            data-dismiss="modal"
          >
            Close
          </button>
          <button type="button" (click)="editItems()" class="btn btn-success">
            Save <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!--  ********************************************************************************
  
  
  <app-header></app-header>
<main class="Category sub-inventory">
  <div class="dashboard-body">
    <app-sidebar></app-sidebar>
  <div class="dashboard-right-part">
    <div class="right-inn-main">
      <div class="top-heading"><h4>Product Lists</h4>
        
      </div>
      <div class="add-quick-item-main product-list-head-btm">
        <div class="form-group">
              <button (click)="storeLists()" data-toggle="modal" data-target="#myModal" class="btn btn filter-btn"><i class="fa fa-filter" aria-hidden="true"></i>
                  Filter</button> 
                  <div class="search">
                  <img src="assets/theme/images/search-icon.png" alt="search" class="search">
               <input name="productsName" [(ngModel)]="productsName" placeholder="Search Products..." class="form-control">
              </div>
               <button (click)="searchApi()" class="btn btn-success">Search</button> 
             
            </div>
          </div>
          <div class="main-table-div producdt-page-table">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Sr.No.</th>
        <th>Image</th>
        <th>Name</th>
        <th>Category</th>
        <th>Qty(in hand)</th>
        <th>Stocks Lasts</th>
        <th>Shelf Life</th>
        <th>Expiry Date</th>
        <th>Last Purchased</th>
        <th>Store</th>
        <th>Price</th>
        <th>Notes</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productsArray; let i = index">
      
        <td>{{ i+1 }}</td>
        <td><img src='{{imageDirectoryPath}}{{product.products_image}}' style="max-width: 124%;"></td>
        {{product.products_id}} -->
<!-- <td>{{product.products_image}}</td> 
        <td><div class="image-div"><img src='{{imageDirectoryPath}}{{product.products_image}}' ></div></td>
        <td>{{product.products_name}}</td>
        <td>{{product.name}}</td>
        <td>{{product.products_quantity}} {{product.products_unit}}</td>
        <td>{{product.products_stocks_lasts}}</td>
        <td>{{product.products_shelf_life}}</td>
        <td>{{product.products_expiry_date}}</td>
        <td></td>
         <td *ngIf="!product.products_store; else elseBlock">-</td>
        <ng-template #elseBlock>
          <td>{{product.products_store}}</td>
        </ng-template>
        <td>$ {{product.products_price}}</td>
        <td>{{product.products_notes}}</td>
        <td> 
          <button data-toggle="modal" data-target="#myModals" (click)="editProduct(product.products_id,product.products_name,product.products_quantity,product.products_price,product.products_unit,product.products_store, product.products_stocks_lasts,
          product.products_shelf_life,product.products_expiry_date,product.products_notes,product.products_image)" class="btn btn-sm btn-info"><i class="fa fa-edit" aria-hidden="true"></i></button> 
          &nbsp;
          <button data-toggle="modal" data-target="#myModal_view" (click)="viewProduct(product.products_id)" type="submit" class="btn btn-sm btn-success"><i class="fa fa-eye" aria-hidden="true"></i></button>
          &nbsp;  
           <button type="submit" 
            (click)="deleteProduct(product.products_id)" class="btn btn-sm btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
   
       </td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
</div>-->
<!-- 
<div id="myModals" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Edit Products</h4>
      </div>
      <form novalidate [formGroup]="formGroup">
        <div *ngIf="formGroup?.value"></div>
        <div class="modal-body">
          <label>Product Name</label>
          <input
            name="products_name"
            formControlName="products_name"
            [(ngModel)]="products_name"
            class="form-control"
            readonly
          />
          <div *ngIf="formGroup.controls['products_name'].touched">
            <div
              *ngIf="formGroup.controls['products_name'].errors?.required"
              class="alert alert-danger"
            >
              Product name is required
            </div>
          </div>
        </div>
        <div class="modal-body">
          <label>Product Price</label>
          <input
            name="products_price"
            formControlName="products_price"
            [(ngModel)]="products_price"
            class="form-control"
          />
          <div *ngIf="formGroup.controls['products_price'].touched">
            <div
              *ngIf="formGroup.controls['products_price'].errors?.required"
              class="alert alert-danger"
            >
              Product Price is required
            </div>
          </div>
        </div>
        <div class="modal-body">
          <label>Product Unit</label>
          <input
            name="products_unit"
            formControlName="products_unit"
            [(ngModel)]="products_unit"
            class="form-control"
          />
          <div *ngIf="formGroup.controls['products_unit'].touched">
            <div
              *ngIf="formGroup.controls['products_unit'].errors?.required"
              class="alert alert-danger"
            >
              Product unit is required
            </div>
          </div>
        </div>
        <div class="modal-body">
          <label>Product Quantity</label>

          <input
            name="products_quantity"
            formControlName="products_quantity"
            [(ngModel)]="products_quantity"
            class="form-control"
          />
          <div *ngIf="formGroup.controls['products_quantity'].touched">
            <div
              *ngIf="formGroup.controls['products_quantity'].errors?.required"
              class="alert alert-danger"
            >
              Product quantity is required
            </div>
          </div>
        </div>
        <div class="modal-body">
          <label>Product Store</label>
          <input
            name="products_store"
            formControlName="products_store"
            [(ngModel)]="products_store"
            class="form-control"
          />
          <div *ngIf="formGroup.controls['products_store'].touched">
            <div
              *ngIf="formGroup.controls['products_store'].errors?.required"
              class="alert alert-danger"
            >
              Product store is required
            </div>
          </div>
        </div>
        <div class="modal-body">
          <label>Product Stocks lasts</label>
          <input
            name="products_stocks_lasts"
            type="date"
            formControlName="products_stocks_lasts"
            [(ngModel)]="products_stocks_lasts"
            class="form-control"
          />
          <div *ngIf="formGroup.controls['products_stocks_lasts'].touched">
            <div
              *ngIf="
                formGroup.controls['products_stocks_lasts'].errors?.required
              "
              class="alert alert-danger"
            >
              Product stocks lasts is required
            </div>
          </div>
        </div>
        <div class="modal-body">
          <label>Product Expiry Date</label>
          <input
            name="products_expiry_date"
            type="date"
            formControlName="products_expiry_date"
            [(ngModel)]="products_expiry_date"
            class="form-control"
          />
          <div *ngIf="formGroup.controls['products_expiry_date'].touched">
            <div
              *ngIf="
                formGroup.controls['products_expiry_date'].errors?.required
              "
              class="alert alert-danger"
            >
              Product expiry date is required
            </div>
          </div>
        </div>
        <div class="modal-body">
          <label>Product notes</label>
          <input
            name="products_notes"
            formControlName="products_notes"
            [(ngModel)]="products_notes"
            class="form-control"
          />
          <div *ngIf="formGroup.controls['products_notes'].touched">
            <div
              *ngIf="formGroup.controls['products_notes'].errors?.required"
              class="alert alert-danger"
            >
              Product notes is required
            </div>
          </div>
        </div>
        <div class="modal-body">
          <label>Product shelf life</label>
          <input
            name="products_shelf_life"
            formControlName="products_shelf_life"
            [(ngModel)]="products_shelf_life"
            class="form-control"
          />
          <div *ngIf="formGroup.controls['products_shelf_life'].touched">
            <div
              *ngIf="formGroup.controls['products_shelf_life'].errors?.required"
              class="alert alert-danger"
            >
              Product shelf life is required
            </div>
          </div>
        </div>
        <div class="modal-body">
          <label>Image</label>

          <input
            type="file"
            name="products_image"
            formControlName="products_image"
            (change)="onFileSelected($event)"
            class="form-control"
          />
          <div *ngIf="formGroup.controls['products_image'].touched">
            <div
              *ngIf="formGroup.controls['products_image'].errors?.required"
              class="alert alert-danger"
            >
              Product image is required
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
          <button
            type="button"
            (click)="editProducts()"
            class="btn btn-success"
          >
            Save <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
          </button>
          <button
            id="closeSaveModel"
            style="display: none"
            class="btn btn-success"
            data-dismiss="modal"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</div> -->

<!-- <div id="myModal_view" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
        
          <h4 class="modal-title"> Product View</h4>
        </div>
       
        <span *ngFor="let product of productsView; let i = index">
        
          <tr>
          <td>Image: <img src='{{imageDirectoryPath}}{{product.products_image}}' style="max-width: 124%;"></td>
          </tr>
          <tr>
          <td>Name: {{product.products_name}}</td>
        </tr>
        <tr><td>
         Price: {{product.products_price}}
        </td></tr>
        <tr><td>
          Category:  {{product.name}}
        </td></tr>
        <tr>
          <td>
            Image:
            <img
              src="{{ imageDirectoryPath }}{{ product.products_image }}"
              style="max-width: 124%"
            />
          </td>
        </tr>
        <tr>
          <td>Name: {{ product.products_name }}</td>
        </tr>
        <tr>
          <td>Price: {{ product.products_price }}</td>
        </tr>
        <tr>
          <td>Category: {{ product.name }}</td>
        </tr>
        <tr>
          <td>Store: {{ product.products_store }}</td>
        </tr>
        <tr>
          <td>Notes: {{ product.products_notes }}</td>
        </tr>
        <tr>
          <td>
            Quantity: {{ product.products_quantity }}
            {{ product.products_unit }}
          </td>
        </tr>
        <tr>
          <td>Stocks Lasts: {{ product.products_stocks_lasts }}</td>
        </tr>
        <tr>
          <td>Shelf Life: {{ product.products_shelf_life }}</td>
        </tr>
        <tr>
          <td>Expiry Date: {{ product.products_expiry_date }}</td>
        </tr>
      </span>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Close
        </button>
      </div>
   </div>
  </div> -->
<!-- 
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <label>Categories</label>
        <select
          name="category_name"
          [(ngModel)]="category_name"
          class="form-control"
          required
        >
          <option value="0">--Select--</option>
          <option *ngFor="let categories of categoriesArray">
            {{ categories.name }}
          </option>
        </select>
      </div>
      <div class="modal-body">
        <label>Store</label>

        <select
          name="store_name"
          [(ngModel)]="store_name"
          class="form-control"
          required
        >
          <option value="0">--Select--</option>
          <option *ngFor="let store of storeArray">
            {{ store.stores_name }}
          </option>
        </select>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          (click)="searchProducts()"
          class="btn btn-success"
        >
          Apply
        </button>
        <button
          [disabled]="store_name === ''"
          id="closeSaveModel"
          style="display: none"
          class="btn btn-success"
          data-dismiss="modal"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div> -->

<script>
  $("button.btn.filter").click(function () {
    $(".filteropen-div").toggle();
  });
</script>
