.container {
    max-width: 1101px;
}
#myModals .modal-content {
    height: 550px;
    overflow-y: auto;
    border-radius: 5px;
}
#myModals .modal-dialog {
    max-width: 500px !important;
    width: 500px !important;
}