

  <div class="container">
    <h3 class="title"><b>Add Product For <span style="color:red;">{{this.name}}</span></b></h3><br>
     <form novalidate [formGroup]="formGroup">
      <div *ngIf="formGroup?.value"></div>
    <div class="form-group">
     
      <div class="row">
          <div class="col-sm-8">
          <input type="hidden" name='products_category_id' [(ngModel)]=this.name class="form-control"
             readonly>
        
        </div>
      </div>
      
    </div>
    <div class="form-group">
      <label>Name:</label>
      <div class="row">
        <div class="col-sm-8">
          <input type="text" name='products_name' formControlName="products_name"  [(ngModel)]="products_name" class="form-control"
            placeholder="Enter Product Name" required>
            <div  *ngIf="formGroup.controls['products_name'].touched">
              <div *ngIf="formGroup.controls['products_name'].errors?.required" class="alert alert-danger">Product name is required
            </div>
            <div *ngIf="formGroup.controls['products_name'].errors?.minlength" class="alert alert-danger">Product name must be atleast 3 character in length
            </div>
          </div>
        </div>
      </div>
     
    </div>
    <div class="form-group">


      <div class="row">
        <div class="col-sm-4">
          <label>Quantity:</label>
          <input type="number" name='products_quantity' formControlName="products_quantity"  [(ngModel)]="products_quantity" min="1"
            class="form-control pointer" placeholder="Enter Product Quantity" required>
            <div  *ngIf="formGroup.controls['products_quantity'].touched">
              <div *ngIf="formGroup.controls['products_quantity'].errors?.required" class="alert alert-danger">Product quantity is required
            </div>
           
          </div>
        </div>
        <div class="col-sm-4">
          <label>Unit:</label>
          <select name="products_unit" formControlName="products_unit"  [(ngModel)]="products_unit" class="form-control" required>
            <option value="none" selected disabled>
              Select an Option
            </option>
            <option value="kg" selected>Kilogram</option>
            <option value="gram">Gram</option>
            <option value="litre">Litre</option>
            <option value="litre">Packet</option>
          </select>
          <div  *ngIf="formGroup.controls['products_unit'].touched">
            <div *ngIf="formGroup.controls['products_unit'].errors?.required" class="alert alert-danger">Product unit is required
          </div>
          <!-- <div *ngIf="formGroup.controls['products_unit'].errors?.minlength" class="alert alert-danger">Product name must be atleast 3 character in length
          </div> -->
        </div>
        </div>
      </div>
    </div>
    <div class="form-group">

      <div class="row">
        <div class="col-sm-4">
          <label>Price:</label>
          <input type="text" name='products_price' formControlName="products_price" [(ngModel)]="products_price" class="form-control"
            placeholder="Enter Product Price" required>
             <div  *ngIf="formGroup.controls['products_price'].touched">
        <div *ngIf="formGroup.controls['products_price'].errors?.required" class="alert alert-danger">Product price is required
      </div>
     
    </div>
        </div>
        <div class="col-sm-4">
          <label>Default Store Name:</label>
          <select name='default_store' formControlName="default_store" [(ngModel)]="default_store" class="form-control"
           required>  
            <option value="0">--Select--</option>  
            <option *ngFor="let store of storeListsArray">{{store.stores_name}} </option>  
         </select> 
         <div  *ngIf="formGroup.controls['default_store'].touched">
            <div *ngIf="formGroup.controls['default_store'].errors?.required" class="alert alert-danger">Store name is required
            </div>
         </div>
          </div>
          </div>
     </div>
     <div class="form-group">
          <div class="row">
            <div class="col-sm-4">
              <label>Stocks Lasts:</label>
              <input type="date" name='products_stocks_lasts' formControlName="products_stocks_lasts"  [(ngModel)]="products_stocks_lasts" class="form-control">
               <div  *ngIf="formGroup.controls['products_stocks_lasts'].touched">
                <div *ngIf="formGroup.controls['products_stocks_lasts'].errors?.required" class="alert alert-danger">Product Stocks lasts is required
              </div>
            </div>
            </div>
            <div class="col-sm-4">
              <label>Shelf Life</label>
              <input type="text" name='products_shelf_life' formControlName="products_shelf_life" [(ngModel)]="products_shelf_life" class="form-control">
              <div  *ngIf="formGroup.controls['products_shelf_life'].touched">
                <div *ngIf="formGroup.controls['products_shelf_life'].errors?.required" class="alert alert-danger">Product shelf life is required
              </div>
            </div>
            </div>
           </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-sm-4">
            <label>Expiry Date:</label>
            <input type="date" name='products_expiry_date' formControlName="products_expiry_date" [(ngModel)]="products_expiry_date" class="form-control">
            <div  *ngIf="formGroup.controls['products_expiry_date'].touched">
                <div *ngIf="formGroup.controls['products_expiry_date'].errors?.required" class="alert alert-danger">Expiry date is required
              </div>
             
            </div>
          </div>
          <div class="col-sm-4">
            <label>Notes</label>
            <input type="text" name='products_notes' formControlName="products_notes" [(ngModel)]="products_notes" class="form-control">
            <div  *ngIf="formGroup.controls['products_notes'].touched">
              <div *ngIf="formGroup.controls['products_notes'].errors?.required" class="alert alert-danger">Product notes is required
            </div>
            <div *ngIf="formGroup.controls['products_notes'].errors?.minlength" class="alert alert-danger">Product notes must be atleast 3 character in length
            </div>
          </div>
          </div>
         </div>
    </div>
          <div class="form-group">
          <div class="row">
            <div class="col-sm-4">
              
          <!-- <label>Store Name(Optional):</label>
          <div *ngIf="productsArray.length == 0; else elseBlock">
            <input type="text" name='products_store' [(ngModel)]="products_store" class="form-control"
            placeholder="Enter Store Name" required>
          </div>
          <ng-template #elseBlock>
            <span *ngFor="let product of productsArray; let i = index" >
            <input type="text" name='products_store' [(ngModel)]="product.products_store" class="form-control"
            required>
            </span>
          </ng-template> -->
          
            <label>Sub-category:</label>
            <select class="form-control select" formControlName="products_sub_cat_id" (change)="getSelectedOptionText($event)">
              <option value="0">Please select Value</option>  
              <option *ngFor="let subCats of subcategoryListsArray" value="{{subCats.subCategories_id}}">{{subCats.subCategories_name}}</option>
            </select>
            <!-- <select name='products_sub_cat_id' (change)="setSelectedStatus(products_sub_cat_id)" formControlName="products_sub_cat_id" [(ngModel)]="products_sub_cat_id" class="form-control"
           required>  
            <option value="0">--Select--</option>  
            <option *ngFor="let subCats of subcategoryListsArray"  [value]="subCats.subCategories_id">{{subCats.subCategories_id}} {{subCats.subCategories_name}} </option>  
          </select>  -->
            <!-- <select name='products_sub_cat_id'  [(ngModel)]="products_sub_cat_id" class="form-control" required>  
              <option value="0">--Select--</option>  
              
              <option *ngFor="let subCats of subcategoryListsArray; let i = index" [(ngModel)]="subCats.subCategories_id">{{subCats.subCategories_id | json}}  </option>  
           </select>  -->
           <!-- <div  *ngIf="formGroup.controls['products_sub_cat_id'].touched">
              <div *ngIf="formGroup.controls['products_sub_cat_id'].errors?.required" class="alert alert-danger">Subcategory is required
              </div>
           </div> -->
            
            </div>
          <div class="col-sm-4">
              <label>Image</label>
              <!-- <input type="text" name='products_image' [(ngModel)]="products_image" class="form-control"> -->
              <input type="file" name="products_image" formControlName="products_image" (change)="onFileSelected($event)" class="form-control">
              <div  *ngIf="formGroup.controls['products_image'].touched">
                <div *ngIf="formGroup.controls['products_image'].errors?.required" class="alert alert-danger">Product image is required
              </div>
             
            </div>
            </div>
            </div>
            </div>
      </form>
      </div>
   


    <!-- <tr> {{this.Category}}</tr> -->
    <div class="form-group">
      <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-4">
          <button type="submit" (click)='addProducts()' class="btn btn-success">Add Product  <i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
        </div>
        <div class="col-sm-2">
         
        </div>
      </div>
    </div>
  
