<!-- 
<form action="action_page.php">
    <div class="container">
        <h1>Register</h1>  
        <p>Please fill in this form to create an account.</p>
        <form novalidate [formGroup]="formGroup">
            <div *ngIf="formGroup?.value"></div>
        <div class="form-group">
           
            <div class="row">

                <div class="col-sm-6">
                    <hr>
                    <label><b>Name</b></label>
                    <input type="text" [(ngModel)]="name" name="name" formControlName="name"  placeholder="Enter Name"  id="name" required>
                    <div  *ngIf="formGroup.controls['name'].touched">
                        <div *ngIf="formGroup.controls['name'].errors?.required" class="alert alert-danger"> Name is required
                      </div>
                     
                      <div *ngIf="formGroup.controls['name'].errors?.minlength" class="alert alert-danger"> Name must be atleast 3 character in length
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <label><b>Email</b></label>
                    <input type="text" [(ngModel)]="email" name="email" formControlName="email"  placeholder="Enter Email"  id="email" required>
                    <div  *ngIf="formGroup.controls['email'].touched">
                        <div *ngIf="formGroup.controls['email'].errors?.required" class="alert alert-danger"> Email is required
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <label><b>Password</b></label>
                    <input type="password" [(ngModel)]="password" name="password" formControlName="password"  placeholder="Enter Password"  required>
                    <div  *ngIf="formGroup.controls['password'].touched">
                        <div *ngIf="formGroup.controls['password'].errors?.required" class="alert alert-danger"> Password is required
                      </div>
                      
                      <div *ngIf="formGroup.controls['password'].errors?.minlength" class="alert alert-danger"> Password must be atleast 6 character in length
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-sm-6">
                    <hr>
                    <button type="submit" (click)='addUsers()' class="registerbtn">Register</button>
                    <button [routerLink]="['/']" class="signinbtn">Already have account? Sign in.</button>

                </div>
            </div>
        </div>


</form>
    </div>

</form> -->

<div class="login-main Signup">
    <div class="login-left">
       <div class="login-left-inn">
          <div class="logo-div">
             <a href=""><img src="assets/theme/images/top-logo.png"></a>
          </div>
          <div class="login-right-inner">
             <h3>Join and get prepping.</h3>
             <div class="social-links-for-login">
                <button class="btn" (click)="loginWithGoogle()"><img class="google-icon" src="assets/theme/images/google.png" alt=""></button>
                <button class="btn"><i class="fab fa-apple"></i></button>
                <button class="btn" (click)="loginWithFacebook()"><i class="fab fa-facebook-f"></i></button>
             </div>
             <h6 class="or-login">or use your email for registration</h6>
             <form novalidate [formGroup]="formGroup">
                <div *ngIf="formGroup?.value"></div>
                <div class="form-group">
                   <input type="name" [(ngModel)]="name" name="name" formControlName="name" class="form-control"  (keypress)="allowAlphabetic($event)"  placeholder="Name">
                   <div  *ngIf="formGroup.controls['name'].touched">
                    <div *ngIf="formGroup.controls['name'].errors?.required" class="alert alert-danger"> Name is required
                  </div>
                 
                  <div *ngIf="formGroup.controls['name'].errors?.minlength" class="alert alert-danger"> Name must be atleast 3 character in length
                  </div>
                </div>
                </div>
                <div class="form-group">
                   <input type="email" [(ngModel)]="email" name="email" formControlName="email" class="form-control"   placeholder="Email Address">
                   <div  *ngIf="formGroup.controls['email'].touched">
                    <div *ngIf="formGroup.controls['email'].errors?.required" class="alert alert-danger"> Email is required
                  </div>
                  <div *ngIf="formGroup.controls['email'].errors?.pattern" class="alert alert-danger"> invalid email
                </div>
                </div>
                </div>
                <div class="form-group">

                   <input [type]="show ? 'text' : 'password'" [(ngModel)]="password" name="password" formControlName="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                   <a (click)="password_show()" class="view"><i class="far fa-eye"></i></a>
                   <div  *ngIf="formGroup.controls['password'].touched">
                    <div *ngIf="formGroup.controls['password'].errors?.required" class="alert alert-danger"> Password is required
                  </div>
                  <div *ngIf="formGroup.controls['password'].errors?.pattern" class="alert alert-danger"> Password must contain one uppercase,one lowercase,number and special character.
                </div>
                  <!-- <div *ngIf="formGroup.controls['password'].errors?.minlength" class="alert alert-danger"> Password must be atleast 6 character in length
                  </div> -->
                </div>
                </div>
                </form>
                <button type="submit" [disabled]="formGroup?.invalid" (click)='addUsers()' class="btn">GET STARTED   <i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
                <div class="accounthave">
                   <h6>By clicking on "Get Started" you agree to tinyprep.™<br> <a [routerLink]="['/terms-conditions']"> Terms & Conditions </a> and <a href="" [routerLink]="['/privacy-policy']">Privacy Statement</a></h6>
                   <h6>Already have an account?<a href="" [routerLink]="['/']"> Sign in Now</a></h6>
                </div>
           
          </div>
       </div>
    </div>
    <div class="login-right">
       <img src="assets/theme/images/login_right_side.png" alt="">
    </div>
 </div>