<div class="dashboard-body">
  <div class="dashboard-left-part">
    <app-sidebar></app-sidebar>
  </div>
  <div class="dashboard-right-part">
    <div class="right-inn-main">
      <div class="">
        <div class="dashboard-seactions-outer">
          <div class="Forgot-pass">
            <div class="Forgot-pass-inn edit-profiles">
              <!-- <span class="edit-pro">
                           <span class="edit-pro-inn">
                           <img src="images/doc-img.png" alt="">
                           
                           </span>
                           </span> -->
              <form novalidate [formGroup]="formGroup" enctype="multipart/form-data">
                <div *ngIf="formGroup?.value"></div>
                <div class="avatar-upload">
                  <div class="avatar-edit">
                    <input
                      type="file"
                      (change)="onFileSelected($event)"
                      id="imageUpload"
                      name="image"
                      accept=".png, .jpg, .jpeg"
                    />
                    <input
                      type="hidden"
                      id="imageInput"
                      [(ngModel)]="image"
                      name="image"
                      formControlName="image"
                    />
                   
                    <label for="imageUpload"><i class="fas fa-pen"></i></label>
                    <div *ngIf="formGroup.controls['image'].touched">
                     <div
                       *ngIf="formGroup.controls['image'].errors?.required"
                       class="alert alert-danger"
                     >
                       Image is required
                     </div>
                   </div>
                  </div>
                  <div class="avatar-preview">
                    <img
                      id="imagePreview"
                      src="{{
                        localImageUrl
                          ? localImageUrl
                          : image
                          ? imageDirectoryPath + image
                          : defaultimage
                      }}"
                      class="imgPlaceholder"
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="name"
                        name="name"
                        formControlName="name"
                        [(ngModel)]="name"
                        class="form-control"
                        placeholder="Name"
                      />
                      <div *ngIf="formGroup.controls['name'].touched">
                        <div
                          *ngIf="formGroup.controls['name'].errors?.required"
                          class="alert alert-danger"
                        >
                          name is required
                        </div>
                        
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="text"
                        name="email"
                        formControlName="email"
                        [(ngModel)]="email"
                        class="form-control"
                        placeholder="Email Address"
                      />
                      <div *ngIf="formGroup.controls['email'].touched">
                        <div
                          *ngIf="formGroup.controls['email'].errors?.required"
                          class="alert alert-danger"
                        >
                          email is required
                        </div>
                        <div
                          *ngIf="formGroup.controls['email'].errors?.pattern"
                          class="alert alert-danger"
                        >
                          invalid email.
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="button">
                <button (click)="editProfile()">
                  Save <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                </button>
              </div>
            </div>
            <div class="Forgot-pass-inn edit-profiles">
              <h2 class="chang-pas">Change Password</h2>
              <form novalidate [formGroup]="formGroup">
                <div *ngIf="formGroup?.value"></div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="password"
                        name="old_password"
                        formControlName="old_password"
                        [(ngModel)]="old_password"
                        class="form-control"
                        placeholder="Current Password"
                      />
                      <div *ngIf="formGroup.controls['old_password'].touched">
                        <div
                          *ngIf="
                            formGroup.controls['old_password'].errors?.required
                          "
                          class="alert alert-danger"
                        >
                          old password is required
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="password"
                        name="new_password"
                        formControlName="new_password"
                        [(ngModel)]="new_password"
                        class="form-control"
                        placeholder="New Password"
                      />
                      <div *ngIf="formGroup.controls['new_password'].touched">
                        <div
                          *ngIf="
                            formGroup.controls['new_password'].errors?.required
                          "
                          class="alert alert-danger"
                        >
                          new password is required
                        </div>

                        <div
                          *ngIf="
                            formGroup.controls['new_password'].errors?.minlength
                          "
                          class="alert alert-danger"
                        >
                          new password must be atleast 6 character in length
                        </div>
                      </div>
                      <div
                        *ngIf="
                          formGroup.controls['new_password'].errors?.pattern
                        "
                        class="alert alert-danger"
                      >
                        Password must contain one uppercase,one lowercase,number
                        and special character.
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="button">
                <button
                  disabled="{{
                    formGroup.controls['new_password'].errors ? 'disabled' : ''
                  }}"
                  (click)="changePassword()"
                >
                  Save <i class="fa fa-spinner fa-spin" *ngIf="loading"></i>
                </button>
              </div>
            </div>
            <div class="Forgot-pass-inn edit-profiles">
              <h2 class="chang-pas">Linked accounts</h2>
              <form>
                <div class="link-acc">
                  <div class="row">
                    <div class="col-md-4 left">
                      <img
                        src="assets/theme/images/google.png"
                        alt=""
                        class="link-acc-img"
                      />
                      Google
                    </div>
                    <div class="col-md-4 middle">Not Connected</div>
                    <div class="col-md-4 right">
                      <i class="fas fa-link"></i>
                      <a href="javascript:void(0)" (click)="loginWithGoogle()"
                        >Link</a
                      >
                    </div>
                  </div>
                </div>
                <div class="link-acc">
                  <div class="row">
                    <div class="col-md-4 left">
                      <img
                        src="assets/theme/images/apple-link-acc.png"
                        alt=""
                        class="link-acc-img"
                      />
                      Apple
                    </div>
                    <div class="col-md-4 middle">
                      <!-- <div id="appleid-signin" data-color="black" data-border="true" data-type="sign in"></div> -->

                      Not Connected
                    </div>
                    <div class="col-md-4 right">
                      <i class="fas fa-link"></i>
                      <a href="javascript:void(0)" (click)="applelogin()"
                        >Link</a
                      >
                    </div>
                  </div>
                </div>
                <div class="link-acc">
                  <div class="row">
                    <div class="col-md-4 left">
                      <img
                        src="assets/theme/images/fb-link-acc.png"
                        alt=""
                        class="link-acc-img"
                      />
                      Facebook
                    </div>
                    <div class="col-md-4 middle">Not Connected</div>
                    <div class="col-md-4 right">
                      <i class="fas fa-link"></i>
                      <a href="javascript:void(0)" (click)="loginWithFacebook()"
                        >Link</a
                      >
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>


      </div>
     
    </div>
  </div>
</div>

<button
  class="underdevelopment-go-action"
  data-toggle="modal"
  data-target="#underdevelopment-go"
></button>
<div
  class="modal fade underdevelopment-go"
  id="underdevelopment-go"
  tabindex="-1"
  role="dialog"
  aria-labelledby="Shopping-go"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="congrats-content">Apple login is Under Develpment!</div>
        <!-- congrats-content -->
      </div>
    </div>
  </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="assets/theme/js/jquery.min.js"></script>
<script src="assets/theme/js/popper.min.js"></script>
<script src="assets/theme/js/bootstrap.min.js"></script>
<script src="assets/theme/js/loader.js"></script>
<script type="text/javascript">
  function readURL(input) {
    if (input.files && input.files[0]) {
      var reader = new FileReader();
      reader.onload = function (e) {
        $("#imagePreview").css(
          "background-image",
          "url(" + e.target.result + ")"
        );
        $("#imagePreview").hide();
        $("#imagePreview").fadeIn(650);
      };
      reader.readAsDataURL(input.files[0]);
    }
  }
  $("#imageUpload").change(function () {
    readURL(this);
  });
</script>
