.help-seactions .row{
   
        border: 1px solid #e8e8e8;
        box-shadow: 0px 0px 4px 0px rgb(207 207 207 / 37%);
        border-radius: 12px;
        padding: 20px;
        background: #ffffff;
        margin: 0px;
        margin-bottom: 20px;
        color: #696969;
}

.help-seactions .row .col-md-3{
    text-align: center;
    cursor: pointer;
}

.help-notofications-section .row{
    width: 50%;
    margin-left: 5px;
    
}

.help-notofications-section .row *{
    color: #696969;
}
.help-notofications-section .row li.col-md-6::before {
    content: ".";
    height: 10px;
    width: 10px;
    background: #e74a98;
    color: transparent;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    left: -5px;
    top: 7px;
}
.right-inn-main .help-notofications-section li a {
    color: #262626;
    font-size: 17px;
}
.right-inn-main .help-notofications-section li {
    margin: 5px 0;
}