

   
    <div class="help-body">
        <app-sidebar></app-sidebar>
    <div class="dashboard-right-part">
       <div class="right-inn-main">
          <div class="top-heading">
             <div class="welcomeadmintext">
                <h6>Get Help
                </h6>
             
             </div>
          </div>
          <div class="help-seactions-outer">
             <div class="help-seactions">
                   <div class="row">  
                      <div class="col-md-3" routerLink='/getting-started'>
                         <div class="help-seaction-single" data-toggle="modal" data-target="#welcomevideo">
                            <div class=" card1">
                               <div class="card-top-img">
                                  <img src="assets/theme/images/get_icon1.png" alt="">
                               </div>
                               <h6>Getting Started</h6>
                               
                            </div>
                         </div>
                      </div>
                      <div class="col-md-3" routerLink='/feature-request' >
                         <div class="help-seaction-single">
                            <div class=" card2">
                               <div class="card-top-img">
                                  <img src="assets/theme/images/get_icon2.png" alt="">
                               </div>
                               <h6>Feature Request</h6>
                               
                            </div>
                         </div>
                      </div>
                      <div class="col-md-3"  routerLink='/submit-testimonial'>
                         <div class="help-seaction-single">
                            <div class=" card3">
                               <div class="card-top-img">
                                  <img src="assets/theme/images/get_icon3.png" alt="">
                               </div>
                               <h6>Submit Testimonial</h6>
                               
                            </div>
                         </div>
                      </div>
                      <div class="col-md-3"  routerLink='/ask-penny'>
                         <div class="help-seaction-single">
                            <div class=" card4">
                               <div class="card-top-img">
                                  <img src="assets/theme/images/get_icon4.png" alt="">
                               </div>
                               <h6>Ask Penny</h6>
                              
                            </div>
                         </div>
                      </div>
                   </div>
             </div>
          </div>
          <div class="help-notofications-section">
             <ul class="row">
                 <li class="col-md-6"><a [routerLink]="['/report-bug']" [routerLinkActive]="['active']" href="">Report a Bug</a></li>
                 <li class="col-md-6"><a [routerLink]="['/faq']" [routerLinkActive]="['active']" href="">FAQ's</a></li>
                 <li class="col-md-6"><a [routerLink]="['/feature-request']" [routerLinkActive]="['active']" href="">Feature Request</a></li>
                 <li class="col-md-6"><a [routerLink]="['/submit-testimonial']" [routerLinkActive]="['active']" href="">Submit a Testimonial</a></li>
                 <li class="col-md-6"><a [routerLink]="['/contact-us']" [routerLinkActive]="['active']" href="">Contact Us</a></li>
             </ul>
             <!---LIST--->
          </div>
       </div>
      
    </div>
   

  
