<!-- <div class="jumbotron text-center">
    <h1>TinyPrep</h1>
    <p>Categories</p>
    <p (click)="Logout()">LogOut </p>
  </div> -->
  
  <main class="Category stores">
     <div class="dashboard-body">
        <app-sidebar></app-sidebar>
     <div class="dashboard-right-part">
      <div class="right-inn-main">
        <div class="top-heading">
    <app-sidebar></app-sidebar>
    <div class="top-heading">
      <h4>Sub Categories </h4>
      <button data-toggle="modal" data-target="#myModal_add" class="btn btn-success add-sub-cate"><i class="fa fa-plus" aria-hidden="true"></i> Sub-Categories</button>&nbsp;
    </div>
    <div class="top-head-right-side add-quick-item-main product-list-head-btm">
      <div class="search">
         <img src="assets/theme/images/search-icon.png" alt="search" class="search"><input name="subcategory_search" [(ngModel)]="subcategory_search" placeholder="Search Store..." class="form-control">
      </div>
      <button (click)="searchApi()" class="btn btn-sm btn-success search">Search  <i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button> 
   </div>
    <div class="main-table-div category-table">
      <table class="table table-striped">
        <thead>    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Category</th>
      <th>Action</th>
    </tr>
  </thead>
<tbody>
    <tr *ngFor="let post of subArray">
      <td><div class="product-image"><img src='{{imageDirectoryPath}}{{post.subCategories_image}}' ></div></td>
      <td>{{post.subCategories_name}}</td>
      <td>{{post.name}}</td>
      <td>
        <button data-toggle="modal" data-target="#myModals" class="btn btn-sm btn-info" (click)="editSubcats(post.subCategories_id,post.name,post.subCategories_name,post.subCategories_image)">
          <i class="fa fa-edit" aria-hidden="true"></i></button>
      <button class="btn btn-sm btn-danger" (click)="deleteSubCat(post.subCategories_id)"><i class="fa fa-trash" aria-hidden="true"></i></button></td> 
      
       </tr>
      </tbody>
  </table>
  </div>
  </div>
  </div>
</div>
<div id="myModal_add" class="modal fade users-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
           <h4 class="modal-title">Add Subcategory</h4>
        </div>
        <form novalidate [formGroup]="formGroup">
            <div *ngIf="formGroup?.value"></div>
            <div class="modal-body">
        <div class="form-group">
        <label>Category:</label>
        <select class="form-control select" formControlName="products_cat_id" (change)="getSelectedOptionText($event)">
          <option value="0">Please select Value</option>  
          <option *ngFor="let Cats of categoriesArray" value="{{Cats.id}}">{{Cats.name}}</option>
        </select>
       
        </div>

        <div class="form-group">
          <label>Name</label>
          
          <input type="text" name="name" [(ngModel)]="name"  formControlName="name" class="form-control">
          <div  *ngIf="formGroup.controls['name'].touched">
            <div *ngIf="formGroup.controls['name'].errors?.required" class="alert alert-danger">Name is required
          </div>
         
          <div *ngIf="formGroup.controls['name'].errors?.minlength" class="alert alert-danger">Name must be atleast 3 character in length
          </div>
         </div>
        </div>
      
        <div class="form-group">
          <label>Image</label>
          <input type="file" name="subCategories_image" formControlName="subCategories_image" (change)="onFileSelected($event)" class="form-control">
          <div  *ngIf="formGroup.controls['subCategories_image'].touched">
            <div *ngIf="formGroup.controls['subCategories_image'].errors?.required" class="alert alert-danger">Image is required
          </div>
         
        </div>
         </div>
        </div>
         </form>
         <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" #myModal_edit_btn_close>Close</button>
          <button type="button" (click)="addSubcategory()" class="btn btn-success">Save  <i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
          <button [disabled]="subCategories_name === ''" id="closeSaveModel"  style="display: none;" class="btn btn-success"
            data-dismiss="modal">Save</button>
        </div>
      
      </div>
    </div>
  </div> 
  
  <div id="myModals" class="modal fade users-modal" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Edit Sub-Category</h4>
        </div>
       <div class="modal-body">
        <div class="form-group">
            <label> Category</label>
            <input type="hidden" name="type" class="form-control">
            <input name="name" [(ngModel)]="name"  class="form-control" readonly>
          </div>
          <div class="form-group">
            <label> Sub-Category</label>
            <input type="hidden" name="type" class="form-control">
            <input name="subCategories_name" [(ngModel)]="subCategories_name"  class="form-control">
          </div>
    
      
          <div class="form-group">
            <label> Image</label>
            <input type="hidden" name="type" class="form-control">
            <input type="file" name="subCategories_image"  (change)="onFileSelected($event)" class="form-control">
           
            
          </div>
        </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" #myModal_edit_btn_close2>Close</button>
            <button type="button" (click)="editSubcategory()" class="btn btn-success">Save  <i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
            <button [disabled]="subCategories_name === ''" id="closeSaveModel" style="display: none;" class="btn btn-success"
              data-dismiss="modal">Save</button>
          </div>
         
      </div>
  
    </div>
  </div>

  <!-- <app-footer></app-footer> -->