
<!-- <button routerLink='/category-list' class="btn btn-primary btn">Get Started</button> -->

    <div class="dashboard-body">
        <app-sidebar></app-sidebar>
    <div class="dashboard-right-part">
       <div class="right-inn-main">
          <div class="top-heading">
             <div class="welcomeadmintext">
                <h6>Welcome, 
                  <span *ngFor="let data of userDataArray">
                      <td>{{data.name}}</td>
                  </span>
                </h6>
                <div class="top-heading-right-side">
                   <!-- <img src="assets/theme/images/dashboard-clender.png" alt=""> -->
                   <h6>{{currentDate | date:'MMMM d, y'}}</h6>
                   <!-- <div class="notification">
                      <select class="form-control" id="sel1">
                         <option>EN</option>
                         <option>CA</option>
                         <option>NZ</option>
                         <option>AUS</option>
                      </select>
                      <i class="far fa-bell"></i>
                   </div> -->
                </div>
             </div>
          </div>
          <div class="dashboard-seactions-outer">
             <div class="dashboard-seactions">
                   <div class="row">  
                      <div class="col-md-6" routerLink='/shopping-lists'>
                         <div class="dashboard-seaction-single" data-toggle="modal" data-target="#welcomevideo">
                            <div class="card card1">
                               <div class="card-top-img">
                                  <img src="assets/theme/images/icon-1.png" alt="">
                               </div>
                               <h2>My Shopping Lists</h2>
                               <p>View list - filter by stores or categories</p>
                            </div>
                         </div>
                      </div>
                      <div class="col-md-6" routerLink='/category-list' >
                         <div class="dashboard-seaction-single">
                            <div class="card card2">
                               <div class="card-top-img">
                                  <img src="assets/theme/images/icon-2.png" alt="">
                               </div>
                               <h2>My Inventory</h2>
                               <p>Update stock and add to shopping list</p>
                            </div>
                         </div>
                      </div>
                      <div class="col-md-6"  routerLink='/my-store'>
                         <div class="dashboard-seaction-single">
                            <div class="card card3">
                               <div class="card-top-img">
                                  <img src="assets/theme/images/icon-3.png" alt="">
                               </div>
                               <h2>My Stores</h2>
                               <p>Manage your stores</p>
                            </div>
                         </div>
                      </div>
                      <div class="col-md-6"  routerLink='/tinyprep-course'>
                         <div class="dashboard-seaction-single">
                            <div class="card card4">
                               <div class="card-top-img">
                                  <img src="assets/theme/images/icon-4.png" alt="">
                               </div>
                               <h2>tinyprep. Course</h2>
                               <p>Take me back to the Newbie Prepper Course!</p>
                            </div>
                         </div>
                      </div>
                   </div>
             </div>
          </div>
          <div class="notofications-section">
             <h2>Notifications</h2>
             <div class="notofications-single">
                Kraft Singles is running out on 29, May, 2021
                <i class="fas fa-times"></i>
             </div>
             <div class="notofications-single">
                Emmi Gruyere Cheese Item added to inventory on 29, May, 2021
                <i class="fas fa-times"></i>
             </div>
             <div class="notofications-single">
                Kraft Singles is running out on 21, May, 2021  
                <i class="fas fa-times"></i>
             </div>
             <div class="notofications-single">
                Fresh Atlantic Salmon added to inventory on 21, May, 2021
                <i class="fas fa-times"></i>
             </div>
             <!---LIST--->
          </div>
       </div>
      
    </div>
   <a href="#" class="ask-penny"><img src="assets/theme/images/askpeny-icon.png" alt="Ask Penny"></a>
    <div class="modal welcome-message" id="welcome1">
       <div class="modal-dialog  logout">
          <div class="modal-content">
             <div class="modal-body">
                <button type="button" class="close closeoffer" data-dismiss="modal"><i class="fas fa-times"></i></button>
             
                <h2>Logout</h2>
                <p>Are you sure you want to log out?</p>
                <div class="btns">
                   <button class="back">Cancel</button>
                   <button class="next">Continue</button>
                </div>
             </div>
          </div>
       </div>
    </div>
    <div id="welcomevideo" class="modal hide fade">
     <div class="modal-dialog">
         <div class="modal-content">
                
             <div class="modal-body">
                 <button type="button" class="close" data-dismiss="modal">&times;</button>
             <div class="modal-video-div">
                <div class="top-video-div">
                    <video id="video1" width="420">
                       <source src="assets/theme/images/shopping-video.mp4" type="video/mp4">
                         <source src="assets/theme/images/shopping-video.mp4" type="video/ogg">
                     </video>
                     <button  class="playpause"  onClick="playPause()"><img src="assets/theme/images/play.png"></button>
                </div><!-- top-video-div -->
                <div class="video-content-div">
                   <h2>Welcome to tinyprep!</h2>
                   <p>This short tutorial will guide you through some of the major features and functionality of your tinyprep.™ app.</p>
                   <button type="button" class="btn close close-modal" data-dismiss="modal">Exit</button>
                </div><!-- video-content-div -->
             </div><!-- modal-video-div -->
             </div>
         </div>
     </div>
    </div>
      <!--------------------------------->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/theme/js/jquery.min.js"></script>
    <script src="assets/theme/js/popper.min.js"></script>
    <script src="assets/theme/js/bootstrap.min.js"></script>

    <script src="assets/theme/js/loader.js"></script> 
    <script>
       function openChatForm() {
       document.getElementById("myForm1").style.display = "block";
       }
       function closeChatForm() {
       document.getElementById("myForm1").style.display = "none";
       }
       $(".closeoffer").on('click',function(){
       $("#salemyModal").hide();
       });
    </script>
    <script type="text/javascript">
  $(window).on('load', function() {
      $('#myModal').modal('show');
  });

</script>
<script> 
var myVideo = document.getElementById("video1"); 

function playPause() { 
   alert('called u');
if (myVideo.paused) 
  myVideo.play(); 
else 
  myVideo.pause(); 
} 

</script> 
 