<!-- <app-header></app-header>

<div class="container">
  <h4>{{this.name}} - Subcategory Lists &nbsp; 
    <button data-toggle="modal" data-target="#myModal_add" class="btn btn-sm btn-success"><i class="fa fa-plus" aria-hidden="true"></i> Subcategory</button></h4><br>

  <br>
 
     <br>
      <table class="table table-striped">
      
    <thead>
      <tr>
         <th>Name</th>
         <th>Image</th>
         <th>Added on</th>
         <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let subcats of subCategoriesArray; let i = index">
        
        <td [routerLink]="['/list']" [queryParams]="{subCategories_id: subcats.subCategories_id,id: this.id}">{{subcats.subCategories_name}}</td>
      
          <td><img src='{{imageDirectoryPath}}{{subcats.subCategories_image}}' style="width: 131px; height: 58px;"></td>
          <td>{{subcats.subCategories_created_at}}</td>
          <td> 
            <button data-toggle="modal" (click)="editSubcats(subcats.subCategories_id,subcats.subCategories_name,subcats.subCategories_image)" data-target="#myModal_edit" class="btn btn-sm btn-info"><i class="fa fa-edit" aria-hidden="true"></i></button> 
            &nbsp;
            <button (click)="deleteSubCategories(subcats.subCategories_id)" class="btn btn-sm btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button> 
          </td>
      </tr>
    </tbody>
  </table>
</div>
<div id="myModal_add" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
         <h4 class="modal-title">Add Subcategory</h4>
      </div>

      <form novalidate [formGroup]="formGroup">
        <div *ngIf="formGroup?.value"></div>
      <div class="modal-body">
        <label>Name</label>
        
        <input name="subCategories_name" [(ngModel)]="subCategories_name" formControlName="subCategories_name"  class="form-control">
        <div  *ngIf="formGroup.controls['subCategories_name'].touched">
          <div *ngIf="formGroup.controls['subCategories_name'].errors?.required" class="alert alert-danger">Name is required
        </div>
       
        <div *ngIf="formGroup.controls['subCategories_name'].errors?.minlength" class="alert alert-danger">Name must be atleast 3 character in length
        </div>
       </div>
      </div>
    
      <div class="modal-body">
        <label>Image</label>
        <input type="file" name="subCategories_image" formControlName="subCategories_image" (change)="onFileSelected($event)" class="form-control">
        <div  *ngIf="formGroup.controls['subCategories_image'].touched">
          <div *ngIf="formGroup.controls['subCategories_image'].errors?.required" class="alert alert-danger">Image is required
        </div>
       
      </div>
       </div>
       <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button"  (click)="addSubcategory()" class="btn btn-success">Save</button>
        <button [disabled]="subCategories_name === ''" id="closeSaveModel"  style="display: none;" class="btn btn-success"
          data-dismiss="modal">Save</button>
      </div>
    </form>
    </div>
  </div>
</div> 
<div id="myModal_edit" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
         <h4 class="modal-title">Edit Subcategory</h4>
      </div>
     <form novalidate [formGroup]="formGroup">
        <div *ngIf="formGroup?.value"></div>
      <div class="modal-body">
        <label>Name</label>
        <input type="hidden" name="type" class="form-control">
        <input name="subCategories_name" [(ngModel)]="subCategories_name" formControlName="subCategories_name"  class="form-control">
        <div  *ngIf="formGroup.controls['subCategories_name'].touched">
          <div *ngIf="formGroup.controls['subCategories_name'].errors?.required" class="alert alert-danger">Name is required
        </div>
        <div *ngIf="formGroup.controls['subCategories_name'].errors?.minlength" class="alert alert-danger">Name must be atleast 3 character in length
        </div>
      </div>
        
      </div>

      <div class="modal-body">
        <label>Image</label>
        <input type="hidden" name="type" class="form-control">
        <input type="file" name="subCategories_image" (change)="onFileSelected($event)" class="form-control">
        <div  *ngIf="formGroup.controls['subCategories_image'].touched">
          <div *ngIf="formGroup.controls['subCategories_image'].errors?.required" class="alert alert-danger">Image is required
        </div>
      </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" (click)="editSubcategory()" class="btn btn-success">Save</button>
        <button [disabled]="subCategories_name === ''" id="closeSaveModel" style="display: none;" class="btn btn-success"
          data-dismiss="modal">Save</button>
      </div>
      </form>
   </div>
</div>
</div> -->

<main class="Category sub-inventory">
  <div class="dashboard-body">
    <app-sidebar></app-sidebar>
  <div class="dashboard-right-part">
     <div class="right-inn-main">
        <div class="top-heading">
           <div class="top-heading-inn">
              <div class="navbarr-Sub-category">
                 <h6><a [routerLink]="['/category-list']" >My Inventory</a><i class="fas fa-chevron-right"></i><a herf="" class="active">{{this.name}}</a></h6>
              </div>
           </div>
           <div class="filter-buttons">
              <div class="search">
                 <img src="assets/theme/images/search-icon.png" alt="search" class="search">
                 <input type="search" (keyup)="filterSubCat()" name="subcategory_search" [(ngModel)]="subcategory_search" placeholder="Search Subcategory..">
                 <!-- <input type="search" name="subcategory_search" [(ngModel)]="subcategory_search" placeholder="Search Food"> -->
                 &nbsp; 
                 <!-- <button (click)='searchApi()' class="btn btn-sm btn-success">Search  <i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button> -->
              </div>
           </div>
        </div>
        <div class="dashboard-listing manage-category-listing">
           <div class="tab-content login inventory-page">
            <span *ngIf="loadingSpinner">   <!-- page load spinner -->
              <div id="loadingSpinner" #loadingSpinner class="d-flex justify-content-center loadingSpinner">
                <div class="spinner-border" role="status">
                    <span class="sr-only" id="loading"></span>
                </div>
              </div>
            </span>
          
            <div *ngFor="let subcats of subCategoriesArray; let i = index">
              <!-- <div *ngIf="post.type == 1; else elseBlock"> Admin </div>
              <ng-template #elseBlock>Myself </ng-template> -->
              <div *ngIf="((subcategory_search == '') || (subcategory_search != '' && subcats.subCategories_name.toLowerCase().indexOf(subcategory_search.toLowerCase()) > -1 ) )" class="sindle-item for-category" [routerLink]="['/list']" [queryParams]="{subCategories_id: subcats.subCategories_id,id: this.id,category:name,subcategory:subcats.subCategories_name}">
                 <div class="image-section">
                    <!-- <img src="images/my-inventory-sub6.png" alt=""> -->
                    <img src='{{imageDirectoryPath}}{{subcats.subCategories_image}}'>
                 </div>
                 <div class="btm-section">
                    <div class="product-info">
                       <h2 [routerLink]="['/list']" [queryParams]="{subCategories_id: subcats.subCategories_id,id: this.id,category:name,subcategory:subcats.subCategories_name}">{{subcats.subCategories_name}}</h2>
                    </div>
                 </div>
              </div>
              <!-- <ng-container *ngIf="!(subcats.subCategories_name.toLowerCase().indexOf(subcategory_search.toLowerCase()) > -1 )">No Record Found.</ng-container> -->
            </div>
            
              <div *ngIf="!if_records">
                  <p style="color: red;">No Records Found</p>
              </div>
             <!-- <ng-template #elseBlock>No record found </ng-template> -->
             <span *ngIf="subCategoriesArray == ''" style="color: red;">{{messageNotFound}}</span>
             
           </div>     
           <!---LIST--->
           <!----------------->
        </div>
        
     </div>
  
  </div>

