
<div class="login-main Signup Forgot-pss">
    <div class="login-left">
       <div class="login-left-inn">
          <div class="logo-div">
             <a href=""><img src="assets/theme/images/top-logo.png"></a>
          </div>
          <div class="login-right-inner">
             <h3>Forgot your password?</h3>
             <h4>Enter the email address associated with your <br>account and we’ll send you a link to reset your password.</h4>
             <form novalidate [formGroup]="formGroup">
                <div *ngIf="formGroup?.value"></div>
                <div class="form-group">
                   <input type="email" formControlName="email" name="email" [(ngModel)]="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">
                   <div  *ngIf="formGroup.controls['email'].touched" class="error-div">
                    <div *ngIf="formGroup.controls['email'].errors?.required" class="alert alert-danger"> Email is required</div>
                  <div *ngIf="formGroup.controls['email'].errors?.pattern" class="alert alert-danger"> Invalid email 
                </div>
                </div>
                </div>
            </form>
                <button type="submit" [disabled]="formGroup?.invalid" (click)="forgotPassword()" class="btn">SEND LINK  <i class="fa fa-spinner fa-spin" *ngIf="loading"></i></button>
                <div class="accounthave">
                   <h6><a [routerLink]="['/reset-password']"> Reset Your Password.</a></h6>
                </div>
             
          </div>
       </div>
    </div>
    <div class="login-right">
       <img src="assets/theme/images/login_right_side.png" alt="">
    </div>
 </div> 


