.container {
    max-width: 1052px!important;
}
html{
	padding:0;
	margin: 0;
  min-height:100%;
}
body{
	background: #111;
  position:relative;
  min-height:100%;
}
.button:hover{

}
.button{
	width: 50px;
	height: 50px;
  top:50%;
  position: fixed;
	left: 50%;
	margin-top: -45px;
	margin-left: -50px;
	border-radius: 5px;
	background: none;
	cursor: pointer;
	transition: background 0.5s ease;
}
.active#heart:before,.active#heart:after{
	background: red !important;
}
#heart {
    width: 100px;
    height: 90px;
    transition: background 0.5s ease;
}
#heart:before,
#heart:after {
	transition: background 0.5s ease;
    position: absolute;
    content: "";
    left: 50px;
    top: 0;
    width: 50px;
    height: 80px;
    background: dimgrey;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
}
#heart:after {
    left: 0;
    transform: rotate(45deg);
    transform-origin :100% 100%;
}
/* .container {
  max-width: 1101px;
}
#myModals .modal-content {
  height: 550px;
  overflow-y: auto;
  border-radius: 5px;
}
#myModals .modal-dialog {
  max-width: 500px !important;
  width: 500px !important;
} */