

<div class="container">
  <h4>Product Lists</h4>
  <br>
  <div class="form-group">
    <div class="row">
      <div class="col-sm-2">
        <label>Category</label>
        <select name='category_name' [(ngModel)]="category_name" class="form-control" required>  
          <option value="0">--Select--</option>  
          <option *ngFor="let categories of categoriesArray">{{categories.name}} </option>  
      </select> 
       </div> 
        <div class="col-sm-2">
          <label>Store</label>
          <select name='store_name' [(ngModel)]="store_name" class="form-control" required>  
            <option value="0">--Select--</option>  
            <option *ngFor="let store of storeArray">{{store.stores_name}} </option>  
        </select> 
        </div> 
        <div class="col-sm-2">
          <label>Required For</label>
          <select name='months' [(ngModel)]="months" class="form-control" required>  
            <option value="0">--Select--</option>  
            <option value="3">3 months</option>  
            <option value="6">6 months</option>  
            <option value="12">12 months</option>  
           </select>
        </div>        
         <div class="col-sm-2">
          <label></label>
         <button (click)="searchCatStore()" class="btn btn-success">Generate My Shopping List</button> 
         </div>
        </div>
      </div>
     <br>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Sr.No.</th>
        <th>Product Name</th>
        <th>Product Quantity</th>
        <th>Product Price</th>
        <th>Product Store</th>
        <th>Favorite Store</th>
      
        <th style=" text-align: center;">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let shopping of shoppingListsArray; let i = index">
        <td>{{ i+1 }}</td>
        <td>{{shopping.products_name}}</td>
        <td>{{shopping.products_quantity}} &nbsp; {{shopping.products_unit}}</td>
        <td>$ {{shopping.products_price}}</td>
        <td>{{shopping.products_store}}</td>
        
        <td> <span *ngIf="shopping.products_fav_store == 1"><i class="fa fa-check" aria-hidden="true"></i></span>
          <span *ngIf="shopping.products_fav_store == 0"><i class="fa fa-times" aria-hidden="true"></i>
          </span></td>
        <td>
          <!-- <button data-toggle="modal"
            (click)="editProduct(shopping.products_id,shopping.products_name,shopping.products_quantity,shopping.products_price,shopping.products_unit,shopping.products_store,shopping.products_stocks_lasts,shopping.products_shelf_life,shopping.products_expiry_date,shopping.products_notes,shopping.products_image)"
            data-target="#myModal_store" class="btn btn-sm btn-info"><i class="fa fa-plus" aria-hidden="true"></i> / <i class="fa fa-edit" aria-hidden="true"></i> Store</button> -->
               <button data-toggle="modal"
            (click)="editProduct(shopping.products_id,shopping.products_name,shopping.products_quantity,shopping.products_price,shopping.products_unit,shopping.products_store,shopping.products_stocks_lasts,shopping.products_shelf_life,shopping.products_expiry_date,shopping.products_notes,shopping.products_image)"
            data-target="#myModal_store" class="btn btn-sm btn-info"><i class="fa fa-plus" aria-hidden="true"></i> / <i class="fa fa-edit" aria-hidden="true"></i> Store</button> 
            &nbsp; 
             <button data-toggle="modal" data-target="#myModals" class="btn btn-sm btn-info"
            (click)="editProduct(shopping.products_id,shopping.products_name,shopping.products_quantity,shopping.products_price,shopping.products_unit,shopping.products_store,shopping.products_stocks_lasts,shopping.products_shelf_life,shopping.products_expiry_date,shopping.products_notes,shopping.products_image)"><i class="fa fa-edit" aria-hidden="true"></i></button>
            &nbsp; <button type="submit" (click)="deleteProduct(shopping.products_id)"
            class="btn btn-sm btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
        </td>
      </tr>
      <tr>
        <!-- <td colspan="2">Total Product Price:</td><td colspan="6">$ {{products_total}}</td></tr> -->
      
    </tbody>
  </table>
</div>
<div id="myModals" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
        <h4 class="modal-title">Edit Products</h4>
      </div>
 <form novalidate [formGroup]="formGroup">
    <div *ngIf="formGroup?.value"></div>
      <div class="modal-body">
        <label>Product Name</label>
        <input name="products_name" formControlName="products_name" [(ngModel)]="products_name" class="form-control" readonly>
         <div  *ngIf="formGroup.controls['products_name'].touched">
              <div *ngIf="formGroup.controls['products_name'].errors?.required" class="alert alert-danger">Product name is required
            </div>
          
          </div>
      </div>
      <div class="modal-body">
        <label>Product Price</label>
        <input name="products_price" formControlName="products_price" [(ngModel)]="products_price" class="form-control">
         <div  *ngIf="formGroup.controls['products_price'].touched">
              <div *ngIf="formGroup.controls['products_price'].errors?.required" class="alert alert-danger">Price is required
            </div>
          
          </div>
      </div>
      <div class="modal-body">
        <label>Product Unit</label>
        <input name="products_unit" formControlName="products_unit" [(ngModel)]="products_unit" class="form-control">
         <div  *ngIf="formGroup.controls['products_unit'].touched">
              <div *ngIf="formGroup.controls['products_unit'].errors?.required" class="alert alert-danger">Product unit is required
            </div>
           
          </div>
      </div>
      <div class="modal-body">
        <label>Product Quantity</label>
      
        <input name="products_quantity" formControlName="products_quantity" [(ngModel)]="products_quantity" class="form-control">
         <div  *ngIf="formGroup.controls['products_quantity'].touched">
              <div *ngIf="formGroup.controls['products_quantity'].errors?.required" class="alert alert-danger">Product quantity is required
            </div>
            
          </div>
      </div>
      <div class="modal-body">
        <label>Product Store</label>
       <input name="products_store" formControlName="products_store" [(ngModel)]="products_store" class="form-control"> 
        <div  *ngIf="formGroup.controls['products_store'].touched">
              <div *ngIf="formGroup.controls['products_store'].errors?.required" class="alert alert-danger">Product store is required
            </div>
         </div>
      </div>
       <div class="modal-body">
        <label>Product Stocks lasts</label>
       <input name="products_stocks_lasts" type="date" formControlName="products_stocks_lasts" [(ngModel)]="products_stocks_lasts" class="form-control"> 
        <div  *ngIf="formGroup.controls['products_stocks_lasts'].touched">
              <div *ngIf="formGroup.controls['products_stocks_lasts'].errors?.required" class="alert alert-danger">Product stocks lasts is required
            </div>
         
          </div>
      </div>
       <!-- <div class="modal-body">
        <label>Product Expiry Date</label>
       <input name="products_expiry_date" type="date" formControlName="products_expiry_date" [(ngModel)]="products_expiry_date" class="form-control"> 
        <div  *ngIf="formGroup.controls['products_expiry_date'].touched">
              <div *ngIf="formGroup.controls['products_expiry_date'].errors?.required" class="alert alert-danger">Product expiry date is required
            </div>
         
          </div>
      </div> -->
       <div class="modal-body">
        <label>Product notes</label>
       <input name="products_notes" formControlName="products_notes" [(ngModel)]="products_notes" class="form-control"> 
        <div  *ngIf="formGroup.controls['products_notes'].touched">
              <div *ngIf="formGroup.controls['products_notes'].errors?.required" class="alert alert-danger">Product notes is required
            </div>
         
          </div>
      </div>
       <div class="modal-body">
        <label>Product shelf life</label>
       <input name="products_shelf_life" formControlName="products_shelf_life" [(ngModel)]="products_shelf_life" class="form-control"> 
        <div  *ngIf="formGroup.controls['products_shelf_life'].touched">
              <div *ngIf="formGroup.controls['products_shelf_life'].errors?.required" class="alert alert-danger">Product shelf life is required
            </div>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" (click)="editProducts()" class="btn btn-success">Save</button>
        <button [disabled]="products_name === ''" id="closeSaveModel" style="display: none;" class="btn btn-success"
          data-dismiss="modal">Save</button>
      
    </div>
  </form>
  </div>
</div>
</div>
<div id="myModal_store" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        
        <h4 class="modal-title">Add/Edit Store</h4>
        <input type="hidden" name="products_id" [(ngModel)]="products_id" class="form-control" readonly>
        <button type="button" (click)="addToFavorite()" class="btn btn-danger"><i class="fa fa-heart" title="Add To Favorite" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body">
        <label>Product Store</label>
       <input name="products_store"  [(ngModel)]="products_store" class="form-control"> 
      </div>
      <!-- <div class="modal-body">
       
          <label>Store Name</label>
        <input name="products_store" formControlName="products_store"  [(ngModel)]="products_store" class="form-control">
        {{products_store}}
      </div> -->
  
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" (click)="editProducts()" class="btn btn-success">Save</button>
        <button [disabled]="products_name === ''" id="closeSaveModel" style="display: none;" class="btn btn-success"
          data-dismiss="modal">Save</button>
      </div>
     
    </div>

  </div>
</div>